.badge-user-2PRu_G83 {
    --ui-lib-badge-color-content: #fff
}

.badge-user-2PRu_G83.pro-premium-2PRu_G83 {
    --ui-lib-badge-background: #ff9800;
    --ui-lib-badge-color-focus-outline: #ff9800
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.badge-user-2PRu_G83.pro-premium-2PRu_G83:hover {
        --ui-lib-badge-background: #f57c00
    }
}

.badge-user-2PRu_G83.pro-realtime-2PRu_G83 {
    --ui-lib-badge-background: #2962ff;
    --ui-lib-badge-color-focus-outline: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.badge-user-2PRu_G83.pro-realtime-2PRu_G83:hover {
        --ui-lib-badge-background: #1e53e5
    }
}

.badge-user-2PRu_G83.pro-2PRu_G83 {
    --ui-lib-badge-background: #22ab94;
    --ui-lib-badge-color-focus-outline: #22ab94
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.badge-user-2PRu_G83.pro-2PRu_G83:hover {
        --ui-lib-badge-background: #06806b
    }
}

.badge-user-2PRu_G83.moderator-2PRu_G83 {
    --ui-lib-badge-background: #f7525f;
    --ui-lib-badge-color-focus-outline: #f7525f
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.badge-user-2PRu_G83.moderator-2PRu_G83:hover {
        --ui-lib-badge-background: #cc2f3c
    }
}

.badge-user-2PRu_G83.trial-2PRu_G83 {
    --ui-lib-badge-background: #787b86;
    --ui-lib-badge-color-focus-outline: #787b86
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.badge-user-2PRu_G83.trial-2PRu_G83:hover {
        --ui-lib-badge-background: #5d606b
    }
}

.badge-user-2PRu_G83.pine-wizard-2PRu_G83 {
    --ui-lib-badge-background: #651fff;
    --ui-lib-badge-color-focus-outline: #651fff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.badge-user-2PRu_G83.pine-wizard-2PRu_G83:hover {
        --ui-lib-badge-background: #4527a0
    }
}

.badge-user-2PRu_G83.employee-2PRu_G83 {
    --ui-lib-badge-background: #2962ff;
    --ui-lib-badge-color-focus-outline: #2962ff;
    --ui-lib-badge-padding-left: 0;
    --ui-lib-badge-padding-right: 0;
    justify-content: center
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.badge-user-2PRu_G83.employee-2PRu_G83:hover {
        --ui-lib-badge-background: #1e53e5
    }
}

.badge-user-2PRu_G83.employee-2PRu_G83 .employee-logo-icon-2PRu_G83 {
    display: inline-flex;
    filter: brightness(0) invert(1)
}

.badge-user-2PRu_G83.employee-2PRu_G83.size-xsmall-2PRu_G83 {
    width: 12px
}

.badge-user-2PRu_G83.employee-2PRu_G83.size-xsmall-2PRu_G83 .employee-logo-icon-2PRu_G83 {
    height: 4px;
    width: 8px
}

.badge-user-2PRu_G83.employee-2PRu_G83.size-small-2PRu_G83 {
    width: 16px
}

.badge-user-2PRu_G83.employee-2PRu_G83.size-small-2PRu_G83 .employee-logo-icon-2PRu_G83 {
    height: 6px;
    width: 12px
}

.badge-user-2PRu_G83.employee-2PRu_G83.size-medium-2PRu_G83 {
    width: 20px
}

.badge-user-2PRu_G83.employee-2PRu_G83.size-medium-2PRu_G83 .employee-logo-icon-2PRu_G83 {
    height: 8px;
    width: 16px
}

.badge-user-2PRu_G83.employee-2PRu_G83.size-large-2PRu_G83 {
    width: 24px
}

.badge-user-2PRu_G83.employee-2PRu_G83.size-large-2PRu_G83 .employee-logo-icon-2PRu_G83 {
    height: 10px;
    width: 20px
}

.badge-user-2PRu_G83.employee-2PRu_G83.size-xlarge-2PRu_G83 {
    width: 32px
}

.badge-user-2PRu_G83.employee-2PRu_G83.size-xlarge-2PRu_G83 .employee-logo-icon-2PRu_G83 {
    height: 12px;
    width: 24px
}