.btn-1TM2XdyF.btnDesktop-1TM2XdyF {
    display: inline-flex
}

@media screen and (max-width:479px) {
    .btn-1TM2XdyF.btnDesktop-1TM2XdyF {
        display: none
    }
}

.btn-1TM2XdyF.btnMobile-1TM2XdyF {
    display: none
}

@media screen and (max-width:479px) {
    .btn-1TM2XdyF.btnMobile-1TM2XdyF {
        display: flex;
        min-width: 0
    }
}

.content-1TM2XdyF {
    align-items: center;
    display: flex
}