.tv-user-stat__icon {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle
}

.tv-user-stat__icon svg {
    fill: #c8c8c8;
    display: block
}

.tv-user-stat__icon--user svg {
    width: 15px
}

.tv-user-stat__icon--chart svg {
    width: 28px
}

.tv-user-stat__icon--histogram svg {
    width: 18px
}

.tv-user-stat__histogram-icon-wrap {
    display: inline-block;
    float: left;
    height: 100%
}

.tv-user-stat__histogram-icon-wrap:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.tv-user-stat__value {
    color: #787b86;
    display: inline-block;
    font-size: 14px;
    line-height: 39px;
    vertical-align: middle
}

html.theme-dark .tv-user-stat__value {
    color: #787b86
}

.tv-user-stat__value--composite {
    display: inline-block;
    line-height: 1px;
    vertical-align: middle
}

.tv-user-stat__value--small {
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 1px 0
}

.tv-user-stat__value--positive {
    color: #089981
}

html.theme-dark .tv-user-stat__value--positive {
    color: #056656
}

.tv-user-stat--link {
    display: inline-block;
    margin: -5px;
    padding: 5px
}

.tv-user-stat--link .tv-user-stat__value {
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-user-stat--link:hover .tv-user-stat__value {
        color: #1e53e5;
        transition-duration: .06s
    }
}

.tv-user-stat--link:active .tv-user-stat__value {
    color: #1848cc;
    transition-duration: .06s
}

.tv-user-stat--link .tv-user-stat__icon svg {
    transition: fill .35s ease
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-user-stat--link:hover .tv-user-stat__icon svg {
        fill: #757575;
        transition-duration: .06s
    }
}

.tv-user-stat--link:active .tv-user-stat__icon svg {
    fill: #4a4a4a;
    transition-duration: .06s
}