body {
    background-color: #fff
}

html.theme-dark body {
    background-color: #131722
}

body.tv-body--bg_superdark,
html.theme-dark body.tv-body--bg_superdark {
    background: #131722
}

body.tv-body--bg_contrast {
    background-color: #fff
}

html.theme-dark body.tv-body--bg_contrast {
    background-color: #1e222d
}

body.extension {
    min-width: 0;
    overflow: hidden
}

img {
    border: none
}

textarea {
    resize: none
}

:focus {
    outline: none
}

input,
textarea {
    border-radius: 0
}

.tv-profile .tags,
.unselectable {
    -webkit-user-select: none;
    user-select: none
}

.selectable,
input,
textarea {
    -webkit-user-select: text;
    user-select: text
}

.text-center {
    text-align: center
}

#footer {
    background: #dbdbdb;
    border-top: 1px solid #999;
    color: #626262;
    font-size: small;
    height: 24px
}

#chart-area {
    background: #0000
}

#chart-area,
.chart-container {
    position: relative
}

#chart-area.fullscreen {
    height: 100% !important;
    left: 0;
    position: fixed;
    top: 0;
    width: 100% !important;
    z-index: 15
}

.chart-page {
    background-color: var(--tv-color-platform-background, #e0e3eb)
}

html.theme-dark .chart-page {
    background-color: var(--tv-color-platform-background, #2a2e39)
}

.chart-page .chart-container {
    contain: strict;
    position: relative
}

.chart-page .chart-container-border {
    background-color: #fff;
    border: none;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 0
}

html.theme-dark .chart-page .chart-container-border {
    background-color: #131722
}

.chart-page .chart-container.multiple.active:after {
    border: 2px solid #2962ff;
    bottom: 0;
    box-sizing: border-box;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}

html.theme-dark .chart-page .chart-container.multiple.active:after {
    border-color: #2962ff
}

.chart-page .chart-container.inactive .back-to-present {
    display: none
}

.chart-page .chart-container.no-header-toolbar .chart-container-border {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.chart-page .chart-container.no-bottom-toolbar .chart-container-border {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.ui-tabs .ui-tabs-nav li a {
    font-size: x-small
}

.input-reset {
    border-radius: 50%;
    cursor: pointer;
    display: none;
    height: 16px;
    position: absolute;
    right: 7px;
    top: 7px;
    width: 16px
}

.input-reset:before {
    background: url(1df47f578aeef40dd1f2328338a133be.png) no-repeat -103px -340px;
    content: " ";
    display: block;
    height: 10px;
    left: 50%;
    margin: -5px 0 0 -5px;
    position: absolute;
    top: 50%;
    width: 10px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .input-reset:hover {
        background-color: #f2f5f8
    }
}

.input-reset:active {
    opacity: .6
}

.loading-indicator {
    background: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 150
}

html.theme-dark .loading-indicator {
    background: #131722
}

.ui-slider-horizontal {
    background-color: #f4f7f9;
    border: 1px solid #c9cbcd !important;
    box-shadow: inset 0 1px 2px #00000026;
    height: 5px !important;
    margin: 7px 0 0
}

html.theme-dark .ui-slider-horizontal {
    background-color: #171b29;
    border-color: #2f3241 !important
}

.ui-slider-handle {
    background: url(1df47f578aeef40dd1f2328338a133be.png) -20px -80px !important;
    border: none !important;
    height: 15px !important;
    margin-left: -7px !important;
    top: -5px !important;
    width: 15px !important
}

.ui-slider-horizontal.linewidth-slider {
    background: url(4a9abefd31dab7c8239e02e925aacd78.png) 0 0 no-repeat !important;
    border: none !important;
    box-shadow: none;
    display: inline-block;
    height: 12px !important;
    margin: 7px 10px;
    vertical-align: middle;
    width: 101px
}

.ui-slider-horizontal.linewidth-slider:after,
.ui-slider-horizontal.linewidth-slider:before {
    content: none
}

.ui-slider-horizontal.transparency-slider {
    background: url(7e0cc5f7d7f5151500dd60b8d6ca60a1.png) !important;
    height: 8px !important;
    margin: 7px 10px;
    width: 99px
}

.ui-slider-horizontal.transparency-slider.wide-slider {
    margin: 7px 1px;
    width: 176px
}

.ui-slider-horizontal.transparency-slider .gradient {
    background: linear-gradient(90deg, #0000 0, #7db9e8);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 92%
}

.ui-slider-horizontal.linewidth-slider .ui-slider-handle,
.ui-slider-horizontal.transparency-slider .ui-slider-handle {
    background: url(40566afd832a155e5e370a8bd423de4b.svg) 0 0 no-repeat !important;
    height: 20px !important;
    margin: -10px 0 0 -10px !important;
    top: 50% !important;
    width: 20px !important
}

.ui-slider-horizontal.linewidth-slider .ui-slider-handle.without-shift-handle-left,
.ui-slider-horizontal.transparency-slider .ui-slider-handle.without-shift-handle-left {
    margin: -10px 3px 0 -3px !important
}

.falling,
.growing,
.search-results .symbol-last.falling,
.search-results .symbol-last.growing {
    color: #fff
}

.growing {
    background: #37bc9b
}

.falling {
    background: #ff4a68
}

.font-awesome {
    font-family: FontAwesome;
    font-weight: 700
}

#chart-area .chart-promo,
#chart-container .chart-promo,
.tv-chart-view__chart-inner .chart-promo {
    background: #fff;
    bottom: 55px;
    display: none;
    height: 80px;
    left: 10px;
    position: absolute;
    transition: width .5s ease-in-out;
    width: 0;
    z-index: 5
}

#chart-area .chart-promo.expanded,
#chart-container .chart-promo.expanded,
.tv-chart-view__chart-inner .chart-promo.expanded {
    display: block;
    opacity: 1;
    width: 330px
}

#chart-area .chart-promo a.chart-promo-link,
#chart-container .chart-promo a.chart-promo-link,
.tv-chart-view__chart-inner .chart-promo a.chart-promo-link {
    border: 1px solid #dadee1;
    border-radius: 4px;
    box-shadow: 0 0 30px 0 #00000026;
    color: #000;
    display: block;
    height: 80px;
    width: 330px
}

#chart-area .chart-promo a.chart-promo-link .image-promo,
#chart-container .chart-promo a.chart-promo-link .image-promo,
.tv-chart-view__chart-inner .chart-promo a.chart-promo-link .image-promo {
    height: 80px;
    width: 330px
}

#chart-area .chart-promo a.chart-promo-link .comment,
#chart-container .chart-promo a.chart-promo-link .comment,
.tv-chart-view__chart-inner .chart-promo a.chart-promo-link .comment {
    color: #555;
    display: block;
    font-size: 12px;
    line-height: 60px;
    margin-top: -2px;
    padding: 10px 128px 10px 22px
}

#chart-area .chart-promo a.chart-promo-link .comment .comment-alignment,
#chart-container .chart-promo a.chart-promo-link .comment .comment-alignment,
.tv-chart-view__chart-inner .chart-promo a.chart-promo-link .comment .comment-alignment {
    display: inline-block;
    line-height: 15px;
    max-height: 60px;
    overflow: hidden;
    vertical-align: middle;
    white-space: pre-wrap
}

#chart-area .chart-promo a.chart-promo-link .logo,
#chart-container .chart-promo a.chart-promo-link .logo,
.tv-chart-view__chart-inner .chart-promo a.chart-promo-link .logo {
    float: right;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 128px
}

#chart-area .chart-promo a.chart-promo-link .logo img,
#chart-container .chart-promo a.chart-promo-link .logo img,
.tv-chart-view__chart-inner .chart-promo a.chart-promo-link .logo img {
    max-height: 100%;
    max-width: 85px;
    vertical-align: middle
}

#chart-area .chart-promo a.remove-ad,
#chart-container .chart-promo a.remove-ad,
.tv-chart-view__chart-inner .chart-promo a.remove-ad {
    background: #ecf1f4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #5cbfe7;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    opacity: .8;
    padding: 0 11px;
    position: absolute;
    right: 0;
    top: -18px
}

#chart-container .chart-promo,
.tv-chart-view__chart-inner .chart-promo {
    bottom: 30px
}

#myswf {
    left: 0;
    position: fixed;
    top: 0
}