.tv-feed-widget-chart {
    --tv-color-platform-background: #e0e3eb;
    --tv-color-pane-background: #fff;
    --tv-color-toolbar-button-text: #131722;
    --tv-color-toolbar-button-text-hover: #131722;
    --tv-color-toolbar-button-background-hover: #f0f3fa;
    --tv-color-toolbar-button-text-active: #2962ff;
    flex: 0 0 auto;
    margin: 0 10px;
    position: relative;
    z-index: 0
}

.tv-feed-widget-chart,
html.theme-dark .tv-feed-widget-chart {
    --tv-color-toolbar-button-text-active-hover: #2962ff
}

html.theme-dark .tv-feed-widget-chart {
    --tv-color-toolbar-button-text-active: #2962ff;
    --tv-color-toolbar-button-background-hover: #2a2e39;
    --tv-color-toolbar-button-text-hover: #d1d4dc;
    --tv-color-toolbar-button-text: #d1d4dc;
    --tv-color-pane-background: #1e222d;
    --tv-color-platform-background: #434651
}

@media screen and (max-width:1019px) {
    .tv-feed-widget-chart {
        margin: 0
    }
}

.tv-feed-widget-chart__title-row {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

@media screen and (max-width:1019px) {
    .tv-feed-widget-chart__title-row {
        align-items: flex-start;
        margin: 24px 8px 20px 20px
    }
}

.tv-feed-widget-chart__title {
    color: #131722;
    flex: 0 1 auto;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -.3px;
    line-height: 35px;
    margin-bottom: 0;
    margin-right: 8px;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis
}

html.theme-dark .tv-feed-widget-chart__title {
    color: #b2b5be
}

.tv-feed-widget-chart__container-wrapper {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #e0e3eb;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden
}

html.theme-dark .tv-feed-widget-chart__container-wrapper {
    background-color: #1e222d;
    box-shadow: 0 0 0 1px #0000
}

html.theme-dark .tv-feed-widget-chart__container-wrapper--dark-theme-border {
    box-shadow: 0 0 0 1px #434651
}

@media screen and (max-width:1019px) {
    .tv-feed-widget-chart__container-wrapper {
        border: none;
        border-radius: 0;
        border-top: 1px solid #e0e3eb;
        box-shadow: none;
        margin: 0;
        transition: none
    }
    html.theme-dark .tv-feed-widget-chart__container-wrapper {
        border-top: 1px solid #434651;
        box-shadow: none
    }
    .tv-card-container__chart .tv-feed-widget-chart__container-wrapper {
        border-bottom: 2px solid #e0e3eb
    }
    html.theme-dark .tv-card-container__chart .tv-feed-widget-chart__container-wrapper {
        border-bottom: 2px solid #434651
    }
}

.tv-feed-widget-chart__container {
    height: 550px;
    position: relative
}

.tv-feed-widget-chart__top-control {
    height: 65px;
    overflow: hidden
}

.tv-feed-widget-chart__bottom-banner {
    background: #fff;
    border-top: 1px solid #e0e3eb;
    padding: 16px 24px
}

html.theme-dark .tv-feed-widget-chart__bottom-banner {
    background: #1e222d;
    border-top: 1px solid #434651
}

@media screen and (max-width:767px) {
    .tv-feed-widget-chart__bottom-banner {
        padding: 20px
    }
}

html:not(.is-not-authenticated):not(.is-not-pro) .tv-feed-widget-chart__bottom-banner--broker {
    display: none
}

.tv-feed-widget-chart__full-view-button-container {
    height: 0;
    position: relative;
    text-align: center;
    top: -118px
}

.tv-feed-widget-chart__full-view-button-container--branding,
.tv-feed-widget-chart__full-view-button-container--tv-branding {
    top: -190px
}

html:not(.is-not-authenticated):not(.is-not-pro) .tv-feed-widget-chart__full-view-button-container--branding {
    top: -118px
}

@media screen and (max-width:767px) {
    html:not(.is-not-authenticated):not(.is-not-pro) .tv-feed-widget-chart__full-view-button-container--branding {
        top: 0
    }
    .tv-feed-widget-chart__full-view-button-container {
        border-bottom: 2px solid #e0e3eb;
        height: auto;
        padding: 20px;
        top: 0
    }
    html.theme-dark .tv-feed-widget-chart__full-view-button-container {
        border-bottom: 2px solid #434651
    }
}

.tv-widget-chart-tabs {
    border-bottom: 1px solid #e0e3eb;
    box-sizing: border-box;
    height: 65px;
    overflow: hidden;
    white-space: nowrap
}

html.theme-dark .tv-widget-chart-tabs {
    border-bottom: 1px solid #434651
}

.tv-widget-chart-tabs__tab {
    border-right: 1px solid #e0e3eb;
    color: #f0f3fa;
    display: inline-block;
    height: 100%
}

html.theme-dark .tv-widget-chart-tabs__tab {
    border-right: 1px solid #434651;
    color: #2a2e39
}

.tv-widget-chart-tabs--short {
    height: 45px
}

.tv-widget-chart-tabs--short .tv-widget-chart-tabs__tab {
    color: #f2f3f5;
    padding: 14px 28px
}