.options-1TbOurr7 {
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap
}

.option-1TbOurr7 {
    border-radius: 4px;
    color: #131722;
    cursor: default;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    margin-right: 8px;
    outline: none;
    padding: 6px 8px
}

html.theme-dark .option-1TbOurr7 {
    color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .option-1TbOurr7:hover {
        background-color: #f0f3fa
    }
    html.theme-dark .option-1TbOurr7:hover {
        background-color: #2a2e39
    }
}

.option-1TbOurr7:last-child {
    margin-right: 0
}

.option-1TbOurr7 .input-1TbOurr7 {
    display: none
}

.optionSelected-1TbOurr7 {
    background-color: #3179f52e
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .optionSelected-1TbOurr7:hover {
        background-color: #f0f3fa
    }
    html.theme-dark .optionSelected-1TbOurr7:hover {
        background-color: #2a2e39
    }
}