.childrenWrapper-YKld8srL {
    opacity: 0
}

.childrenWrapper-YKld8srL.shown-YKld8srL {
    opacity: 1
}

.loader-YKld8srL {
    display: none
}

.loader-YKld8srL.shown-YKld8srL {
    display: block
}