.loader-36Gx6JTY {
    position: relative
}

.tv-display-mode-regular .loader-36Gx6JTY {
    height: 92px
}

.tv-display-mode-compact .loader-36Gx6JTY {
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 0;
    margin-right: 8px;
    width: 292px
}

.tv-display-mode-compact .loader-36Gx6JTY:first-child {
    margin-left: 8px
}