@font-face {
    font-display: swap;
    font-family: EuclidCircularSemibold;
    font-style: normal;
    font-weight: 600;
    src: local("EuclidCircularSemibold"), url(a56e5e32838a495e8d36fdb248eb6e09.woff2) format("woff2");
    unicode-range: u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}

@font-face {
    font-display: swap;
    font-family: EuclidCircularSemibold;
    font-style: normal;
    font-weight: 600;
    src: url(96de58fb795baf06a1342779de595490.woff2) format("woff2");
    unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}

@font-face {
    font-display: swap;
    font-family: EuclidCircularSemibold;
    font-style: normal;
    font-weight: 600;
    src: url(5921e51325a069c9cc362db9670343a8.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-display: swap;
    font-family: EuclidCircularSemibold;
    font-style: normal;
    font-weight: 600;
    src: url(d6d5b210bb468170ac3f2a2172f8b9c4.woff2) format("woff2");
    unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-display: swap;
    font-family: EuclidCircularSemibold;
    font-style: normal;
    font-weight: 600;
    src: url(7886caab3e7389e5c9553b8fb3a9314e.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-display: swap;
    font-family: EuclidCircularSemibold;
    font-style: normal;
    font-weight: 600;
    src: url(d9a126b1452c553a18436533f3e63572.woff2) format("woff2");
    unicode-range: u+0370-03ff
}

@font-face {
    font-display: swap;
    font-family: EuclidCircularSemibold;
    font-style: normal;
    font-weight: 600;
    src: url(d9a126b1452c553a18436533f3e63572.woff2) format("woff2");
    unicode-range: u+1f??
}