.tv-badge-broker-winner {
    border-radius: 6px;
    height: 48px;
    width: 48px
}

.tv-badge-broker-winner__ba-of-the-year {
    background: url(c79e042f4ad54f156beabe4783e7e5b3.svg)
}

.tv-badge-broker-winner__ba-popular {
    background: url(2d98ab65113a0bea6b0458195242d16c.svg)
}

.tv-badge-broker-winner__ba-social-champion {
    background: url(cdbe986f8f78a0ad7ab6478207f642c3.svg)
}

.tv-badge-broker-winner__ba-innovative-tech {
    background: url(fa4626fa0df043fb4ec9a641b1ee483e.svg)
}

.tv-badge-broker-winner__ba-multi-asset {
    background: url(fc0e037373ee32a40a037919be5bbed8.svg)
}

.tv-badge-broker-winner__ba-futures {
    background: url(0c04b8f199af3b7ba1980ed8c4dabd56.svg)
}

.tv-badge-broker-winner__ba-forex-and-cfd {
    background: url(5cf461ef32c2fb1d84ebc03ab33c030a.svg)
}

.tv-badge-broker-winner__ba-crypto {
    background: url(452216603386c07a0e0e6f539d931d17.svg)
}

.tv-badge-broker-winner__ba-of-the-year-2021 {
    background: url(2084dbdd7acf5881d272405b0943b240.svg)
}

.tv-badge-broker-winner__ba-popular-2021 {
    background: url(f6923903bea56794f982ed3f79897ed0.svg)
}

.tv-badge-broker-winner__ba-social-champion-2021 {
    background: url(23e47cb20be0ca33e01726ebc9462218.svg)
}

.tv-badge-broker-winner__ba-innovative-tech-2021 {
    background: url(78d96d2cb1dafc4fb4c03636c5775a5e.svg)
}

.tv-badge-broker-winner__ba-multi-asset-2021 {
    background: url(80974c08fb00ddb7079f4ab58da10e7e.svg)
}

.tv-badge-broker-winner__ba-futures-2021 {
    background: url(34370c8f73887ffb44b8f84350cd7492.svg)
}

.tv-badge-broker-winner__ba-forex-and-cfd-2021 {
    background: url(7ee6d0ef179ca9ef1374a3bdaa8b7ba1.svg)
}

.tv-badge-broker-winner__ba-crypto-2021 {
    background: url(bda70180db53f06a8a7a91a3afd37711.svg)
}