.round-button-3QrIemvJ {
    align-items: center;
    background-color: var(--ui-lib-button-color-bg, var(--ui-lib-button-default-color-bg));
    border-color: var(--ui-lib-button-color-border, var(--ui-lib-button-default-color-border));
    border-style: solid;
    box-sizing: border-box;
    color: var(--ui-lib-button-color-content, var(--ui-lib-button-default-color-content));
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    position: relative
}

.round-button-3QrIemvJ:active {
    transform: translateY(1px)
}

.round-button-3QrIemvJ:after {
    border-color: var(--ui-lib-button-color-focus-outline, var(--ui-lib-button-default-color-focus-outline))
}

.content-3frzYxtW {
    align-items: center;
    display: inline-flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.color-brand-3bfDQn7d.variant-primary-2lws2veg {
    --ui-lib-button-default-color-bg: #2962ff;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-brand-3bfDQn7d.variant-primary-2lws2veg {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-bg: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-brand-3bfDQn7d.variant-primary-2lws2veg:hover {
        --ui-lib-button-default-color-bg: #1e53e5;
        --ui-lib-button-default-color-border: #1e53e5;
        --ui-lib-button-default-color-content: #fff
    }
    html.theme-dark .color-brand-3bfDQn7d.variant-primary-2lws2veg:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #1e53e5;
        --ui-lib-button-default-color-bg: #1e53e5
    }
}

.color-brand-3bfDQn7d.variant-primary-2lws2veg:active {
    --ui-lib-button-default-color-bg: #1848cc;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-brand-3bfDQn7d.variant-primary-2lws2veg:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-bg: #1848cc
}

html.theme-dark .color-brand-3bfDQn7d.variant-primary-2lws2veg.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #2962ff;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-content: #fff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-brand-3bfDQn7d.variant-primary-2lws2veg.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #1e53e5;
        --ui-lib-button-default-color-border: #1e53e5;
        --ui-lib-button-default-color-content: #fff
    }
}

html.theme-dark .color-brand-3bfDQn7d.variant-primary-2lws2veg.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #1848cc;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-content: #fff
}

.color-brand-3bfDQn7d.variant-quiet-primary-1sEgXyIO {
    --ui-lib-button-default-color-bg: #fff;
    --ui-lib-button-default-color-border: #fff;
    --ui-lib-button-default-color-content: #2962ff
}

html.theme-dark .color-brand-3bfDQn7d.variant-quiet-primary-1sEgXyIO {
    --ui-lib-button-default-color-content: #2962ff;
    --ui-lib-button-default-color-border: #131722;
    --ui-lib-button-default-color-bg: #131722
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-brand-3bfDQn7d.variant-quiet-primary-1sEgXyIO:hover {
        --ui-lib-button-default-color-bg: #f0f3fa;
        --ui-lib-button-default-color-border: #f0f3fa;
        --ui-lib-button-default-color-content: #2962ff
    }
    html.theme-dark .color-brand-3bfDQn7d.variant-quiet-primary-1sEgXyIO:hover {
        --ui-lib-button-default-color-content: #2962ff;
        --ui-lib-button-default-color-border: #132042;
        --ui-lib-button-default-color-bg: #132042
    }
}

.color-brand-3bfDQn7d.variant-quiet-primary-1sEgXyIO:active {
    --ui-lib-button-default-color-bg: #e3effd;
    --ui-lib-button-default-color-border: #e3effd;
    --ui-lib-button-default-color-content: #2962ff
}

html.theme-dark .color-brand-3bfDQn7d.variant-quiet-primary-1sEgXyIO:active {
    --ui-lib-button-default-color-content: #2962ff;
    --ui-lib-button-default-color-border: #132042;
    --ui-lib-button-default-color-bg: #132042
}

html.theme-dark .color-brand-3bfDQn7d.variant-quiet-primary-1sEgXyIO.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #fff;
    --ui-lib-button-default-color-border: #fff;
    --ui-lib-button-default-color-content: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-brand-3bfDQn7d.variant-quiet-primary-1sEgXyIO.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #f0f3fa;
        --ui-lib-button-default-color-border: #f0f3fa;
        --ui-lib-button-default-color-content: #2962ff
    }
}

html.theme-dark .color-brand-3bfDQn7d.variant-quiet-primary-1sEgXyIO.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #e3effd;
    --ui-lib-button-default-color-border: #e3effd;
    --ui-lib-button-default-color-content: #2962ff
}

.color-brand-3bfDQn7d.variant-secondary-1tBEieJ0 {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-content: #2962ff
}

html.theme-dark .color-brand-3bfDQn7d.variant-secondary-1tBEieJ0 {
    --ui-lib-button-default-color-content: #2962ff;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-bg: #0000
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-brand-3bfDQn7d.variant-secondary-1tBEieJ0:hover {
        --ui-lib-button-default-color-bg: #1e53e5;
        --ui-lib-button-default-color-border: #1e53e5;
        --ui-lib-button-default-color-content: #fff
    }
    html.theme-dark .color-brand-3bfDQn7d.variant-secondary-1tBEieJ0:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #1e53e5;
        --ui-lib-button-default-color-bg: #1e53e5
    }
}

.color-brand-3bfDQn7d.variant-secondary-1tBEieJ0:active {
    --ui-lib-button-default-color-bg: #1848cc;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-brand-3bfDQn7d.variant-secondary-1tBEieJ0:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-bg: #1848cc
}

html.theme-dark .color-brand-3bfDQn7d.variant-secondary-1tBEieJ0.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-content: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-brand-3bfDQn7d.variant-secondary-1tBEieJ0.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #1e53e5;
        --ui-lib-button-default-color-border: #1e53e5;
        --ui-lib-button-default-color-content: #fff
    }
}

html.theme-dark .color-brand-3bfDQn7d.variant-secondary-1tBEieJ0.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #1848cc;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-content: #fff
}

.color-brand-3bfDQn7d.variant-ghost-F1LDK3Xz {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #0000
}

.color-brand-3bfDQn7d.variant-ghost-F1LDK3Xz,
html.theme-dark .color-brand-3bfDQn7d.variant-ghost-F1LDK3Xz {
    --ui-lib-button-default-color-content: #2962ff
}

html.theme-dark .color-brand-3bfDQn7d.variant-ghost-F1LDK3Xz {
    --ui-lib-button-default-color-border: #0000;
    --ui-lib-button-default-color-bg: #0000
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-brand-3bfDQn7d.variant-ghost-F1LDK3Xz:hover {
        --ui-lib-button-default-color-bg: #0000;
        --ui-lib-button-default-color-border: #2962ff;
        --ui-lib-button-default-color-content: #2962ff
    }
    html.theme-dark .color-brand-3bfDQn7d.variant-ghost-F1LDK3Xz:hover {
        --ui-lib-button-default-color-content: #2962ff;
        --ui-lib-button-default-color-border: #2962ff;
        --ui-lib-button-default-color-bg: #0000
    }
}

.color-brand-3bfDQn7d.variant-ghost-F1LDK3Xz:active {
    --ui-lib-button-default-color-bg: #1848cc;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-brand-3bfDQn7d.variant-ghost-F1LDK3Xz:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-bg: #1848cc
}

html.theme-dark .color-brand-3bfDQn7d.variant-ghost-F1LDK3Xz.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #0000;
    --ui-lib-button-default-color-content: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-brand-3bfDQn7d.variant-ghost-F1LDK3Xz.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #0000;
        --ui-lib-button-default-color-border: #2962ff;
        --ui-lib-button-default-color-content: #2962ff
    }
}

html.theme-dark .color-brand-3bfDQn7d.variant-ghost-F1LDK3Xz.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #1848cc;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-content: #fff
}

.color-gray-1FA_6LHk.variant-primary-2lws2veg {
    --ui-lib-button-default-color-bg: #f0f3fa;
    --ui-lib-button-default-color-border: #f0f3fa;
    --ui-lib-button-default-color-content: #131722
}

html.theme-dark .color-gray-1FA_6LHk.variant-primary-2lws2veg {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #2a2e39;
    --ui-lib-button-default-color-bg: #2a2e39
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-gray-1FA_6LHk.variant-primary-2lws2veg:hover {
        --ui-lib-button-default-color-bg: #e0e3eb;
        --ui-lib-button-default-color-border: #e0e3eb;
        --ui-lib-button-default-color-content: #131722
    }
    html.theme-dark .color-gray-1FA_6LHk.variant-primary-2lws2veg:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #363a45;
        --ui-lib-button-default-color-bg: #363a45
    }
}

.color-gray-1FA_6LHk.variant-primary-2lws2veg:active {
    --ui-lib-button-default-color-bg: #e3effd;
    --ui-lib-button-default-color-border: #e3effd;
    --ui-lib-button-default-color-content: #2962ff
}

html.theme-dark .color-gray-1FA_6LHk.variant-primary-2lws2veg:active {
    --ui-lib-button-default-color-content: #2962ff;
    --ui-lib-button-default-color-border: #132042;
    --ui-lib-button-default-color-bg: #132042
}

html.theme-dark .color-gray-1FA_6LHk.variant-primary-2lws2veg.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #f0f3fa;
    --ui-lib-button-default-color-border: #f0f3fa;
    --ui-lib-button-default-color-content: #131722
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-gray-1FA_6LHk.variant-primary-2lws2veg.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #e0e3eb;
        --ui-lib-button-default-color-border: #e0e3eb;
        --ui-lib-button-default-color-content: #131722
    }
}

html.theme-dark .color-gray-1FA_6LHk.variant-primary-2lws2veg.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #e3effd;
    --ui-lib-button-default-color-border: #e3effd;
    --ui-lib-button-default-color-content: #2962ff
}

.color-gray-1FA_6LHk.variant-quiet-primary-1sEgXyIO {
    --ui-lib-button-default-color-bg: #fff;
    --ui-lib-button-default-color-border: #fff;
    --ui-lib-button-default-color-content: #131722
}

html.theme-dark .color-gray-1FA_6LHk.variant-quiet-primary-1sEgXyIO {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #131722;
    --ui-lib-button-default-color-bg: #131722
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-gray-1FA_6LHk.variant-quiet-primary-1sEgXyIO:hover {
        --ui-lib-button-default-color-bg: #f0f3fa;
        --ui-lib-button-default-color-border: #f0f3fa;
        --ui-lib-button-default-color-content: #131722
    }
    html.theme-dark .color-gray-1FA_6LHk.variant-quiet-primary-1sEgXyIO:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #2a2e39;
        --ui-lib-button-default-color-bg: #2a2e39
    }
}

.color-gray-1FA_6LHk.variant-quiet-primary-1sEgXyIO:active {
    --ui-lib-button-default-color-bg: #e3effd;
    --ui-lib-button-default-color-border: #e3effd;
    --ui-lib-button-default-color-content: #2962ff
}

html.theme-dark .color-gray-1FA_6LHk.variant-quiet-primary-1sEgXyIO:active {
    --ui-lib-button-default-color-content: #2962ff;
    --ui-lib-button-default-color-border: #132042;
    --ui-lib-button-default-color-bg: #132042
}

html.theme-dark .color-gray-1FA_6LHk.variant-quiet-primary-1sEgXyIO.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #fff;
    --ui-lib-button-default-color-border: #fff;
    --ui-lib-button-default-color-content: #131722
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-gray-1FA_6LHk.variant-quiet-primary-1sEgXyIO.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #f0f3fa;
        --ui-lib-button-default-color-border: #f0f3fa;
        --ui-lib-button-default-color-content: #131722
    }
}

html.theme-dark .color-gray-1FA_6LHk.variant-quiet-primary-1sEgXyIO.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #e3effd;
    --ui-lib-button-default-color-border: #e3effd;
    --ui-lib-button-default-color-content: #2962ff
}

.color-gray-1FA_6LHk.variant-secondary-1tBEieJ0 {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #e0e3eb;
    --ui-lib-button-default-color-content: #131722
}

html.theme-dark .color-gray-1FA_6LHk.variant-secondary-1tBEieJ0 {
    --ui-lib-button-default-color-content: #d1d4dc;
    --ui-lib-button-default-color-border: #434651;
    --ui-lib-button-default-color-bg: #0000
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-gray-1FA_6LHk.variant-secondary-1tBEieJ0:hover {
        --ui-lib-button-default-color-bg: #f0f3fa;
        --ui-lib-button-default-color-border: #f0f3fa;
        --ui-lib-button-default-color-content: #131722
    }
    html.theme-dark .color-gray-1FA_6LHk.variant-secondary-1tBEieJ0:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #2a2e39;
        --ui-lib-button-default-color-bg: #2a2e39
    }
}

.color-gray-1FA_6LHk.variant-secondary-1tBEieJ0:active {
    --ui-lib-button-default-color-bg: #e0e3eb;
    --ui-lib-button-default-color-border: #e0e3eb;
    --ui-lib-button-default-color-content: #131722
}

html.theme-dark .color-gray-1FA_6LHk.variant-secondary-1tBEieJ0:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #363a45;
    --ui-lib-button-default-color-bg: #363a45
}

html.theme-dark .color-gray-1FA_6LHk.variant-secondary-1tBEieJ0.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #e0e3eb;
    --ui-lib-button-default-color-content: #131722
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-gray-1FA_6LHk.variant-secondary-1tBEieJ0.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #f0f3fa;
        --ui-lib-button-default-color-border: #f0f3fa;
        --ui-lib-button-default-color-content: #131722
    }
}

html.theme-dark .color-gray-1FA_6LHk.variant-secondary-1tBEieJ0.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #e0e3eb;
    --ui-lib-button-default-color-border: #e0e3eb;
    --ui-lib-button-default-color-content: #131722
}

.color-gray-1FA_6LHk.variant-ghost-F1LDK3Xz {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #0000;
    --ui-lib-button-default-color-content: #131722
}

html.theme-dark .color-gray-1FA_6LHk.variant-ghost-F1LDK3Xz {
    --ui-lib-button-default-color-content: #d1d4dc;
    --ui-lib-button-default-color-border: #0000;
    --ui-lib-button-default-color-bg: #0000
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-gray-1FA_6LHk.variant-ghost-F1LDK3Xz:hover {
        --ui-lib-button-default-color-bg: #0000;
        --ui-lib-button-default-color-border: #e0e3eb;
        --ui-lib-button-default-color-content: #131722
    }
    html.theme-dark .color-gray-1FA_6LHk.variant-ghost-F1LDK3Xz:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #434651;
        --ui-lib-button-default-color-bg: #0000
    }
}

.color-gray-1FA_6LHk.variant-ghost-F1LDK3Xz:active {
    --ui-lib-button-default-color-bg: #f0f3fa;
    --ui-lib-button-default-color-border: #f0f3fa;
    --ui-lib-button-default-color-content: #131722
}

html.theme-dark .color-gray-1FA_6LHk.variant-ghost-F1LDK3Xz:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #2a2e39;
    --ui-lib-button-default-color-bg: #2a2e39
}

html.theme-dark .color-gray-1FA_6LHk.variant-ghost-F1LDK3Xz.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #0000;
    --ui-lib-button-default-color-content: #131722
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-gray-1FA_6LHk.variant-ghost-F1LDK3Xz.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #0000;
        --ui-lib-button-default-color-border: #e0e3eb;
        --ui-lib-button-default-color-content: #131722
    }
}

html.theme-dark .color-gray-1FA_6LHk.variant-ghost-F1LDK3Xz.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #f0f3fa;
    --ui-lib-button-default-color-border: #f0f3fa;
    --ui-lib-button-default-color-content: #131722
}

.color-red-2WPf7Vql.variant-primary-2lws2veg {
    --ui-lib-button-default-color-bg: #f23645;
    --ui-lib-button-default-color-border: #f23645;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-red-2WPf7Vql.variant-primary-2lws2veg {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #f23645;
    --ui-lib-button-default-color-bg: #f23645
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-red-2WPf7Vql.variant-primary-2lws2veg:hover {
        --ui-lib-button-default-color-bg: #cc2f3c;
        --ui-lib-button-default-color-border: #cc2f3c;
        --ui-lib-button-default-color-content: #fff
    }
    html.theme-dark .color-red-2WPf7Vql.variant-primary-2lws2veg:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #cc2f3c;
        --ui-lib-button-default-color-bg: #cc2f3c
    }
}

.color-red-2WPf7Vql.variant-primary-2lws2veg:active {
    --ui-lib-button-default-color-bg: #b22833;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-red-2WPf7Vql.variant-primary-2lws2veg:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-bg: #b22833
}

html.theme-dark .color-red-2WPf7Vql.variant-primary-2lws2veg.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #f23645;
    --ui-lib-button-default-color-border: #f23645;
    --ui-lib-button-default-color-content: #fff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-red-2WPf7Vql.variant-primary-2lws2veg.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #cc2f3c;
        --ui-lib-button-default-color-border: #cc2f3c;
        --ui-lib-button-default-color-content: #fff
    }
}

html.theme-dark .color-red-2WPf7Vql.variant-primary-2lws2veg.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #b22833;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-content: #fff
}

.color-red-2WPf7Vql.variant-quiet-primary-1sEgXyIO {
    --ui-lib-button-default-color-bg: #fff;
    --ui-lib-button-default-color-border: #fff;
    --ui-lib-button-default-color-content: #f23645
}

html.theme-dark .color-red-2WPf7Vql.variant-quiet-primary-1sEgXyIO {
    --ui-lib-button-default-color-content: #f23645;
    --ui-lib-button-default-color-border: #131722;
    --ui-lib-button-default-color-bg: #131722
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-red-2WPf7Vql.variant-quiet-primary-1sEgXyIO:hover {
        --ui-lib-button-default-color-bg: #f0f3fa;
        --ui-lib-button-default-color-border: #f0f3fa;
        --ui-lib-button-default-color-content: #f23645
    }
    html.theme-dark .color-red-2WPf7Vql.variant-quiet-primary-1sEgXyIO:hover {
        --ui-lib-button-default-color-content: #f23645;
        --ui-lib-button-default-color-border: #2a2e39;
        --ui-lib-button-default-color-bg: #2a2e39
    }
}

.color-red-2WPf7Vql.variant-quiet-primary-1sEgXyIO:active {
    --ui-lib-button-default-color-bg: #ffebec;
    --ui-lib-button-default-color-border: #ffebec;
    --ui-lib-button-default-color-content: #f23645
}

html.theme-dark .color-red-2WPf7Vql.variant-quiet-primary-1sEgXyIO:active {
    --ui-lib-button-default-color-content: #f23645;
    --ui-lib-button-default-color-border: #331f20;
    --ui-lib-button-default-color-bg: #331f20
}

html.theme-dark .color-red-2WPf7Vql.variant-quiet-primary-1sEgXyIO.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #fff;
    --ui-lib-button-default-color-border: #fff;
    --ui-lib-button-default-color-content: #f23645
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-red-2WPf7Vql.variant-quiet-primary-1sEgXyIO.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #f0f3fa;
        --ui-lib-button-default-color-border: #f0f3fa;
        --ui-lib-button-default-color-content: #f23645
    }
}

html.theme-dark .color-red-2WPf7Vql.variant-quiet-primary-1sEgXyIO.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #ffebec;
    --ui-lib-button-default-color-border: #ffebec;
    --ui-lib-button-default-color-content: #f23645
}

.color-red-2WPf7Vql.variant-secondary-1tBEieJ0 {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #f23645;
    --ui-lib-button-default-color-content: #f23645
}

html.theme-dark .color-red-2WPf7Vql.variant-secondary-1tBEieJ0 {
    --ui-lib-button-default-color-content: #f23645;
    --ui-lib-button-default-color-border: #f23645;
    --ui-lib-button-default-color-bg: #0000
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-red-2WPf7Vql.variant-secondary-1tBEieJ0:hover {
        --ui-lib-button-default-color-bg: #cc2f3c;
        --ui-lib-button-default-color-border: #cc2f3c;
        --ui-lib-button-default-color-content: #fff
    }
    html.theme-dark .color-red-2WPf7Vql.variant-secondary-1tBEieJ0:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #cc2f3c;
        --ui-lib-button-default-color-bg: #cc2f3c
    }
}

.color-red-2WPf7Vql.variant-secondary-1tBEieJ0:active {
    --ui-lib-button-default-color-bg: #b22833;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-red-2WPf7Vql.variant-secondary-1tBEieJ0:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-bg: #b22833
}

html.theme-dark .color-red-2WPf7Vql.variant-secondary-1tBEieJ0.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #f23645;
    --ui-lib-button-default-color-content: #f23645
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-red-2WPf7Vql.variant-secondary-1tBEieJ0.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #cc2f3c;
        --ui-lib-button-default-color-border: #cc2f3c;
        --ui-lib-button-default-color-content: #fff
    }
}

html.theme-dark .color-red-2WPf7Vql.variant-secondary-1tBEieJ0.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #b22833;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-content: #fff
}

.color-red-2WPf7Vql.variant-ghost-F1LDK3Xz {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #0000
}

.color-red-2WPf7Vql.variant-ghost-F1LDK3Xz,
html.theme-dark .color-red-2WPf7Vql.variant-ghost-F1LDK3Xz {
    --ui-lib-button-default-color-content: #f23645
}

html.theme-dark .color-red-2WPf7Vql.variant-ghost-F1LDK3Xz {
    --ui-lib-button-default-color-border: #0000;
    --ui-lib-button-default-color-bg: #0000
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-red-2WPf7Vql.variant-ghost-F1LDK3Xz:hover {
        --ui-lib-button-default-color-bg: #0000;
        --ui-lib-button-default-color-border: #f23645;
        --ui-lib-button-default-color-content: #f23645
    }
    html.theme-dark .color-red-2WPf7Vql.variant-ghost-F1LDK3Xz:hover {
        --ui-lib-button-default-color-content: #f23645;
        --ui-lib-button-default-color-border: #f23645;
        --ui-lib-button-default-color-bg: #0000
    }
}

.color-red-2WPf7Vql.variant-ghost-F1LDK3Xz:active {
    --ui-lib-button-default-color-bg: #b22833;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-red-2WPf7Vql.variant-ghost-F1LDK3Xz:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-bg: #b22833
}

html.theme-dark .color-red-2WPf7Vql.variant-ghost-F1LDK3Xz.disable-themes-16Efli1J {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #0000;
    --ui-lib-button-default-color-content: #f23645
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .color-red-2WPf7Vql.variant-ghost-F1LDK3Xz.disable-themes-16Efli1J:hover {
        --ui-lib-button-default-color-bg: #0000;
        --ui-lib-button-default-color-border: #f23645;
        --ui-lib-button-default-color-content: #f23645
    }
}

html.theme-dark .color-red-2WPf7Vql.variant-ghost-F1LDK3Xz.disable-themes-16Efli1J:active {
    --ui-lib-button-default-color-bg: #b22833;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-content: #fff
}

.color-brand-3bfDQn7d,
.color-gray-1FA_6LHk,
html.theme-dark .color-brand-3bfDQn7d,
html.theme-dark .color-gray-1FA_6LHk {
    --ui-lib-button-default-color-focus-outline: #2962ffcc
}

.color-red-2WPf7Vql,
html.theme-dark .color-red-2WPf7Vql {
    --ui-lib-button-default-color-focus-outline: #f23645cc
}

.variant-primary-2lws2veg:disabled {
    background-color: #e0e3eb;
    border-color: #e0e3eb;
    color: #b2b5be;
    transform: none
}

html.theme-dark .variant-primary-2lws2veg:disabled {
    background-color: #363a45;
    border-color: #363a45;
    color: #5d606b
}

.variant-primary-2lws2veg:disabled:after {
    display: none
}

.variant-quiet-primary-1sEgXyIO:disabled,
html.theme-dark .variant-primary-2lws2veg.disable-themes-16Efli1J:disabled {
    background-color: #e0e3eb;
    border-color: #e0e3eb;
    color: #b2b5be
}

.variant-quiet-primary-1sEgXyIO:disabled {
    transform: none
}

html.theme-dark .variant-quiet-primary-1sEgXyIO:disabled {
    background-color: #363a45;
    border-color: #363a45;
    color: #5d606b
}

.variant-quiet-primary-1sEgXyIO:disabled:after {
    display: none
}

html.theme-dark .variant-quiet-primary-1sEgXyIO.disable-themes-16Efli1J:disabled {
    background-color: #e0e3eb;
    border-color: #e0e3eb;
    color: #b2b5be
}

.variant-secondary-1tBEieJ0:disabled {
    background-color: initial;
    border-color: #e0e3eb;
    color: #b2b5be;
    transform: none
}

html.theme-dark .variant-secondary-1tBEieJ0:disabled {
    background-color: initial;
    border-color: #363a45;
    color: #5d606b
}

.variant-secondary-1tBEieJ0:disabled:after {
    display: none
}

html.theme-dark .variant-secondary-1tBEieJ0.disable-themes-16Efli1J:disabled {
    background-color: initial;
    border-color: #e0e3eb;
    color: #b2b5be
}

.variant-ghost-F1LDK3Xz:disabled {
    background-color: initial;
    border-color: #0000;
    color: #b2b5be;
    transform: none
}

html.theme-dark .variant-ghost-F1LDK3Xz:disabled {
    background-color: initial;
    border-color: #0000;
    color: #5d606b
}

.variant-ghost-F1LDK3Xz:disabled:after {
    display: none
}

html.theme-dark .variant-ghost-F1LDK3Xz.disable-themes-16Efli1J:disabled {
    background-color: initial;
    border-color: #0000;
    color: #b2b5be
}

.size-xsmall-10lBTIjQ {
    border-radius: 14px;
    border-width: 1px;
    height: 28px
}

.size-xsmall-10lBTIjQ.icon-only-2EctEDRx {
    width: 28px
}

.size-xsmall-10lBTIjQ:not(.size-xsmall-10lBTIjQ.icon-only-2EctEDRx) {
    padding: 0 11px
}

.size-xsmall-10lBTIjQ {
    outline: none;
    overflow: visible;
    position: relative
}

.size-xsmall-10lBTIjQ:focus {
    outline: none
}

.size-xsmall-10lBTIjQ:focus-visible {
    outline: none
}

.size-xsmall-10lBTIjQ:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 10px);
    left: -5px;
    pointer-events: none;
    position: absolute;
    top: -5px;
    width: calc(100% + 10px);
    z-index: 1
}

.size-xsmall-10lBTIjQ:focus:after {
    display: block
}

.size-xsmall-10lBTIjQ:focus-visible:after {
    display: block
}

.size-xsmall-10lBTIjQ:focus:not(:focus-visible):after {
    display: none
}

.size-xsmall-10lBTIjQ:after {
    border-radius: 18px
}

.size-small-9LFD5L7m {
    border-radius: 17px;
    border-width: 1px;
    height: 34px
}

.size-small-9LFD5L7m.icon-only-2EctEDRx {
    width: 34px
}

.size-small-9LFD5L7m:not(.size-small-9LFD5L7m.icon-only-2EctEDRx) {
    padding: 0 15px
}

.size-small-9LFD5L7m {
    outline: none;
    overflow: visible;
    position: relative
}

.size-small-9LFD5L7m:focus {
    outline: none
}

.size-small-9LFD5L7m:focus-visible {
    outline: none
}

.size-small-9LFD5L7m:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 10px);
    left: -5px;
    pointer-events: none;
    position: absolute;
    top: -5px;
    width: calc(100% + 10px);
    z-index: 1
}

.size-small-9LFD5L7m:focus:after {
    display: block
}

.size-small-9LFD5L7m:focus-visible:after {
    display: block
}

.size-small-9LFD5L7m:focus:not(:focus-visible):after {
    display: none
}

.size-small-9LFD5L7m:after {
    border-radius: 21px
}

.size-medium-23vRmVDi {
    border-radius: 20px;
    border-width: 1px;
    height: 40px
}

.size-medium-23vRmVDi.icon-only-2EctEDRx {
    width: 40px
}

.size-medium-23vRmVDi:not(.size-medium-23vRmVDi.icon-only-2EctEDRx) {
    padding: 0 15px
}

.size-medium-23vRmVDi {
    outline: none;
    overflow: visible;
    position: relative
}

.size-medium-23vRmVDi:focus {
    outline: none
}

.size-medium-23vRmVDi:focus-visible {
    outline: none
}

.size-medium-23vRmVDi:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 10px);
    left: -5px;
    pointer-events: none;
    position: absolute;
    top: -5px;
    width: calc(100% + 10px);
    z-index: 1
}

.size-medium-23vRmVDi:focus:after {
    display: block
}

.size-medium-23vRmVDi:focus-visible:after {
    display: block
}

.size-medium-23vRmVDi:focus:not(:focus-visible):after {
    display: none
}

.size-medium-23vRmVDi:after {
    border-radius: 24px
}

.size-large-pJ5rVvHW {
    border-radius: 24px;
    border-width: 1px;
    height: 48px
}

.size-large-pJ5rVvHW.icon-only-2EctEDRx {
    width: 48px
}

.size-large-pJ5rVvHW:not(.size-large-pJ5rVvHW.icon-only-2EctEDRx) {
    padding: 0 23px
}

.size-large-pJ5rVvHW {
    outline: none;
    overflow: visible;
    position: relative
}

.size-large-pJ5rVvHW:focus {
    outline: none
}

.size-large-pJ5rVvHW:focus-visible {
    outline: none
}

.size-large-pJ5rVvHW:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 10px);
    left: -5px;
    pointer-events: none;
    position: absolute;
    top: -5px;
    width: calc(100% + 10px);
    z-index: 1
}

.size-large-pJ5rVvHW:focus:after {
    display: block
}

.size-large-pJ5rVvHW:focus-visible:after {
    display: block
}

.size-large-pJ5rVvHW:focus:not(:focus-visible):after {
    display: none
}

.size-large-pJ5rVvHW:after {
    border-radius: 28px
}

.size-xlarge-3_YFVVjv {
    border-radius: 28px;
    border-width: 1px;
    height: 56px
}

.size-xlarge-3_YFVVjv.icon-only-2EctEDRx {
    width: 56px
}

.size-xlarge-3_YFVVjv:not(.size-xlarge-3_YFVVjv.icon-only-2EctEDRx) {
    padding: 0 31px
}

.size-xlarge-3_YFVVjv {
    outline: none;
    overflow: visible;
    position: relative
}

.size-xlarge-3_YFVVjv:focus {
    outline: none
}

.size-xlarge-3_YFVVjv:focus-visible {
    outline: none
}

.size-xlarge-3_YFVVjv:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 10px);
    left: -5px;
    pointer-events: none;
    position: absolute;
    top: -5px;
    width: calc(100% + 10px);
    z-index: 1
}

.size-xlarge-3_YFVVjv:focus:after {
    display: block
}

.size-xlarge-3_YFVVjv:focus-visible:after {
    display: block
}

.size-xlarge-3_YFVVjv:focus:not(:focus-visible):after {
    display: none
}

.size-xlarge-3_YFVVjv:after {
    border-radius: 32px
}

.size-xxlarge-36hAnd9I {
    border-radius: 40px;
    border-width: 2px;
    height: 80px
}

.size-xxlarge-36hAnd9I.icon-only-2EctEDRx {
    width: 80px
}

.size-xxlarge-36hAnd9I:not(.size-xxlarge-36hAnd9I.icon-only-2EctEDRx) {
    padding: 0 30px
}

.size-xxlarge-36hAnd9I {
    outline: none;
    overflow: visible;
    position: relative
}

.size-xxlarge-36hAnd9I:focus {
    outline: none
}

.size-xxlarge-36hAnd9I:focus-visible {
    outline: none
}

.size-xxlarge-36hAnd9I:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 12px);
    left: -6px;
    pointer-events: none;
    position: absolute;
    top: -6px;
    width: calc(100% + 12px);
    z-index: 1
}

.size-xxlarge-36hAnd9I:focus:after {
    display: block
}

.size-xxlarge-36hAnd9I:focus-visible:after {
    display: block
}

.size-xxlarge-36hAnd9I:focus:not(:focus-visible):after {
    display: none
}

.size-xxlarge-36hAnd9I:after {
    border-radius: 44px
}

.size-xsmall-10lBTIjQ .content-3frzYxtW {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px
}

.size-small-9LFD5L7m .content-3frzYxtW {
    font-feature-settings: "tnum" on, "lnum" on;
    font-size: 16px;
    font-style: normal;
    font-weight: 400
}

.size-medium-23vRmVDi .content-3frzYxtW,
.size-small-9LFD5L7m .content-3frzYxtW {
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    line-height: 24px
}

.size-medium-23vRmVDi .content-3frzYxtW {
    font-feature-settings: "tnum" on, "lnum" on;
    font-size: 16px;
    font-style: normal;
    font-weight: 500
}

.size-large-pJ5rVvHW .content-3frzYxtW {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px
}

.size-xlarge-3_YFVVjv .content-3frzYxtW {
    font-feature-settings: "tnum" on, "lnum" on;
    font-size: 18px;
    font-style: normal;
    font-weight: 600
}

.size-xlarge-3_YFVVjv .content-3frzYxtW,
.size-xxlarge-36hAnd9I .content-3frzYxtW {
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    line-height: 24px
}

.size-xxlarge-36hAnd9I .content-3frzYxtW {
    font-feature-settings: "tnum" on, "lnum" on;
    font-size: 20px;
    font-style: normal;
    font-weight: 600
}

.animated-1SV5rpB3 {
    transition-duration: .2s;
    transition-property: border-color, background-color, color;
    transition-timing-function: ease-in-out
}

.animated-1SV5rpB3:after {
    display: block;
    opacity: 0;
    transition: opacity .2s ease-in-out, visibility 0s ease-in-out .2s;
    visibility: hidden
}

.animated-1SV5rpB3:focus:after {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    visibility: visible
}

.animated-1SV5rpB3:focus-visible:after {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    visibility: visible
}

.animated-1SV5rpB3:focus:not(:focus-visible):after {
    opacity: 0;
    transition: opacity .2s ease-in-out, visibility 0s ease-in-out .2s;
    visibility: hidden
}

.stretch-285OroeR {
    width: 100%
}