.tv-pine-highlight {
    background-color: #fff;
    border: 1px solid #eceff2;
    border-radius: 2px;
    padding: 10px 15px
}

html.theme-dark .tv-pine-highlight {
    background-color: #1c2030;
    border-color: #363c4e
}

.tv-pine-highlight__pre,
.tv-pine-highlight__pre.selectable {
    font-family: Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace;
    font-size: 13px;
    margin: 0
}