.button-1WqyvKNY {
    cursor: default;
    -webkit-user-select: none;
    user-select: none
}

.button-children-1WqyvKNY {
    display: block;
    overflow: hidden;
    padding: 0 2px 0 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.button-children-1WqyvKNY.hiddenArrow-1WqyvKNY {
    padding-right: 6px
}

.invisibleFocusHandler-1WqyvKNY {
    height: 0;
    opacity: 0;
    pointer-events: none;
    width: 0
}

.placeholder-1J6emFeA {
    -webkit-text-fill-color: currentColor;
    color: #a3a6af;
    opacity: 1
}

html.theme-dark .placeholder-1J6emFeA {
    color: #434651
}