body.fullscreen-mode {
    overflow: hidden
}

.tv-layout-width {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    width: 1020px
}

.tv-layout-width--no-padding {
    padding: 0;
    width: 980px
}

.tv-layout-width--simple {
    padding: 0
}

.tv-dialog .tv-layout-width {
    max-width: 100%
}

.chart-page .tv-layout-width {
    width: 100%
}

@media screen and (max-width:1019px) {
    .tv-layout-width {
        width: auto
    }
    .tv-layout-width .tv-feed {
        margin-left: -20px;
        margin-right: -20px
    }
    .tv-layout-width .tv-feed--tablet-top-indent {
        margin-top: 48px
    }
}

.tv-layout-padding {
    padding: 0 20px
}

body.page-wide .tv-layout-width,
body.popup-wide .fancybox-overlay .tv-layout-width {
    width: 1520px
}

.tv-main,
body.page-fullwidth .tv-layout-width {
    width: 100%
}

.tv-main {
    display: flex;
    flex-direction: column;
    min-height: 100%
}

.tv-side-toolbar {
    float: left;
    height: 100%;
    overflow-x: visible;
    overflow-y: hidden;
    position: static
}

.tv-main-panel {
    background-color: #f1f3f6;
    overflow: hidden;
    position: relative
}

.tv-side-panel {
    float: right;
    height: 100%;
    position: relative;
    z-index: 15
}

.tv-panels {
    height: 100%
}

.chart-page .tv-content {
    padding: 0
}

.clear {
    clear: both
}

.clearfix:after {
    clear: both;
    content: "";
    display: block
}

.hide {
    display: none !important
}

.show {
    display: block !important
}

.tv-right {
    float: right !important
}

.tv-left {
    float: left !important
}

#_atssh {
    margin-top: -20px;
    position: absolute
}

.js-right-boundary {
    margin-right: 0
}