.tv-content-header {
    color: #131722;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: -.3px;
    line-height: 35px;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis
}

html.theme-dark .tv-content-header {
    color: #d1d4dc
}

.tv-content-header__header-link:link,
.tv-content-header__header-link:visited {
    color: #131722
}

html.theme-dark .tv-content-header__header-link:link,
html.theme-dark .tv-content-header__header-link:visited {
    color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-content-header__header-link:hover,
    html.theme-dark .tv-content-header__header-link:hover {
        color: #1e53e5
    }
}

.tv-content-header__header-link svg,
.tv-content-header__icon {
    margin-left: 8px
}