@keyframes keyframes-highlight-animation-theme-light {
    0% {
        background: #0000
    }
    50% {
        background: #e3effd
    }
    to {
        background: #0000
    }
}

@keyframes keyframes-highlight-animation-theme-dark {
    0% {
        background: #0000
    }
    50% {
        background: #132042
    }
    to {
        background: #0000
    }
}

.news-item-14OMzC2A {
    color: #131722;
    display: block;
    padding: 12px 16px;
    position: relative
}

html.theme-dark .news-item-14OMzC2A {
    color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .news-item-14OMzC2A:not(.news-item--no-hover-14OMzC2A):hover {
        background-color: #f0f3fa;
        cursor: pointer
    }
    html.theme-dark .news-item-14OMzC2A:not(.news-item--no-hover-14OMzC2A):hover {
        background-color: #2a2e39
    }
}

.news-item--highlight-14OMzC2A {
    animation: keyframes-highlight-animation-theme-light .7s ease-in-out 1
}

.theme-dark .news-item--highlight-14OMzC2A {
    animation-name: keyframes-highlight-animation-theme-dark
}

.news-item__header-14OMzC2A {
    align-items: center;
    color: #787b86;
    display: flex;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    line-height: 18px;
    margin-bottom: 8px
}

html.theme-dark .news-item__header-14OMzC2A {
    color: #787b86
}

.news-item__breadcrumbs-14OMzC2A {
    display: flex;
    flex-wrap: wrap
}

.news-item__breadcrumbs-14OMzC2A>:not(:last-child):after {
    content: "\00b7";
    margin: 0 4px
}

.news-item__logos-14OMzC2A {
    margin-left: 0;
    margin-right: 8px
}

.news-item__logos-14OMzC2A:empty {
    margin-right: 0
}

.news-item--card-14OMzC2A .news-item__header-14OMzC2A,
.news-item__title-14OMzC2A {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px
}

.news-item__title-14OMzC2A {
    display: inline;
    font-weight: 700;
    line-height: 22px
}

.news-item__title--external-link-14OMzC2A {
    background-image: url(74aa340f10d8571d44ea7a52696b7fff.svg);
    background-position: calc(100% - 1px) calc(100% - 2px);
    background-repeat: no-repeat;
    background-size: 13px;
    padding-right: 22px
}

.news-item__description-14OMzC2A {
    line-height: 22px;
    margin-top: 8px
}

.news-item--card-14OMzC2A .news-item__title-14OMzC2A {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 8px
}

.news-item--card-14OMzC2A .news-item__title--external-link-14OMzC2A {
    background-image: url(74aa340f10d8571d44ea7a52696b7fff.svg);
    background-position: calc(100% - 1px) calc(100% - 3px);
    background-repeat: no-repeat;
    background-size: 13px;
    padding-right: 22px
}

.news-item--card-14OMzC2A {
    word-wrap: break-word;
    border-radius: 16px;
    box-sizing: border-box;
    margin: 0 12px 16px;
    padding: 8px;
    transition-duration: 60ms
}

@media screen and (max-width:1019px) {
    .news-item--card-14OMzC2A {
        flex-grow: 1;
        flex-shrink: 0;
        margin-left: 0;
        margin-right: 8px;
        width: 292px
    }
    .news-item--card-14OMzC2A:first-child {
        margin-left: 8px
    }
}

@media screen and (max-width:767px) {
    .news-item--card-14OMzC2A {
        max-width: 348px;
        width: calc(100vw - 66px)
    }
    .news-item--card-14OMzC2A:only-child {
        max-width: none
    }
}

@media screen and (min-width:1020px) {
    .news-item--card-14OMzC2A:first-child {
        margin-top: 4px
    }
}

@media screen and (max-width:1019px) {
    .news-item--card-14OMzC2A {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 0 0 1px #e0e3eb;
        box-shadow: inset 0 0 0 1px #e0e3eb;
        box-sizing: border-box;
        height: 100%;
        height: auto;
        margin: 0 8px 0 0;
        overflow: hidden;
        padding: 8px
    }
    html.theme-dark .news-item--card-14OMzC2A {
        background-color: #1e222d;
        box-shadow: inset 0 0 0 1px #0000;
        box-shadow: 0 0 0 1px #0000
    }
}

.stack-2yW_fi3o {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    margin-left: 4px
}

.stack-2yW_fi3o>* {
    background-color: var(--circle-logo-stack-border-color);
    border: 1px solid var(--circle-logo-stack-border-color);
    border-radius: 50%;
    display: inline-flex;
    margin-left: -4px
}

.counter-2yW_fi3o {
    font-feature-settings: "tnum" on, "lnum" on;
    background-color: #e0e3eb;
    color: #868993;
    display: inline-flex;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 18px;
    justify-content: center;
    line-height: 24px;
    line-height: 16px;
    width: 18px
}

html.theme-dark .counter-2yW_fi3o {
    background-color: #2a2e39
}