.tv-text ol,
.tv-text p,
.tv-text ul {
    color: #131722;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 12px
}

html.theme-dark .tv-text ol,
html.theme-dark .tv-text p,
html.theme-dark .tv-text ul {
    color: #d1d4dc
}

.tv-text ol.tv-text__color_bright,
.tv-text p.tv-text__color_bright,
.tv-text ul.tv-text__color_bright {
    color: #fff
}

.tv-text ol.tv-text__color_silver,
.tv-text p.tv-text__color_silver,
.tv-text ul.tv-text__color_silver {
    color: silver
}

.tv-text ol.tv-text__color_silver_30,
.tv-text p.tv-text__color_silver_30,
.tv-text ul.tv-text__color_silver_30 {
    color: #9b9b9b
}

.tv-text ol.tv-text__paragraph--additional-top-margin,
.tv-text p.tv-text__paragraph--additional-top-margin,
.tv-text ul.tv-text__paragraph--additional-top-margin {
    margin-top: 24px
}

.tv-text ol.tv-text__paragraph--additional-top-margin_double,
.tv-text p.tv-text__paragraph--additional-top-margin_double,
.tv-text ul.tv-text__paragraph--additional-top-margin_double {
    margin-top: 48px
}

.tv-text ol.tv-text__paragraph--additional-bottom-margin,
.tv-text p.tv-text__paragraph--additional-bottom-margin,
.tv-text ul.tv-text__paragraph--additional-bottom-margin {
    margin-bottom: 24px
}

.tv-text ol.tv-text__paragraph--additional-bottom-margin_double,
.tv-text p.tv-text__paragraph--additional-bottom-margin_double,
.tv-text ul.tv-text__paragraph--additional-bottom-margin_double {
    margin-bottom: 48px
}

.tv-text ol .tv-text--highlight-important,
.tv-text p .tv-text--highlight-important,
.tv-text ul .tv-text--highlight-important {
    background: #fff3e0;
    box-shadow: 0 0 0 .37em #fff3e0
}

html.theme-dark .tv-text ol .tv-text--highlight-important,
html.theme-dark .tv-text p .tv-text--highlight-important,
html.theme-dark .tv-text ul .tv-text--highlight-important {
    background: #142e61;
    box-shadow: 0 0 0 .37em #142e61
}

.tv-text ol .tv-text--highlight-important:empty,
.tv-text p .tv-text--highlight-important:empty,
.tv-text ul .tv-text--highlight-important:empty {
    background: #0000;
    box-shadow: none
}

.tv-text h1 {
    font-size: 45px;
    margin-bottom: 30px;
    margin-top: 30px
}

@media screen and (max-width:1019px) {
    .tv-text h1 {
        font-size: 38px
    }
}

@media screen and (max-width:767px) {
    .tv-text h1 {
        font-size: 32px
    }
}

@media screen and (max-width:479px) {
    .tv-text h1 {
        font-size: 28px
    }
}

.tv-text h2 {
    font-size: 31px
}

@media screen and (max-width:1019px) {
    .tv-text h2 {
        font-size: 26px
    }
}

@media screen and (max-width:479px) {
    .tv-text h2 {
        font-size: 24px
    }
}

.tv-text h3 {
    font-size: 17px
}

@media screen and (max-width:1019px) {
    .tv-text h3 {
        font-size: 16px
    }
}

.tv-text h4 {
    font-size: 15px
}

.tv-text h2,
.tv-text h3,
.tv-text h4 {
    margin-bottom: 20px;
    margin-top: 20px
}

.tv-text h1:first-child,
.tv-text h2:first-child,
.tv-text h3:first-child,
.tv-text h4:first-child {
    margin-top: 0
}

.tv-text ol,
.tv-text ul {
    list-style-position: inside
}

.tv-text--position-outside ol,
.tv-text--position-outside ul {
    list-style-position: outside;
    padding-left: 17px
}

.tv-text a:not(.tv-button) {
    color: #2962ff;
    transition: color .35s ease
}

html.theme-dark .tv-text a:not(.tv-button) {
    color: #2962ff
}

.tv-text a:not(.tv-button):visited {
    fill: #2962ff;
    color: #2962ff
}

html.theme-dark .tv-text a:not(.tv-button):visited {
    fill: #2962ff;
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-text a:not(.tv-button):hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: .06s
    }
    html.theme-dark .tv-text a:not(.tv-button):hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

.tv-text a:not(.tv-button):focus {
    outline: auto
}

.tv-text a:not(.tv-button):focus:not(:-moz-focusring) {
    outline: none
}

.tv-text a:not(.tv-button):-moz-focusring {
    outline: auto
}

.tv-text a:not(.tv-button):active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: .06s
}

html.theme-dark .tv-text a:not(.tv-button):active {
    fill: #1848cc;
    color: #1848cc
}

.tv-text__font.tv-text__font--size_semilarge {
    font-size: 15px
}

@media screen and (max-width:767px) {
    .tv-text__font.tv-text__font--size_semilarge {
        font-size: 14px
    }
}

.tv-text__font.tv-text__font--size_large {
    font-size: 17px
}

@media screen and (max-width:767px) {
    .tv-text__font.tv-text__font--size_large {
        font-size: 16px
    }
}

.tv-text__font.tv-text__font--size_xlarge {
    font-size: 19px
}

@media screen and (max-width:767px) {
    .tv-text__font.tv-text__font--size_xlarge {
        font-size: 18px
    }
}

.tv-text__font--bold {
    font-weight: 700
}

.tv-text__font--italic {
    font-style: italic
}

.tv-text--darkbg,
.tv-text--darkbg ol,
.tv-text--darkbg p,
.tv-text--darkbg ul {
    color: #fff
}

.tv-text--highlight-important {
    background: #fff3e0;
    box-shadow: 0 0 0 .07em #fff3e0
}

html.theme-dark .tv-text--highlight-important {
    background: #142e61;
    box-shadow: 0 0 0 .07em #142e61
}

.tv-text--highlight-important:empty {
    background: #0000;
    box-shadow: none
}

.tv-study-offer__content,
.tv-study-offer__footer,
.tv-study-offer__header {
    padding: 0 30px
}

@media screen and (max-width:767px) {
    .tv-study-offer__content,
    .tv-study-offer__footer,
    .tv-study-offer__header {
        padding: 0 20px
    }
}

.tv-study-offer__header {
    display: flex;
    flex-flow: row wrap;
    padding-top: 20px
}

.tv-study-offer__header--left {
    flex-grow: 1;
    margin-bottom: 23px;
    margin-right: 30px
}

@media screen and (max-width:767px) {
    .tv-study-offer__header--left {
        margin-bottom: 18px;
        margin-right: 20px
    }
}

.tv-study-offer__header--right {
    margin-bottom: 23px;
    margin-top: -8px
}

@media screen and (max-width:767px) {
    .tv-study-offer__header--right {
        margin-bottom: 18px
    }
}

.tv-study-offer__content {
    flex-grow: 1;
    margin-top: -23px;
    padding-bottom: 15px;
    padding-top: 30px
}

@media screen and (max-width:767px) {
    .tv-study-offer__content {
        margin-top: -18px;
        padding-bottom: 10px;
        padding-top: 20px
    }
}

.tv-study-offer__footer {
    background-color: #ebf7fc;
    font-size: 10px;
    padding-bottom: 15px;
    padding-top: 15px
}

html.theme-dark .tv-study-offer__footer {
    background-color: #2f3241
}

@media screen and (max-width:767px) {
    .tv-study-offer__footer {
        padding-bottom: 10px;
        padding-top: 10px
    }
}

.tv-study-offer__main-header {
    display: flex;
    justify-content: space-between
}

.tv-study-offer__name {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.tv-study-offer__sub-header a {
    color: #2962ff;
    font-size: 12px;
    transition: color .35s ease
}

html.theme-dark .tv-study-offer__sub-header a {
    color: #2962ff
}

.tv-study-offer__sub-header a:visited {
    fill: #2962ff;
    color: #2962ff
}

html.theme-dark .tv-study-offer__sub-header a:visited {
    fill: #2962ff;
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-study-offer__sub-header a:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: .06s
    }
    html.theme-dark .tv-study-offer__sub-header a:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

.tv-study-offer__sub-header a:focus {
    outline: auto
}

.tv-study-offer__sub-header a:focus:not(:-moz-focusring) {
    outline: none
}

.tv-study-offer__sub-header a:-moz-focusring {
    outline: auto
}

.tv-study-offer__sub-header a:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: .06s
}

html.theme-dark .tv-study-offer__sub-header a:active {
    fill: #1848cc;
    color: #1848cc
}

.tv-study-offer__info-description a {
    color: #2962ff;
    transition: color .35s ease
}

html.theme-dark .tv-study-offer__info-description a {
    color: #2962ff
}

.tv-study-offer__info-description a:visited {
    fill: #2962ff;
    color: #2962ff
}

html.theme-dark .tv-study-offer__info-description a:visited {
    fill: #2962ff;
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-study-offer__info-description a:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: .06s
    }
    html.theme-dark .tv-study-offer__info-description a:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

.tv-study-offer__info-description a:focus {
    outline: auto
}

.tv-study-offer__info-description a:focus:not(:-moz-focusring) {
    outline: none
}

.tv-study-offer__info-description a:-moz-focusring {
    outline: auto
}

.tv-study-offer__info-description a:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: .06s
}

html.theme-dark .tv-study-offer__info-description a:active {
    fill: #1848cc;
    color: #1848cc
}

.tv-study-offer__screenshots-container img {
    border: 1px solid #e0e3eb;
    margin: 0 6px 6px 0;
    max-height: 115px;
    max-width: 170px
}

html.theme-dark .tv-study-offer__screenshots-container img {
    border-color: #363a45
}

.tv-study-offer__buttons .tv-button {
    margin-top: 15px
}

.tv-study-offer__screenshots-container {
    padding-top: 10px
}

.tv-study-offer__warning {
    margin-top: 7px
}

.tv-price-label {
    height: 44px;
    overflow-y: hidden;
    padding-left: 12px;
    position: relative
}

.tv-price-label__content {
    background: #f2f3f5;
    border-radius: 6px;
    color: #4c525e;
    display: inline-block;
    padding: 8px 10px 8px 12px;
    position: relative;
    vertical-align: middle
}

html.theme-dark .tv-price-label__content {
    background: #2f3241
}

.tv-price-label__cost {
    color: #4c525e;
    font-size: 24px;
    line-height: 1.167;
    vertical-align: initial
}

html.theme-dark .tv-price-label__cost {
    color: #d6d8e0
}

.tv-price-label__date {
    color: #4c525e;
    font-size: 14px;
    line-height: 1.167;
    vertical-align: initial
}

html.theme-dark .tv-price-label__date {
    color: #d6d8e0
}

.tv-price-label:before {
    background: #f2f3f5;
    border-radius: 6px;
    content: "";
    display: block;
    height: 29px;
    left: 1px;
    margin-right: -18px;
    position: absolute;
    top: 7px;
    transform: rotate(45deg) skew(8deg, 8deg);
    width: 29px
}

html.theme-dark .tv-price-label:before {
    background: #2f3241
}

.tv-price-label:after {
    background-color: #fff;
    border-radius: 4px;
    content: "";
    display: block;
    height: 8px;
    left: 6px;
    position: absolute;
    top: 17px;
    width: 8px
}

html.theme-dark .tv-price-label:after {
    background-color: #1e222d
}