.tv-circle-logo-pair {
    display: inline-block;
    position: relative
}

.tv-circle-logo-pair--xxsmall {
    height: 18px;
    width: 18px
}

.tv-circle-logo-pair--xsmall {
    height: 24px;
    width: 24px
}

.tv-circle-logo-pair--small {
    height: 28px;
    width: 28px
}

.tv-circle-logo-pair--medium {
    height: 36px;
    width: 36px
}

.tv-circle-logo-pair--large {
    height: 48px;
    width: 48px
}

.tv-circle-logo-pair--xlarge {
    height: 56px;
    width: 56px
}

.tv-circle-logo-pair__logo {
    border-radius: 50%
}

.tv-circle-logo-pair__logo:not(img) {
    background-color: #e0e3eb
}

html.theme-dark .tv-circle-logo-pair__logo:not(img) {
    background-color: #2a2e39
}

.tv-circle-logo-pair__logo:first-child,
.tv-circle-logo-pair__logo:last-child {
    position: absolute
}

.tv-circle-logo-pair__logo:first-child {
    right: 0;
    top: -1px
}

.tv-circle-logo-pair__logo:last-child {
    border: 1px solid #fff;
    bottom: 0;
    left: -1px
}

html.theme-dark .tv-circle-logo-pair__logo:last-child {
    border: 1px solid #1e222d
}

.tv-circle-logo-pair__logo--xxsmall {
    height: 12px;
    width: 12px
}

.tv-circle-logo-pair__logo--small,
.tv-circle-logo-pair__logo--xsmall {
    height: 18px;
    width: 18px
}

.tv-circle-logo-pair__logo--medium {
    height: 24px;
    width: 24px
}

.tv-circle-logo-pair__logo--large {
    height: 32px;
    width: 32px
}

.tv-circle-logo-pair__logo--xlarge {
    height: 38px;
    width: 38px
}