.container-3b3oNctN {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center
}

.allowCreate-3b3oNctN {
    cursor: pointer
}

.text-3b3oNctN {
    color: #131722;
    font-size: 24px;
    line-height: 32px;
    margin: 19px 0 29px
}

html.theme-dark .text-3b3oNctN {
    color: #d1d4dc
}

.icon-3b3oNctN {
    color: #c5cbce
}