.badge-idea-3rT_mi7c .icon-3rT_mi7c {
    align-items: center;
    background-color: var(--ui-lib-badge-color-content);
    display: inline-flex;
    height: 18px;
    margin-right: 0;
    width: 18px
}

.badge-idea-3rT_mi7c.size-small-3rT_mi7c .icon-3rT_mi7c {
    margin-right: -1px
}

.badge-idea-3rT_mi7c.type-long-3rT_mi7c.size-small-3rT_mi7c .icon-3rT_mi7c {
    -webkit-mask: url(4b82846ef928e60c7a7dd5e6de260c07.svg);
    mask: url(4b82846ef928e60c7a7dd5e6de260c07.svg)
}

.badge-idea-3rT_mi7c.type-long-3rT_mi7c.size-medium-3rT_mi7c .icon-3rT_mi7c {
    -webkit-mask: url(088e69e04b7f0a2441382b98d3ed59e6.svg);
    mask: url(088e69e04b7f0a2441382b98d3ed59e6.svg)
}

.badge-idea-3rT_mi7c.type-long-3rT_mi7c.size-large-3rT_mi7c .icon-3rT_mi7c {
    -webkit-mask: url(728575a62bf3d1dcc58a7af5b9982ff9.svg);
    mask: url(728575a62bf3d1dcc58a7af5b9982ff9.svg)
}

.badge-idea-3rT_mi7c.type-short-3rT_mi7c.size-small-3rT_mi7c .icon-3rT_mi7c {
    -webkit-mask: url(83613d18d0c8b598ebdcb7a9c0364767.svg);
    mask: url(83613d18d0c8b598ebdcb7a9c0364767.svg)
}

.badge-idea-3rT_mi7c.type-short-3rT_mi7c.size-medium-3rT_mi7c .icon-3rT_mi7c {
    -webkit-mask: url(9b3a3c9ab29acf52400dd24fae2fd573.svg);
    mask: url(9b3a3c9ab29acf52400dd24fae2fd573.svg)
}

.badge-idea-3rT_mi7c.type-short-3rT_mi7c.size-large-3rT_mi7c .icon-3rT_mi7c {
    -webkit-mask: url(083e1830848bea01b99adaefa04e28f1.svg);
    mask: url(083e1830848bea01b99adaefa04e28f1.svg)
}

.badge-idea-3rT_mi7c.size-small-3rT_mi7c.with-icon-3rT_mi7c.type-long-3rT_mi7c,
.badge-idea-3rT_mi7c.size-small-3rT_mi7c.with-icon-3rT_mi7c.type-short-3rT_mi7c {
    --ui-lib-badge-padding-left: 2px
}

.badge-idea-3rT_mi7c.size-medium-3rT_mi7c.with-icon-3rT_mi7c.type-long-3rT_mi7c,
.badge-idea-3rT_mi7c.size-medium-3rT_mi7c.with-icon-3rT_mi7c.type-short-3rT_mi7c {
    --ui-lib-badge-padding-left: 4px
}

.badge-idea-3rT_mi7c.size-large-3rT_mi7c.with-icon-3rT_mi7c.type-long-3rT_mi7c,
.badge-idea-3rT_mi7c.size-large-3rT_mi7c.with-icon-3rT_mi7c.type-short-3rT_mi7c {
    --ui-lib-badge-padding-left: 6px
}

.badge-idea-3rT_mi7c.variant-primary-3rT_mi7c {
    --ui-lib-badge-color-content: #fff
}

.badge-idea-3rT_mi7c.variant-primary-3rT_mi7c.type-long-3rT_mi7c {
    --ui-lib-badge-background: #22ab94
}

.badge-idea-3rT_mi7c.variant-primary-3rT_mi7c.type-short-3rT_mi7c {
    --ui-lib-badge-background: #f7525f
}

.badge-idea-3rT_mi7c.variant-primary-3rT_mi7c.type-education-3rT_mi7c {
    --ui-lib-badge-background: #2962ff
}

.badge-idea-3rT_mi7c.variant-ghost-3rT_mi7c {
    --ui-lib-badge-background: #0000
}

.badge-idea-3rT_mi7c.variant-ghost-3rT_mi7c.type-long-3rT_mi7c {
    --ui-lib-badge-color-content: #22ab94
}

.badge-idea-3rT_mi7c.variant-ghost-3rT_mi7c.type-short-3rT_mi7c {
    --ui-lib-badge-color-content: #f7525f
}

.badge-idea-3rT_mi7c.variant-ghost-3rT_mi7c.type-education-3rT_mi7c {
    --ui-lib-badge-color-content: #2962ff
}

.badge-idea-3rT_mi7c.variant-ghost-3rT_mi7c.size-medium-3rT_mi7c {
    --ui-lib-badge-padding-left: 0px;
    --ui-lib-badge-padding-right: 0px
}