.tv-editors-picks-heart-icon {
    color: #131722;
    position: relative;
    transition: color .35s ease
}

html.theme-dark .tv-editors-picks-heart-icon {
    color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-editors-picks-heart-icon:hover,
    html.theme-dark .tv-editors-picks-heart-icon:hover {
        color: #1e53e5
    }
}

.tv-editors-picks-heart-icon:active {
    animation: heartbeating-1Keb18za 1s linear infinite
}

.tv-editors-picks-heart-icon svg {
    height: 28px;
    width: 28px
}

@keyframes heartbeating-1Keb18za {
    0% {
        transform: scale(1)
    }
    35% {
        transform: scale(.8)
    }
    75% {
        transform: scale(.8)
    }
    90% {
        transform: scale(.9)
    }
    95% {
        transform: scale(.8)
    }
    to {
        transform: scale(.8)
    }
}