.info-1hg6FEA6 {
    color: #787b86;
    display: flex;
    flex-direction: row;
    line-height: 24px
}

@media screen and (max-width:479px) {
    .info-1hg6FEA6 {
        order: 1
    }
}

.infoBlock-1hg6FEA6 {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 16px
}

.infoBlock-1hg6FEA6 .tv-user-avatar-1hg6FEA6 {
    border-radius: 4px
}

@media screen and (max-width:479px) {
    .infoBlock-1hg6FEA6 {
        flex-wrap: wrap;
        padding-bottom: 5px
    }
    .infoUser-1hg6FEA6 {
        order: 2;
        width: 100%
    }
}

.title-qlScWKRo {
    overflow: hidden;
    padding-bottom: 20px;
    text-overflow: ellipsis;
    transition: color .35s ease
}

.title-qlScWKRo:active {
    color: #1e53e5;
    transition-duration: .1s
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .title-qlScWKRo:hover {
        color: #1e53e5;
        transition-duration: .1s
    }
}

html.theme-dark .title-qlScWKRo:active {
    color: #1e53e5
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .title-qlScWKRo:hover {
        color: #1e53e5
    }
}

.clickable-qlScWKRo {
    cursor: pointer
}

.stream-qlScWKRo {
    border-radius: 6px;
    height: 250px;
    margin-bottom: 18px;
    overflow: hidden;
    position: relative;
    width: 100%
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .stream-qlScWKRo:hover {
        cursor: pointer
    }
}

@media screen and (max-width:1019px) {
    .stream-qlScWKRo {
        height: auto;
        min-height: 164px;
        min-width: 285px
    }
}

@media screen and (max-width:479px) {
    .stream-qlScWKRo {
        margin-bottom: 4px
    }
}

.wrapperImage-qlScWKRo {
    margin-bottom: 10px;
    padding-bottom: 59.25%;
    position: relative;
    z-index: 1
}

.badgeBlock-qlScWKRo {
    z-index: 1
}

.preview-qlScWKRo {
    border-radius: 6px;
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 100%
}

.button-qlScWKRo {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}

.playerWrapper-qlScWKRo {
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.player-qlScWKRo {
    border-radius: 6px;
    height: 100%;
    overflow: hidden;
    padding-bottom: 56.2% !important;
    pointer-events: none;
    width: 100%
}

.hide-qlScWKRo {
    visibility: hidden
}

.durationBadge-qlScWKRo {
    background-color: #2962ff;
    border-radius: 8px;
    bottom: 11px;
    color: #fff;
    font-size: 11px;
    padding: 2px 8px;
    position: absolute;
    right: 8px;
    z-index: 1
}

@media screen and (max-width:1019px) {
    .durationBadge-qlScWKRo {
        bottom: 21px
    }
}

.overdue-2o-uHwp2 {
    opacity: .6
}

.description-2o-uHwp2 {
    cursor: pointer;
    display: block;
    -webkit-hyphens: auto;
    hyphens: auto;
    max-height: 96px;
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word
}

.streamsContainer-3KjM7nJK {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    max-width: 100%;
    position: relative
}

@media screen and (max-width:1019px) {
    .streamsContainer-3KjM7nJK {
        padding-left: 0;
        padding-right: 0
    }
}

.title-3KjM7nJK {
    font-size: 34px;
    padding: 20px 0
}

.titleContainer-3KjM7nJK {
    display: flex;
    justify-content: space-between
}

.profile-3KjM7nJK {
    padding-left: 0;
    padding-right: 0
}