.badge-broker-1ZVP_YdH {
    --ui-lib-badge-color-content: #fff
}

.badge-broker-1ZVP_YdH.featured-1ZVP_YdH {
    --ui-lib-badge-background: #22ab94;
    --ui-lib-badge-color-focus-outline: #22ab94
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.badge-broker-1ZVP_YdH.featured-1ZVP_YdH:hover {
        --ui-lib-badge-background: #06806b
    }
}

.badge-broker-1ZVP_YdH.platinum-1ZVP_YdH {
    --ui-lib-badge-color-focus-outline: #057cda;
    --ui-lib-badge-background: linear-gradient(90deg, #003488 5%, #057cda 39.94%, #0067af 78.94%, #083976 107%)
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .badge-broker-1ZVP_YdH.platinum-1ZVP_YdH.link-1ZVP_YdH:hover {
        --ui-lib-badge-color-focus-outline: #045ea6;
        --ui-lib-badge-background: linear-gradient(90deg, #002a6e 5%, #045ea6 39.94%, #005996 78.94%, #062c5c 107%)
    }
}

.badge-broker-1ZVP_YdH.gold-1ZVP_YdH {
    --ui-lib-badge-color-focus-outline: #c68238;
    --ui-lib-badge-background: linear-gradient(90deg, #fedf84 -27.38%, #c68238)
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .badge-broker-1ZVP_YdH.gold-1ZVP_YdH.link-1ZVP_YdH:hover {
        --ui-lib-badge-color-focus-outline: #94612a;
        --ui-lib-badge-background: linear-gradient(90deg, #e6c977 -27.38%, #94612a)
    }
}

.badge-broker-1ZVP_YdH.silver-1ZVP_YdH {
    --ui-lib-badge-color-focus-outline: #465566;
    --ui-lib-badge-background: linear-gradient(90deg, #c1d5e6 -24%, #465566 114%)
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .badge-broker-1ZVP_YdH.silver-1ZVP_YdH.link-1ZVP_YdH:hover {
        --ui-lib-badge-color-focus-outline: #34404d;
        --ui-lib-badge-background: linear-gradient(90deg, #96a6b3 -24%, #34404d 114%)
    }
}