.inner-slot-2OKMGqSc {
    --ui-lib-control-inner-slot-gap: 2px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: calc(100% - 6px + var(--ui-lib-control-border-width, 1px)*2);
    justify-content: center;
    margin-bottom: calc(3px - var(--ui-lib-control-border-width, 1px));
    margin-right: var(--ui-lib-control-inner-slot-gap, 2px);
    margin-top: calc(3px - var(--ui-lib-control-border-width, 1px));
    overflow: hidden
}

.inner-slot-2OKMGqSc:first-child {
    margin-left: calc(3px - var(--ui-lib-control-border-width, 1px))
}

.inner-slot-2OKMGqSc:nth-last-child(2) {
    margin-right: calc(3px - var(--ui-lib-control-border-width, 1px))
}

.inner-slot-2OKMGqSc.interactive-3SE8kqul {
    color: var(--ui-lib-control-default-slot-color, currentColor)
}

.inner-slot-2OKMGqSc.icon-2tguASdP {
    flex: none;
    width: 28px
}

.inner-middle-slot-FxLdcHA0 {
    flex: 1 1 auto
}

.before-slot-3KAG-INy {
    display: flex;
    margin-bottom: 2px
}

.after-slot-34RFQaLb {
    display: flex;
    margin-top: 4px
}