.breadcrumbs-2MEXA79K {
    overflow: hidden;
    position: relative;
    width: 100%
}

.breadcrumbs-2MEXA79K:after,
.breadcrumbs-2MEXA79K:before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    transition: opacity .35s ease-in-out, transform .35s ease-in-out;
    width: 50px
}

.breadcrumbs-2MEXA79K:before {
    background: linear-gradient(90deg, #fff, #fff0);
    left: 0;
    transform: translateX(-50px)
}

html.theme-dark .breadcrumbs-2MEXA79K:before {
    background: linear-gradient(90deg, #131722, #13172200)
}

.breadcrumbs-2MEXA79K:after {
    background: linear-gradient(-90deg, #fff, #fff0);
    right: 0;
    transform: translateX(50px)
}

html.theme-dark .breadcrumbs-2MEXA79K:after {
    background: linear-gradient(-90deg, #131722, #13172200)
}

.breadcrumbs-2MEXA79K.left-fade-2MEXA79K:before,
.breadcrumbs-2MEXA79K.right-fade-2MEXA79K:after {
    transform: translateX(0)
}

.breadcrumbs-inner-2MEXA79K {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    width: 100%
}

.breadcrumbs-inner-2MEXA79K.sb-scrollbar-wrap {
    display: none
}

.breadcrumbs-inner-2MEXA79K::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0
}

.breadcrumbs-inner-2MEXA79K::-webkit-scrollbar-thumb,
.breadcrumbs-inner-2MEXA79K::-webkit-scrollbar-track {
    display: none
}

.breadcrumbs-inner-2MEXA79K::-webkit-scrollbar-corner {
    display: none
}

.breadcrumb-2MEXA79K {
    color: #b2b5be;
    transition: color .35s ease
}

html.theme-dark .breadcrumb-2MEXA79K {
    color: #787b86
}

.breadcrumb-2MEXA79K:visited {
    fill: #b2b5be;
    color: #b2b5be
}

html.theme-dark .breadcrumb-2MEXA79K:visited {
    fill: #787b86;
    color: #787b86
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .breadcrumb-2MEXA79K:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: 60ms
    }
    html.theme-dark .breadcrumb-2MEXA79K:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

.breadcrumb-2MEXA79K:focus {
    outline: auto
}

.breadcrumb-2MEXA79K:focus-visible {
    outline: auto
}

.breadcrumb-2MEXA79K:focus:not(:focus-visible) {
    outline: none
}

.breadcrumb-2MEXA79K:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: 60ms
}

html.theme-dark .breadcrumb-2MEXA79K:active {
    fill: #1848cc;
    color: #1848cc
}

.breadcrumb-2MEXA79K[aria-disabled] {
    cursor: default
}

.breadcrumb-2MEXA79K[aria-disabled]:active {
    fill: #b2b5be;
    color: #b2b5be
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .breadcrumb-2MEXA79K[aria-disabled]:hover {
        fill: #b2b5be;
        color: #b2b5be
    }
}

html.theme-dark .breadcrumb-2MEXA79K[aria-disabled]:active {
    fill: #787b86
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .breadcrumb-2MEXA79K[aria-disabled]:hover {
        fill: #787b86
    }
}

html.theme-dark .breadcrumb-2MEXA79K[aria-disabled]:active {
    color: #787b86
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .breadcrumb-2MEXA79K[aria-disabled]:hover {
        color: #787b86
    }
}

.breadcrumb-2MEXA79K[aria-disabled]:focus {
    outline: none
}

.divider-2MEXA79K {
    color: #b2b5be;
    padding: 0 .6em
}

html.theme-dark .divider-2MEXA79K {
    color: #787b86
}