.charts-popup-list {
    background: #fff;
    border: 1px solid #e0e3eb;
    display: none;
    margin: 0;
    overflow: auto;
    position: absolute;
    right: 7px;
    top: 46px;
    z-index: 110
}

html.theme-dark .charts-popup-list {
    background: #1e222d;
    border-color: #363a45
}

.charts-popup-list.popup-menu-scroll-y {
    overflow-y: scroll
}

.charts-popup-list .item.special {
    background: #f7f8facc
}

html.theme-dark .charts-popup-list .item.special {
    background: #171b29cc
}

.charts-popup-list .item.active {
    background: #bbd9fb
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .charts-popup-list .item:hover {
        background: #bbd9fb
    }
}

html.theme-dark .charts-popup-list .item.active {
    background: #2a2e39
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .charts-popup-list .item:hover {
        background: #2a2e39
    }
}

.charts-popup-list .item.first {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.charts-popup-list .item:last-child {
    border-bottom-right-radius: 3px
}

.charts-popup-list .item span {
    fill: currentColor;
    color: #434651;
    display: inline-block
}

html.theme-dark .charts-popup-list .item span {
    color: #d1d4dc
}

.charts-popup-list .item.active {
    background: #f7f8fa
}

.charts-popup-list .item {
    cursor: default;
    display: block;
    height: 16px;
    overflow: hidden;
    padding: 7px;
    position: relative;
    -webkit-user-select: none;
    user-select: none
}

.charts-popup-list .item.setting-hidden {
    padding-left: 28px;
    padding-right: 16px
}

.charts-popup-list .item.setting-hidden>span.title-expanded {
    width: auto
}

.charts-popup-list .item.button-load,
.charts-popup-list .item.button-new {
    border: solid #e0e3eb;
    border-width: 1px 0 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    text-align: center
}

html.theme-dark .charts-popup-list .item.button-load,
html.theme-dark .charts-popup-list .item.button-new {
    border-color: #363a45
}

.charts-popup-list .item.button-load .title-expanded,
.charts-popup-list .item.button-new .title-expanded {
    width: auto
}

.charts-popup-list .item.button-load {
    border-width: 1px 1px 0 0;
    float: left;
    width: 50%
}

.charts-popup-list .item .icon-external {
    float: right;
    margin-left: 20px;
    vertical-align: top
}

.charts-popup-list .item .icon-external svg {
    stroke: #9db2bd;
    height: 10px;
    width: 10px
}

.charts-popup-list .item:last-child {
    border-bottom-left-radius: 3px
}

.charts-popup-list .item.special.disabled {
    cursor: default
}

.charts-popup-list .item.special.disabled span {
    color: #9d9d9d
}

html.theme-dark .charts-popup-list .item.special.disabled span {
    color: #4c525e
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .charts-popup-list .item.special.disabled:hover {
        background: #f7f8facc
    }
    html.theme-dark .charts-popup-list .item.special.disabled:hover {
        background: #171b29cc
    }
}

.charts-popup-list .item .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px
}

.charts-popup-list .item .title-expanded {
    font-weight: 400;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 225px
}

.charts-popup-list .item.active-item-backlight {
    background-color: #f0f3fa;
    border-radius: 0
}

html.theme-dark .charts-popup-list .item.active-item-backlight {
    background-color: #2a2e39
}

.charts-popup-list .item .date {
    float: right;
    padding-right: 20px;
    vertical-align: top;
    white-space: nowrap;
    width: 65px
}

.charts-popup-list .separator {
    border-top: 1px solid #c9cbcd;
    display: block;
    height: 0;
    margin: 0;
    overflow: hidden
}

html.theme-dark .charts-popup-list .separator {
    border-top-color: #363c4e
}

.charts-popup-list .charts-popup-tab-headers {
    font-size: 14px;
    overflow: hidden;
    padding: 8px 0
}

.charts-popup-list .charts-popup-tab-header {
    float: left;
    margin: 0 10px 5px
}

.charts-popup-list .charts-popup-tab-header-label {
    border-bottom: 1px dashed;
    cursor: pointer;
    font-weight: 700;
    padding: 0
}

.charts-popup-list .charts-popup-tab-header.active .charts-popup-tab-header-label {
    border-bottom: none;
    color: #595959;
    cursor: default
}

.charts-popup-list .item.with-indent {
    padding-left: 28px
}

.charts-popup-list .item .icon-delete {
    height: 16px;
    position: absolute;
    right: 5px;
    top: 7px;
    width: 16px
}

.charts-popup-list .item .icon-delete svg {
    color: #9d9d9d;
    display: block;
    height: 12px;
    margin: 2px 0 0 2px;
    width: 12px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .charts-popup-list .item .icon-delete:hover svg {
        color: #7d7d7d
    }
    .charts-popup-list .item .icon-delete:hover {
        background-position: -81px -362px
    }
}

.charts-popup-list .item .icon-delete {
    visibility: hidden
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .charts-popup-list .item:hover .icon-delete {
        visibility: visible
    }
}

.charts-popup-list .item .icon {
    background-position: 0 0;
    display: inline-block;
    height: 16px;
    margin: 0 5px 0 0;
    vertical-align: top;
    width: 16px
}

.charts-popup-list .item .icon.checked-icon svg {
    left: 2px;
    position: absolute;
    top: 3px
}

.charts-popup-list.iconed .item {
    height: 32px;
    line-height: 34px;
    overflow: hidden;
    padding: 3px 2px;
    position: relative;
    white-space: nowrap
}

.charts-popup-list.iconed .item .title {
    padding-right: 20px
}

.charts-popup-list.iconed .item .icon {
    height: 32px;
    margin: 0 5px;
    width: 32px
}

.charts-popup-list.iconed.thin .title {
    width: 50px
}

.charts-popup-list.narrow {
    width: 165px
}

.charts-popup-list.narrow .item .title-expanded {
    width: 140px
}

.charts-popup-list.narrow.with-scroll .item .title-expanded {
    width: 100px
}

.charts-popup-list.thin,
.charts-popup-list.thin .item .title-expanded {
    width: auto
}

.charts-popup-list .item .counter {
    color: #b8b8b8;
    position: absolute;
    right: 10px;
    top: 8px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .charts-popup-list .item:hover .counter {
        color: #595959
    }
}

.charts-popup-list .item .counter.blue {
    background: #4e8ff6;
    border-radius: 2px;
    color: #fff;
    padding: 2px 3px;
    top: 5px
}

.charts-popup-list .item.grayed span {
    opacity: .3
}

.charts-popup-list.small-font {
    font-size: 12px
}

.charts-popup-list.small-font .item {
    height: 12px
}

.charts-popup-itemheader {
    background: #b2b5be33;
    border-top: 1px solid #b2b5be;
    color: #434651;
    cursor: pointer;
    padding: 3px 8px 4px
}

html.theme-dark .charts-popup-itemheader {
    background: #363a4533;
    border-top-color: #363a45;
    color: #d1d4dc
}

.charts-popup-group-collapsible.collapsed .item {
    display: none
}

.charts-popup-group-collapsible .charts-popup-itemheader-icon {
    background: url(data:image/gif;base64,R0lGODlhCwALAIABAH19fQAAACH5BAEKAAEALAAAAAALAAsAAAIUhI8Wy6zdHlxyqnTBdHqHCoERlhQAOw==) no-repeat;
    display: inline-block;
    height: 11px;
    margin: 0 5px 0 -3px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 11px
}

.charts-popup-group-collapsible.collapsed .charts-popup-itemheader-icon {
    background-image: url(data:image/gif;base64,R0lGODlhCwALAIABAH19fQAAACH5BAEKAAEALAAAAAALAAsAAAIXhI8Wy6ze3gKRQkeTksFO31WR2FQaUgAAOw==)
}