.wrapper-2Xvbj1e6 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4px
}

@media screen and (min-width:768px) {
    .wrapper-2Xvbj1e6 {
        justify-content: flex-start
    }
}

.wrapper-2Xvbj1e6 .badge-2Xvbj1e6 {
    border-radius: 3px
}

@media screen and (min-width:768px) {
    .wrapper-2Xvbj1e6 .badge-2Xvbj1e6 {
        border-radius: 4px
    }
}

.name-2Xvbj1e6 {
    font-feature-settings: "tnum" on, "lnum" on;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-right: 8px;
    transition: color .35s ease
}

.name-2Xvbj1e6:visited {
    fill: #fff;
    color: #fff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .name-2Xvbj1e6:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: 60ms
    }
    html.theme-dark .name-2Xvbj1e6:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

.name-2Xvbj1e6:focus {
    outline: auto
}

.name-2Xvbj1e6:focus-visible {
    outline: auto
}

.name-2Xvbj1e6:focus:not(:focus-visible) {
    outline: none
}

.name-2Xvbj1e6:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: 60ms
}

html.theme-dark .name-2Xvbj1e6:active {
    fill: #1848cc;
    color: #1848cc
}

@media screen and (min-width:768px) {
    .name-2Xvbj1e6 {
        font-feature-settings: "tnum" on, "lnum" on;
        font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: 44px
    }
}

.badge-2Xvbj1e6 {
    font-feature-settings: "tnum" on, "lnum" on;
    border-radius: 3px;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    font-weight: 600;
    height: auto;
    letter-spacing: .4px;
    letter-spacing: .02em;
    line-height: 16px;
    padding: 0 6px;
    position: relative;
    text-transform: uppercase;
    top: 1px
}

@media screen and (min-width:768px) {
    .badge-2Xvbj1e6 {
        border-radius: 4px;
        letter-spacing: .05em;
        line-height: 18px;
        padding: 1px 8px;
        top: 3px
    }
}

.container-38z_OddB {
    align-items: center;
    display: flex
}

.ratingBlock-38z_OddB {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-right: 8px
}

@media screen and (min-width:768px) {
    .ratingBlock-38z_OddB {
        font-feature-settings: "tnum" on, "lnum" on;
        font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px
    }
}

.widget-3pqcvbpA {
    align-items: center;
    background: #000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative
}

@media screen and (min-width:768px) {
    .widget-3pqcvbpA {
        border-radius: 24px;
        flex-direction: row;
        min-height: 352px
    }
}

@media screen and (min-width:1280px) {
    .widget-3pqcvbpA {
        min-width: 1180px
    }
}

@media screen and (min-width:1440px) {
    .widget-3pqcvbpA {
        min-width: 1314px
    }
}

.container-3pqcvbpA {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 16px 24px;
    position: relative;
    text-align: center;
    z-index: 1
}

@media screen and (min-width:768px) {
    .container-3pqcvbpA {
        align-items: flex-start;
        max-width: 330px;
        padding: 40px;
        text-align: initial
    }
}

@media screen and (min-width:1440px) {
    .container-3pqcvbpA {
        max-width: 400px
    }
}

.tradableInstruments-3pqcvbpA {
    color: #d1d4dc;
    display: block;
    margin-bottom: 4px
}

.rating-3pqcvbpA,
.tradableInstruments-3pqcvbpA {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}

.rating-3pqcvbpA {
    align-items: center;
    display: inline-flex;
    margin-bottom: 25px;
    margin-top: 8px
}

@media screen and (min-width:768px) {
    .rating-3pqcvbpA {
        margin-bottom: 32px
    }
}

.badge-3pqcvbpA {
    background-size: 31px 31px;
    border: 1px solid #2a2e39;
    height: 31px;
    margin-left: 12px;
    width: 31px
}

@media screen and (min-width:768px) {
    .badge-3pqcvbpA {
        background-size: 39px 39px;
        height: 39px;
        width: 39px
    }
}

.buttons-3pqcvbpA {
    display: flex;
    flex-direction: column
}

@media screen and (min-width:768px) {
    .buttons-3pqcvbpA {
        flex-direction: row
    }
}

.buttonsAccount-3pqcvbpA {
    margin-bottom: 12px
}

@media screen and (min-width:768px) {
    .buttonsAccount-3pqcvbpA {
        margin-bottom: 0;
        margin-right: 12px
    }
}

.image-3pqcvbpA {
    height: 140px;
    margin-bottom: 24px;
    width: 330px
}

@media screen and (min-width:768px) {
    .image-3pqcvbpA {
        height: 352px;
        margin-bottom: 0;
        position: absolute;
        right: -350px;
        width: 830px
    }
}

@media screen and (min-width:1024px) {
    .image-3pqcvbpA {
        bottom: -17px;
        height: 386px;
        right: -210px;
        width: 910px
    }
}

@media screen and (min-width:1280px) {
    .image-3pqcvbpA {
        bottom: -64px;
        height: 480px;
        right: -130px;
        width: 1132px
    }
}

@media screen and (min-width:1440px) {
    .image-3pqcvbpA {
        bottom: -94px;
        height: 550px;
        right: -220px;
        width: 1320px
    }
}

.container-2Wq7848F {
    display: grid
}

.header-2Wq7848F {
    margin-bottom: var(--v-rhythm-spacing-4)
}

.brokers-2Wq7848F {
    display: grid;
    gap: 32px;
    margin-bottom: 32px
}

.link-2Wq7848F {
    margin: 0 auto
}