.tv-solution-link {
    background: none;
    border: none;
    color: #787b86;
    cursor: pointer;
    padding: 0;
    transition: color .35s ease
}

html.theme-dark .tv-solution-link {
    color: #787b86
}

.tv-solution-link:visited {
    fill: #787b86;
    color: #787b86
}

html.theme-dark .tv-solution-link:visited {
    fill: #787b86;
    color: #787b86
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-solution-link:hover {
        fill: #131722;
        color: #131722;
        transition-duration: 60ms
    }
    html.theme-dark .tv-solution-link:hover {
        fill: #d1d4dc;
        color: #d1d4dc
    }
}

.tv-solution-link:focus {
    outline: auto
}

.tv-solution-link:focus-visible {
    outline: auto
}

.tv-solution-link:focus:not(:focus-visible) {
    outline: none
}

.tv-solution-link:active {
    fill: #131722;
    color: #131722;
    transition-duration: 60ms
}

html.theme-dark .tv-solution-link:active {
    fill: #d1d4dc;
    color: #d1d4dc
}

.tv-solution-link:focus {
    outline: none
}

.tv-solution-link>svg {
    position: relative;
    top: 3px
}

.tv-solution-link__big-solution-link>svg {
    height: 23.625px;
    width: 23.625px
}