.notify-wrapper-2Uj8rntZ {
    bottom: 20px;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%
}

@media screen and (max-width:1530px) {
    .notify-wrapper-2Uj8rntZ {
        bottom: 24px
    }
    .view-state-open-popup .notify-wrapper-2Uj8rntZ {
        bottom: 15px
    }
}

@media screen and (max-width:1019px) {
    .notify-wrapper-2Uj8rntZ {
        display: none
    }
}

.notify-block-2Uj8rntZ {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px #0003;
    padding: 16px 24px
}

html.theme-dark .notify-block-2Uj8rntZ {
    background-color: #2a2e39;
    box-shadow: 0 2px 4px #0006
}

.notify-block-2Uj8rntZ p {
    color: #131722;
    font-size: 16px;
    line-height: 24px
}

html.theme-dark .notify-block-2Uj8rntZ p {
    color: #d1d4dc
}

.formBlock-2Uj8rntZ {
    color: #131722;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 558px
}

html.theme-dark .formBlock-2Uj8rntZ {
    color: #d1d4dc
}

.sectionWrapper-2Uj8rntZ {
    flex-basis: 450px;
    padding: 10px
}

.section-2Uj8rntZ {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px
}

.sectionTitle-2Uj8rntZ {
    color: #131722;
    font-size: 20px;
    line-height: 28px;
    margin: 5px 0
}

.streamBadge-2Uj8rntZ {
    --ui-lib-badge-color-content: #fff;
    --ui-lib-badge-background: #787b86;
    --ui-lib-badge-color-focus-outline: #787b86;
    margin: 5px;
    position: relative
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.streamBadge-2Uj8rntZ:hover {
        --ui-lib-badge-background: #5d606b
    }
}

.badgeBlock-2Uj8rntZ {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 11px;
    top: 11px
}

.liveStreamIcon-2Uj8rntZ {
    left: 11px;
    position: absolute;
    top: 5px
}

.tabTitle-2Uj8rntZ {
    color: #131722;
    font-size: 34px;
    font-weight: 400;
    padding: 40px 0
}

.streamTitle-2Uj8rntZ {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px
}

html.theme-dark .streamTitle-2Uj8rntZ {
    color: #d1d4dc
}

.descriptionContainer-2Uj8rntZ {
    cursor: pointer;
    display: block;
    flex: 1 0 auto;
    margin-bottom: 18px;
    max-height: 96px;
    overflow: hidden
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .descriptionContainer-2Uj8rntZ:hover svg g {
        fill: #2962ff
    }
}

@media screen and (max-width:479px) {
    .descriptionContainer-2Uj8rntZ {
        margin-bottom: 0
    }
}

.descriptionRow-2Uj8rntZ {
    display: flex;
    flex-flow: column wrap;
    position: relative
}

.descriptionMarker-2Uj8rntZ {
    height: 0;
    pointer-events: none;
    right: 0;
    top: 0;
    width: 0
}

.descriptionLoadMore-2Uj8rntZ {
    background: linear-gradient(270deg, #fff 50%, #fff0);
    color: #2962ff;
    display: block;
    height: 24px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 69px;
    transition: background-color @dur ease;
    width: 70px
}

html.theme-dark .descriptionLoadMore-2Uj8rntZ {
    background: linear-gradient(270deg, #1e222d 50%, #1e222d00);
    color: #2962ff
}

.descriptionLoadMore-2Uj8rntZ svg {
    display: inline-block
}

.description-2Uj8rntZ {
    color: #131722;
    font-size: 15px;
    line-height: 24px
}

html.theme-dark .description-2Uj8rntZ {
    color: #b2b5be
}

.titleContainer-2Uj8rntZ {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px
}

.privateOnly-2Uj8rntZ {
    background-color: initial;
    border: 1px solid #e0e3eb;
    border-radius: 120px;
    color: #788694;
    font-size: 17px;
    line-height: 24px;
    outline: none;
    padding: 10px 10px 10px 42px;
    position: relative
}

.privateActive-2Uj8rntZ {
    background-color: #f0f3fa;
    color: #2962ff
}

.privateButtonIcon-2Uj8rntZ {
    left: 16px;
    position: absolute;
    top: 11px
}

.streamsTab-2Uj8rntZ {
    box-sizing: border-box;
    color: #131722;
    font-size: 16px;
    padding: 23.5px 20px;
    text-align: center
}

html.theme-dark .streamsTab-2Uj8rntZ {
    color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .streamsTab-2Uj8rntZ:hover {
        cursor: pointer
    }
}

.activeTab-2Uj8rntZ {
    position: relative
}

.activeTab-2Uj8rntZ:after {
    background: #2962ff;
    bottom: 0;
    content: "";
    height: 4px;
    left: 20px;
    position: absolute;
    right: 20px
}

.divider-2Uj8rntZ {
    font-size: 10px;
    padding: 0 5px
}

.logoIcon-2Uj8rntZ {
    display: inline-flex;
    width: auto
}

.logoIcon-2Uj8rntZ svg {
    display: inherit;
    height: inherit;
    width: inherit
}

.liveBadge-2Uj8rntZ {
    --ui-lib-badge-color-content: #fff;
    --ui-lib-badge-background: #f23645;
    --ui-lib-badge-color-focus-outline: #f23645
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.liveBadge-2Uj8rntZ:hover {
        --ui-lib-badge-background: #b22833
    }
}

.liveBadge-2Uj8rntZ.xsmall-2Uj8rntZ .logoIcon-2Uj8rntZ {
    display: none
}

.liveBadge-2Uj8rntZ.medium-2Uj8rntZ .logoIcon-2Uj8rntZ,
.liveBadge-2Uj8rntZ.small-2Uj8rntZ .logoIcon-2Uj8rntZ {
    height: 8px;
    padding-right: 4px
}

.liveBadge-2Uj8rntZ.large-2Uj8rntZ .logoIcon-2Uj8rntZ {
    height: 10px;
    padding-right: 4px
}

.liveBadge-2Uj8rntZ.xlarge-2Uj8rntZ .logoIcon-2Uj8rntZ {
    height: 12px;
    padding-right: 6px
}

.playButton-2Uj8rntZ {
    background-color: #2962ff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 #000000bf;
    font-size: 40px;
    height: 50px;
    left: 0;
    line-height: 2em;
    margin: auto;
    padding: 0;
    top: 0;
    transition: transform .1s ease-in-out;
    width: 50px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .playButton-2Uj8rntZ:hover {
        transform: scale(1.1)
    }
    .playButton-2Uj8rntZ:hover:active {
        transform: scale(.9)
    }
}

.playButtonTriangle-2Uj8rntZ:before {
    background-color: #fff;
    -webkit-clip-path: polygon(100% 50%, 0 100%, 0 0);
    clip-path: polygon(100% 50%, 0 100%, 0 0);
    content: " ";
    height: 18px;
    left: calc(50% - 4px);
    position: absolute;
    top: calc(50% - 9px);
    width: 13px
}

.stats-2Uj8rntZ {
    align-items: center;
    color: #787b86;
    display: flex
}