.tv-get-widget-button>svg {
    display: block;
    height: 20px;
    width: 20px
}

@keyframes keyframes-highlight-animation-theme-light {
    0% {
        background: #0000
    }
    50% {
        background: #e3effd
    }
    to {
        background: #0000
    }
}

@keyframes keyframes-highlight-animation-theme-dark {
    0% {
        background: #0000
    }
    50% {
        background: #132042
    }
    to {
        background: #0000
    }
}

div.widgetbar-widgetheader-icon-economic-calendar {
    margin-top: 5px
}

.widgetbar-widgetheader-icon svg,
html.theme-dark .widgetbar-widgetheader-icon svg {
    fill: #787b86
}

.widgetbar-page .widgetbar-headerspace .widgetbar-icon-button {
    align-items: center;
    display: inline-flex;
    flex: none;
    justify-content: center;
    padding: 0
}

.tv-reuters-calendar {
    height: 100%;
    overflow: hidden
}

.tv-reuters-calendar.tv-reuters-calendar--transparent,
.tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__comment,
.tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__header-icon,
.tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__heading-block--expandable,
.tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__item--expanded {
    background-color: initial;
    border-bottom-color: #0000
}

html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent,
html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__comment,
html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__header-icon,
html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__heading-block--expandable,
html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__item--expanded {
    background-color: initial;
    border-bottom-color: #0000
}

.tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__comment:active,
.tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__header-icon:active,
.tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__heading-block--expandable:active,
.tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__item--expanded:active,
.tv-reuters-calendar.tv-reuters-calendar--transparent:active {
    background-color: initial
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__comment:hover,
    .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__header-icon:hover,
    .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__heading-block--expandable:hover,
    .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__item--expanded:hover,
    .tv-reuters-calendar.tv-reuters-calendar--transparent:hover {
        background-color: initial
    }
}

html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__comment:active,
html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__header-icon:active,
html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__heading-block--expandable:active,
html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__item--expanded:active,
html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent:active {
    background-color: initial
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__comment:hover,
    html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__header-icon:hover,
    html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__heading-block--expandable:hover,
    html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent .tv-reuters-calendar__item--expanded:hover,
    html.theme-dark .tv-reuters-calendar.tv-reuters-calendar--transparent:hover {
        background-color: initial
    }
}

.tv-reuters-calendar.tv-reuters-calendar--full-page {
    padding-top: 13px
}

.tv-reuters-calendar__scnt {
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 36px);
    overflow: hidden;
    position: relative
}

.tv-reuters-calendar__scnt--loading {
    opacity: .5
}

.tv-reuters-calendar__scnt .sb-scrollbar-body {
    transition: height .175s cubic-bezier(.645, .045, .355, 1)
}

.tv-reuters-calendar__dcnt {
    box-sizing: border-box;
    width: 100%
}

.tv-reuters-calendar__dcnt:after {
    clear: both;
    content: "";
    display: table
}

.tv-reuters-calendar__dcnt--scroll-inited {
    position: absolute
}

.tv-reuters-calendar__header {
    align-items: center;
    color: #787b86;
    cursor: default;
    display: flex;
    overflow: hidden;
    padding: 12px 20px;
    white-space: nowrap
}

html.theme-dark .tv-reuters-calendar__header {
    color: #b2b5be
}

.tv-reuters-calendar__config-button,
.tv-reuters-calendar__importance-button {
    cursor: pointer
}

.tv-reuters-calendar__header-column {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    vertical-align: top
}

.tv-reuters-calendar__header-column--time {
    float: left;
    width: 55px
}

.tv-reuters-calendar__header-column--actual,
.tv-reuters-calendar__header-column--forecast {
    width: 55px
}

.tv-reuters-calendar__header-column--prior {
    overflow: visible;
    width: 55px
}

.tv-reuters-calendar__header-column--icons {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 0;
    order: 1
}

.tv-reuters-calendar__header-icon {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    height: 36px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 36px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-reuters-calendar__header-icon:hover {
        background-color: #f0f3fa
    }
    html.theme-dark .tv-reuters-calendar__header-icon:hover {
        background-color: #5d606b
    }
}

.tv-reuters-calendar__header-icon.i-active {
    color: #2962ff
}

.tv-reuters-calendar__get-widget-button {
    color: #787b86;
    cursor: pointer
}

html.theme-dark .tv-reuters-calendar__get-widget-button {
    color: #b2b5be
}

.tv-reuters-calendar__date-block {
    font-size: 13px;
    line-height: 16px
}

.tv-reuters-calendar__date-block:after {
    clear: both;
    content: "";
    display: table
}

.tv-reuters-calendar__date-block:first-child .tv-reuters-calendar__day {
    margin-top: 0
}

.tv-reuters-calendar__item {
    color: #434651;
    cursor: default;
    height: 60px;
    opacity: .5;
    overflow: hidden;
    position: relative;
    transition: background-color .35s ease
}

html.theme-dark .tv-reuters-calendar__item {
    color: #d1d4dc
}

.tv-reuters-calendar__item--expanded {
    height: auto
}

.tv-reuters-calendar__item--future {
    opacity: 1
}

.tv-reuters-calendar__item:before {
    background-color: #e0e3eb;
    content: "";
    display: block;
    height: 1px;
    left: 20px;
    position: absolute;
    right: 20px;
    top: 0;
    transition: opacity .35s ease
}

html.theme-dark .tv-reuters-calendar__item:before {
    background-color: #363a45
}

.tv-reuters-calendar__item:first-child:before {
    display: none
}

.tv-reuters-calendar__item--expandable:active+.tv-reuters-calendar__item:before,
.tv-reuters-calendar__item--expandable:active:before,
.tv-reuters-calendar__item--expanded+.tv-reuters-calendar__item:before,
.tv-reuters-calendar__item--expanded:before {
    opacity: 0;
    transition-duration: .06s
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-reuters-calendar__item--expandable:hover+.tv-reuters-calendar__item:before,
    .tv-reuters-calendar__item--expandable:hover:before {
        opacity: 0;
        transition-duration: .06s
    }
}

.tv-reuters-calendar__time {
    display: block;
    margin: 0 0 4px;
    width: 55px
}

.tv-reuters-calendar__item--upcoming .tv-reuters-calendar__timebadge {
    background: #f7525f;
    color: #fff;
    margin: -1px -3px;
    padding: 1px 3px
}

.tv-reuters-calendar__date-block--collapsed .tv-reuters-calendar__day-content {
    display: none
}

.tv-reuters-calendar__day {
    border-bottom: 1px solid #e0e3eb;
    color: #434651;
    cursor: pointer;
    display: block;
    font-weight: 700;
    margin: 15px 20px 0;
    padding: 5px 0;
    text-transform: uppercase;
    transition: color .35s ease;
    -webkit-user-select: none;
    user-select: none
}

html.theme-dark .tv-reuters-calendar__day {
    border-bottom: 1px solid #434651;
    color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-reuters-calendar__day:hover {
        transition-duration: .06s
    }
}

.tv-reuters-calendar__day-content {
    position: relative
}

.tv-reuters-calendar__date-block--today .tv-reuters-calendar__day {
    border-bottom-color: #2962ff
}

.tv-reuters-calendar__time-block {
    float: left;
    position: relative;
    width: 55px
}

.tv-reuters-calendar__comment {
    border-bottom: 2px solid;
    border-bottom-color: #e0e3eb;
    box-sizing: border-box;
    color: #434651;
    font-size: 13px;
    line-height: 1.6;
    padding: 15px 20px;
    white-space: normal
}

html.theme-dark .tv-reuters-calendar__comment {
    border-bottom-color: #363a45;
    color: #d1d4dc
}

.tv-reuters-calendar__item--expanded .tv-reuters-calendar__heading-block {
    background-color: #f2f3f5
}

html.theme-dark .tv-reuters-calendar__item--expanded .tv-reuters-calendar__heading-block {
    background-color: #1c2030
}

.tv-reuters-calendar__heading-block {
    box-sizing: border-box;
    height: 60px;
    padding: 12px 20px;
    position: relative;
    white-space: nowrap
}

.tv-reuters-calendar__heading-block:after {
    clear: both;
    content: "";
    display: table
}

.tv-reuters-calendar__heading-block--expandable {
    cursor: pointer;
    transition: background-color .35s ease;
    -webkit-user-select: none;
    user-select: none
}

.tv-reuters-calendar__heading-block--expandable:active {
    background-color: #f2f3f5;
    transition-duration: .06s
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-reuters-calendar__heading-block--expandable:hover {
        background-color: #f2f3f5;
        transition-duration: .06s
    }
}

html.theme-dark .tv-reuters-calendar__heading-block--expandable:active {
    background-color: #1c2030
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .tv-reuters-calendar__heading-block--expandable:hover {
        background-color: #1c2030
    }
}

.tv-reuters-calendar__heading {
    overflow: hidden
}

.tv-reuters-calendar__heading-block--expandable .tv-reuters-calendar__heading {
    padding-right: 13px
}

.tv-reuters-calendar__heading-title {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle
}

.tv-reuters-calendar__importance-indicator {
    background: #ffca3b;
    border-radius: 50%;
    height: 6px;
    position: absolute;
    right: 8px;
    top: 5px;
    width: 6px
}

.tv-reuters-calendar__importance-indicator--high {
    background: #ff4a68;
    display: block
}

.tv-reuters-calendar__importance-indicator--normal {
    background: #ff9850;
    display: block
}

.tv-reuters-calendar__value-group {
    position: absolute;
    top: 34px
}

.tv-reuters-calendar__value {
    display: inline-block;
    min-width: 49px;
    padding: 0 6px 0 0;
    vertical-align: top
}

.tv-reuters-calendar__flag {
    border-radius: 50%;
    display: block;
    height: 16px;
    margin-left: 8px;
    overflow: hidden;
    position: relative;
    top: 2px;
    width: 16px
}

.tv-reuters-calendar__drop-arrow {
    fill: currentColor;
    height: 4px;
    margin-left: 5px;
    transition: transform .35s;
    vertical-align: middle;
    width: 8px
}

.tv-reuters-calendar__item.i-dropped .tv-reuters-calendar__drop-arrow {
    transform: rotate(180deg)
}

@media screen and (max-width:1019px) {
    .tv-reuters-calendar__day {
        margin-left: 12px;
        margin-right: 12px
    }
    .tv-reuters-calendar__comment,
    .tv-reuters-calendar__header,
    .tv-reuters-calendar__heading-block {
        padding-left: 12px;
        padding-right: 12px
    }
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__day {
    margin-bottom: 5px
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__heading-block {
    padding-bottom: 10px;
    padding-top: 10px
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__flag {
    top: 0
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__item {
    margin: 1px 0
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__item:before {
    display: none
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__heading-block,
.tv-reuters-calendar--wide-layout .tv-reuters-calendar__item {
    height: 36px
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__item--expanded {
    height: auto
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__value-group {
    float: right;
    margin: 0 0 0 14px;
    max-width: calc(100% - 200px);
    overflow: hidden;
    position: static;
    text-overflow: ellipsis
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__time-block {
    width: 96px
}

.tv-reuters-calendar--wide-layout.tv-reuters-calendar--hide-importance-indicator .tv-reuters-calendar__time-block {
    width: 80px
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__time {
    float: left;
    margin-bottom: 4px
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__value {
    padding: 0 0 0 6px
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__header-column--actual,
.tv-reuters-calendar--wide-layout .tv-reuters-calendar__header-column--forecast,
.tv-reuters-calendar--wide-layout .tv-reuters-calendar__header-column--prior,
.tv-reuters-calendar--wide-layout .tv-reuters-calendar__value {
    text-align: right
}

.tv-reuters-calendar--wide-layout .tv-reuters-calendar__header-column--icons {
    margin-left: 0;
    margin-right: auto;
    order: 0
}

.tv-reuters-calendar__quick-link-wrap {
    border-top: 1px solid #e0e3eb
}

html.theme-dark .tv-reuters-calendar__quick-link-wrap {
    border-top: 1px solid #434651
}

.tv-reuters-calendar__item--highlighted {
    animation: keyframes-highlight-animation-theme-light .7s ease-in-out 2
}

.theme-dark .tv-reuters-calendar__item--highlighted {
    animation-name: keyframes-highlight-animation-theme-dark
}

.tv-reuters-calendar__item--highlighted {
    animation-duration: .8s
}