.tv-ripple {
    background-color: #75869640;
    border-radius: 50%;
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    transform: scale(0);
    transition: all .5s ease-out;
    transition-property: transform, opacity;
    width: 20px
}

.tv-ripple--notransition {
    transition: none
}