.wrap-YTIWpbLa {
    position: relative
}

.list-YTIWpbLa {
    background-color: #fff;
    padding: 15px 0
}

html.theme-dark .list-YTIWpbLa {
    background-color: #1e222d
}

.list-YTIWpbLa .item-YTIWpbLa {
    cursor: pointer;
    overflow: hidden;
    padding: 10px 30px 10px 15px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    transition: color .35s ease, background-color .35s ease;
    white-space: nowrap
}

.list-YTIWpbLa .item-YTIWpbLa.selected-YTIWpbLa {
    background-color: #3179f52e;
    color: #434651;
    transition-duration: .06s
}

html.theme-dark .list-YTIWpbLa .item-YTIWpbLa.selected-YTIWpbLa {
    color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .list-YTIWpbLa .item-YTIWpbLa:hover:not(.selected-YTIWpbLa) {
        background-color: #f0f3fa;
        color: #434651;
        transition-duration: .06s
    }
    html.theme-dark .list-YTIWpbLa .item-YTIWpbLa:hover:not(.selected-YTIWpbLa) {
        background-color: #2a2e39;
        color: #d1d4dc
    }
}

.list-YTIWpbLa .bluishItem-YTIWpbLa {
    cursor: pointer;
    overflow: hidden;
    padding: 10px 30px 10px 15px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    transition: color .35s ease, background-color .35s ease;
    white-space: nowrap
}

.list-YTIWpbLa .bluishItem-YTIWpbLa.selected-YTIWpbLa {
    background-color: #3179f52e;
    color: #fff;
    transition-duration: .06s
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .list-YTIWpbLa .bluishItem-YTIWpbLa:hover:not(.selected-YTIWpbLa) {
        background-color: #ebf7fc;
        color: #434651;
        transition-duration: .06s
    }
    html.theme-dark .list-YTIWpbLa .bluishItem-YTIWpbLa:hover:not(.selected-YTIWpbLa) {
        background-color: #262b3e;
        color: #d1d4dc
    }
}

.list-YTIWpbLa .bluishItem-YTIWpbLa.noPadding-YTIWpbLa {
    padding: 0
}

.list-2R-eCARO {
    display: flex;
    flex-direction: column;
    overflow: auto
}

.list-2R-eCARO .item-2R-eCARO {
    display: inline-flex;
    flex-shrink: 0
}

.container-vMoQJXBo {
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px #0003;
    box-sizing: border-box;
    line-height: normal;
    overflow-x: hidden;
    overflow-y: auto
}

html.theme-dark .container-vMoQJXBo {
    background-color: #1e222d
}

.container-vMoQJXBo::-webkit-scrollbar {
    height: 5px;
    width: 5px
}

.container-vMoQJXBo::-webkit-scrollbar-thumb {
    background-color: #9598a1;
    border: 1px solid #f0f3fa;
    border-radius: 3px
}

html.theme-dark .container-vMoQJXBo::-webkit-scrollbar-thumb {
    background-color: #363a45;
    border-color: #1e222d
}

.container-vMoQJXBo::-webkit-scrollbar-track {
    background-color: initial;
    border-radius: 3px
}

.container-vMoQJXBo::-webkit-scrollbar-corner {
    display: none
}

html.theme-dark .container-vMoQJXBo {
    box-shadow: 0 2px 4px #0006
}

.container-vMoQJXBo.top-vMoQJXBo {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px #0003
}

html.theme-dark .container-vMoQJXBo.top-vMoQJXBo {
    background-color: #1e222d;
    box-shadow: 0 2px 4px #0006
}