.tooltip-2fK7cngI {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    position: absolute;
    width: 200px;
    z-index: 10
}

.tooltip--popup-2fK7cngI {
    left: -205px
}

.tooltip--button-2fK7cngI {
    bottom: 35px;
    right: 2px;
    z-index: 0
}

.content-2fK7cngI {
    width: 100%
}

.playerEmbeded .tooltip--button-2fK7cngI,
.vjs-fullscreen .tooltip--button-2fK7cngI,
.vjs-user-inactive:not(.vjs-paused) .tooltip--button-2fK7cngI {
    display: none
}

.arrowHolder-2fK7cngI:after {
    border: 0 solid #2962ff;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    width: 0
}

html.theme-dark .arrowHolder-2fK7cngI:after {
    border-color: #2962ff
}

.arrowHolder--above-2fK7cngI:after,
.arrowHolder--below-2fK7cngI:after {
    border-left: 6px solid #0000;
    border-right: 6px solid #0000;
    left: 50%;
    margin-left: -6px
}

html.theme-dark .arrowHolder--above-2fK7cngI:after,
html.theme-dark .arrowHolder--below-2fK7cngI:after {
    border-left-color: #0000;
    border-right-color: #0000
}

.arrowHolder--below-2fK7cngI:after {
    border-bottom-width: 4px;
    bottom: 100%
}

.arrowHolder--above-2fK7cngI:after {
    border-top-width: 4px;
    top: 100%
}

.arrowHolder--after-2fK7cngI:after,
.arrowHolder--before-2fK7cngI:after {
    border-bottom: 6px solid #0000;
    border-top: 6px solid #0000;
    margin-top: -6px;
    top: 50%
}

html.theme-dark .arrowHolder--after-2fK7cngI:after,
html.theme-dark .arrowHolder--before-2fK7cngI:after {
    border-bottom-color: #0000;
    border-top-color: #0000
}

.arrowHolder--before-2fK7cngI:after {
    border-right-width: 4px;
    right: 100%
}

.arrowHolder--after-2fK7cngI:after {
    border-left-width: 4px;
    left: 100%
}

.button-2fK7cngI {
    --ui-lib-button-color-bg: #fff;
    --ui-lib-button-color-border: #fff;
    --ui-lib-button-color-content: #131722;
    --ui-lib-button-color-focus-outline: #fffc;
    cursor: default;
    float: right;
    margin-top: 15px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .button-2fK7cngI:hover {
        --ui-lib-button-color-bg: #f0f3fa;
        --ui-lib-button-color-border: #f0f3fa
    }
}

.button-2fK7cngI:active {
    --ui-lib-button-color-bg: #e3effd;
    --ui-lib-button-color-border: #e3effd;
    --ui-lib-button-color-content: #2962ff
}

.video-js .button-2fK7cngI,
.video-js .button-2fK7cngI:focus:not(:focus-visible) {
    background-color: var(--ui-lib-button-color-bg, var(--ui-lib-button-default-color-bg));
    border-color: var(--ui-lib-button-color-border, var(--ui-lib-button-default-color-border));
    color: var(--ui-lib-button-color-content, var(--ui-lib-button-default-color-content))
}

.showPoster-3QmXsNqE {
    display: inline-block !important
}

.tech-3QmXsNqE {
    pointer-events: none
}

.customPoster-3QmXsNqE {
    cursor: default !important;
    z-index: 2
}

.customBigPlayButton-3QmXsNqE {
    background-color: #2962ff !important;
    border-radius: 50% !important;
    box-shadow: 0 0 5px 0 #000000bf;
    font-size: 40px !important;
    height: 2em !important;
    transition: transform .1s ease-in-out !important;
    width: 2em !important
}

.customBigPlayButton-3QmXsNqE,
.miniPlayerBigPlayButton-3QmXsNqE {
    border: none !important;
    left: calc(50% - 1em) !important;
    line-height: 2em !important;
    top: calc(50% - 1em) !important
}

.miniPlayerBigPlayButton-3QmXsNqE {
    background-color: initial !important;
    box-shadow: none;
    font-size: 5em !important;
    height: 3em !important;
    width: 1.9em !important
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .customBigPlayButton-3QmXsNqE:hover {
        transform: scale(1.1)
    }
    .customBigPlayButton-3QmXsNqE:hover:active {
        transform: scale(.9)
    }
}

.showBigPlayButton-3QmXsNqE {
    display: block !important
}

.vjs-fullscreen-control {
    order: 2
}

.vjs-theater-control {
    order: 1
}

.vjs-mini-player-control {
    order: 0
}

.video-js .vjs-playback-rate .vjs-playback-rate-value {
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: center
}

.hideControlBar-3QmXsNqE {
    display: none !important
}

.video-js.miniModeEnable .vjs-mini-player-control,
.video-js.miniModeEnable .vjs-theater-control {
    display: none
}

.preview-nDZt1Qu- {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0
}

.userContainer-nDZt1Qu- {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px #0003;
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    min-width: 432px;
    padding: 32px
}

html.theme-dark .userContainer-nDZt1Qu- {
    background-color: #2a2e39;
    box-shadow: 0 2px 4px #0006
}

@media screen and (max-width:1530px) {
    .userContainer-nDZt1Qu- {
        padding: 24px
    }
}

@media screen and (min-width:768px) {
    .view-state-close-chat .userContainer-nDZt1Qu- {
        background-color: #fff;
        box-shadow: 0 2px 4px #0003;
        min-width: 432px;
        width: auto
    }
    html.theme-dark .view-state-close-chat .userContainer-nDZt1Qu- {
        background-color: #2a2e39;
        box-shadow: 0 2px 4px #0006
    }
}

@media screen and (max-width:1019px) and (orientation:landscape) {
    .view-state-close-chat .userContainer-nDZt1Qu- {
        border-radius: 0;
        box-shadow: none;
        height: 100%;
        justify-content: center;
        margin: 0;
        min-width: auto;
        width: 100%
    }
    html.theme-dark .view-state-close-chat .userContainer-nDZt1Qu- {
        box-shadow: none
    }
}

@media screen and (max-width:1019px) {
    .view-state-close-chat .userContainer-nDZt1Qu- {
        justify-content: center
    }
}

@media screen and (max-width:1019px) and (orientation:landscape) {
    .userContainer-nDZt1Qu- {
        justify-content: left
    }
}

@media screen and (max-width:479px) {
    .userContainer-nDZt1Qu- {
        border-radius: 0;
        box-shadow: none;
        height: 100%;
        justify-content: center;
        margin: 0;
        min-width: auto;
        padding: 16px;
        width: 100%
    }
    html.theme-dark .userContainer-nDZt1Qu- {
        box-shadow: none
    }
}

@media screen and (max-width:1530px) {
    .view-state-open-popup .userContainer-nDZt1Qu- {
        padding: 16px
    }
}

.line-nDZt1Qu- {
    display: flex;
    flex-direction: row
}

@media screen and (max-width:1019px) and (orientation:landscape) {
    .line-nDZt1Qu- {
        justify-content: inherit
    }
}

@media screen and (max-width:479px) {
    .line-nDZt1Qu- {
        justify-content: center
    }
}

.avatarContainer-nDZt1Qu- {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 18px
}

@media screen and (max-width:1019px) {
    .avatarContainer-nDZt1Qu- {
        margin-right: 12px
    }
}

.avatar-nDZt1Qu- {
    border-radius: 4px;
    height: 100px;
    width: 100px
}

@media screen and (max-width:1019px) {
    .avatar-nDZt1Qu- {
        height: 48px;
        width: 48px
    }
}

.infoContainer-nDZt1Qu- {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.username-nDZt1Qu- {
    color: #131722;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

html.theme-dark .username-nDZt1Qu- {
    color: #d1d4dc
}

.view-state-close-chat .username-nDZt1Qu- {
    max-width: 350px
}

@media screen and (max-width:1019px) {
    .view-state-close-chat .username-nDZt1Qu- {
        max-width: 200px
    }
}

@media screen and (min-width:768px) {
    .view-state-close-chat .username-nDZt1Qu- {
        max-width: 350px
    }
}

@media screen and (max-width:1530px) {
    .username-nDZt1Qu- {
        font-size: 30px;
        margin-bottom: 0
    }
}

@media screen and (max-width:1019px) {
    .username-nDZt1Qu- {
        font-size: 18px;
        line-height: 26px
    }
}

@media screen and (max-width:479px) {
    .username-nDZt1Qu- {
        max-width: 200px
    }
}

.info-nDZt1Qu- {
    color: #f23645;
    font-size: 24px;
    line-height: 32px
}

@media screen and (max-width:1019px) {
    .info-nDZt1Qu- {
        font-size: 16px;
        line-height: 19px
    }
}

.notify-block-nDZt1Qu- {
    display: none;
    margin-top: 16px;
    text-align: center
}

@media screen and (max-width:1019px) {
    .notify-block-nDZt1Qu- {
        display: block
    }
}

.notify-block-nDZt1Qu- p {
    color: #131722;
    font-size: 14px;
    line-height: 21px
}

html.theme-dark .notify-block-nDZt1Qu- p {
    color: #d1d4dc
}