.categoryContainer-Bl6Mfsv2 {
    padding-bottom: 30px;
    padding-top: 30px
}

.categoryContainer-Bl6Mfsv2 .category-Bl6Mfsv2:first-child,
.categoryContainer-Bl6Mfsv2 :not(.category-Bl6Mfsv2)+.category-Bl6Mfsv2 {
    margin-top: 0
}

.category-Bl6Mfsv2 {
    margin-bottom: 34px;
    margin-top: 42px
}

.categoryTitle-Bl6Mfsv2 {
    color: #131722;
    font-size: 30px;
    line-height: 36px;
    padding: 0 10px
}

html.theme-dark .categoryTitle-Bl6Mfsv2 {
    color: #b2b5be
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .categoryTitle-Bl6Mfsv2:hover {
        cursor: default
    }
}

@media screen and (max-width:1019px) {
    .categoryTitle-Bl6Mfsv2 {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .clickableTitle-Bl6Mfsv2:hover {
        color: #1e53e5;
        cursor: pointer
    }
    html.theme-dark .clickableTitle-Bl6Mfsv2:hover {
        color: #1e53e5
    }
}

.icon-Bl6Mfsv2 {
    margin-left: 8px
}

.moreIcon-Bl6Mfsv2 {
    margin-left: 6px
}

.moreIcon-Bl6Mfsv2 svg {
    height: 10px;
    width: 6px
}

.listContainer-Bl6Mfsv2 {
    padding-top: 14px
}

.breadcrumbs-Bl6Mfsv2.breadcrumbs-Bl6Mfsv2 {
    min-height: 16px;
    padding: 0 10px 18px
}

@media screen and (max-width:1019px) {
    .breadcrumbs-Bl6Mfsv2.breadcrumbs-Bl6Mfsv2 {
        padding-left: 10px;
        padding-right: 10px
    }
}

.more-Bl6Mfsv2 {
    margin-left: 10px;
    margin-top: 10px;
    transition: color .35s ease
}

.more-Bl6Mfsv2 a {
    border-radius: 4px;
    color: #2962ff;
    display: inline;
    font-size: 17px;
    line-height: 20px;
    padding: 6px 8px;
    transition: color .35s ease
}

html.theme-dark .more-Bl6Mfsv2 a {
    color: #2962ff
}

.more-Bl6Mfsv2 a:visited {
    fill: #2962ff;
    color: #2962ff
}

html.theme-dark .more-Bl6Mfsv2 a:visited {
    fill: #2962ff;
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .more-Bl6Mfsv2 a:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: 60ms
    }
    html.theme-dark .more-Bl6Mfsv2 a:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

.more-Bl6Mfsv2 a:focus {
    outline: auto
}

.more-Bl6Mfsv2 a:focus-visible {
    outline: auto
}

.more-Bl6Mfsv2 a:focus:not(:focus-visible) {
    outline: none
}

.more-Bl6Mfsv2 a:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: 60ms
}

html.theme-dark .more-Bl6Mfsv2 a:active {
    fill: #1848cc;
    color: #1848cc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .more-Bl6Mfsv2 a:hover {
        background-color: #f0f3fa
    }
    html.theme-dark .more-Bl6Mfsv2 a:hover {
        background-color: #2a2e39
    }
}