.container-1Lm2eyT1 {
    align-items: center;
    color: #131722;
    display: inline-flex;
    justify-content: flex-start;
    min-width: 0
}

html.theme-dark .container-1Lm2eyT1 {
    color: #d1d4dc
}

.userProfileLink-1Lm2eyT1 {
    align-items: center;
    color: #131722;
    display: inline-flex;
    justify-content: flex-start;
    overflow: hidden;
    transition: color .35s ease
}

html.theme-dark .userProfileLink-1Lm2eyT1 {
    color: #d1d4dc
}

.userProfileLink-1Lm2eyT1:visited {
    fill: #131722;
    color: #131722
}

html.theme-dark .userProfileLink-1Lm2eyT1:visited {
    fill: #d1d4dc;
    color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .userProfileLink-1Lm2eyT1:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: 60ms
    }
    html.theme-dark .userProfileLink-1Lm2eyT1:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

.userProfileLink-1Lm2eyT1:focus {
    outline: auto
}

.userProfileLink-1Lm2eyT1:focus-visible {
    outline: auto
}

.userProfileLink-1Lm2eyT1:focus:not(:focus-visible) {
    outline: none
}

.userProfileLink-1Lm2eyT1:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: 60ms
}

html.theme-dark .userProfileLink-1Lm2eyT1:active {
    fill: #1848cc;
    color: #1848cc
}

.username-1Lm2eyT1 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.usernameBig-1Lm2eyT1 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px
}

.badge-1Lm2eyT1 {
    margin-left: 8px
}