.container-q0mjim9E {
    align-items: center;
    border: var(--ui-lib-control-border-width, 1px) solid var(--ui-lib-intent-color, #d1d4dc);
    border-radius: 4px;
    box-sizing: border-box;
    color: #131722;
    display: inline-flex;
    position: relative
}

.container-q0mjim9E,
html.theme-dark .container-q0mjim9E {
    --ui-lib-control-default-slot-color: #787b86
}

html.theme-dark .container-q0mjim9E {
    border-color: var(--ui-lib-intent-color, #50535e);
    color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .container-q0mjim9E.intent-default-1iFRsAl_:hover {
        --ui-lib-control-default-slot-color: #131722;
        border-color: #a3a6af
    }
    html.theme-dark .container-q0mjim9E.intent-default-1iFRsAl_:hover {
        --ui-lib-control-default-slot-color: #d1d4dc;
        border-color: #6a6d78
    }
}

.container-q0mjim9E.focused-3_QrLayY {
    border-color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .container-q0mjim9E.focused-3_QrLayY:hover {
        border-color: #2962ff
    }
}

html.theme-dark .container-q0mjim9E.focused-3_QrLayY {
    border-color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .container-q0mjim9E.focused-3_QrLayY:hover {
        border-color: #2962ff
    }
}

.container-q0mjim9E.readonly-2O87siLj {
    background-color: #f0f3fa;
    border-color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .container-q0mjim9E.readonly-2O87siLj:hover {
        background-color: #f0f3fa;
        border-color: #d1d4dc
    }
}

html.theme-dark .container-q0mjim9E.readonly-2O87siLj {
    background-color: #2a2e39
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .container-q0mjim9E.readonly-2O87siLj:hover {
        background-color: #2a2e39
    }
}

html.theme-dark .container-q0mjim9E.readonly-2O87siLj {
    border-color: #50535e
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .container-q0mjim9E.readonly-2O87siLj:hover {
        border-color: #50535e
    }
}

.container-q0mjim9E.disabled-1IdBwvKU {
    --ui-lib-control-text-fill-color: #b2b5be;
    --ui-lib-control-default-slot-color: #787b86;
    background-color: #f0f3fa;
    border-color: #d1d4dc;
    color: #b2b5be
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .container-q0mjim9E.disabled-1IdBwvKU:hover {
        --ui-lib-control-text-fill-color: #b2b5be;
        --ui-lib-control-default-slot-color: #787b86;
        background-color: #f0f3fa;
        border-color: #d1d4dc;
        color: #b2b5be
    }
}

html.theme-dark .container-q0mjim9E.disabled-1IdBwvKU {
    --ui-lib-control-default-slot-color: #787b86
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .container-q0mjim9E.disabled-1IdBwvKU:hover {
        --ui-lib-control-default-slot-color: #787b86
    }
}

html.theme-dark .container-q0mjim9E.disabled-1IdBwvKU {
    --ui-lib-control-text-fill-color: #50535e
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .container-q0mjim9E.disabled-1IdBwvKU:hover {
        --ui-lib-control-text-fill-color: #50535e
    }
}

html.theme-dark .container-q0mjim9E.disabled-1IdBwvKU {
    color: #50535e
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .container-q0mjim9E.disabled-1IdBwvKU:hover {
        color: #50535e
    }
}

html.theme-dark .container-q0mjim9E.disabled-1IdBwvKU {
    background-color: #2a2e39
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .container-q0mjim9E.disabled-1IdBwvKU:hover {
        background-color: #2a2e39
    }
}

html.theme-dark .container-q0mjim9E.disabled-1IdBwvKU {
    border-color: #50535e
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .container-q0mjim9E.disabled-1IdBwvKU:hover {
        border-color: #50535e
    }
}

.container-q0mjim9E.with-highlight-1fw5sABK,
.container-q0mjim9E.with-highlight-1fw5sABK.focused-3_QrLayY {
    border-color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .container-q0mjim9E.with-highlight-1fw5sABK:hover {
        border-color: #d1d4dc
    }
}

html.theme-dark .container-q0mjim9E.with-highlight-1fw5sABK,
html.theme-dark .container-q0mjim9E.with-highlight-1fw5sABK.focused-3_QrLayY {
    border-color: #50535e
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .container-q0mjim9E.with-highlight-1fw5sABK:hover {
        border-color: #50535e
    }
}

.container-q0mjim9E.grouped-OqOAs_gO.adjust-position-CZNDwrAs:not(.first-row-1TtmkJB5) {
    margin-top: calc(var(--ui-lib-control-border-width, 1px)*-1)
}

.container-q0mjim9E.grouped-OqOAs_gO.adjust-position-CZNDwrAs:not(.first-col-3gkQgeTB) {
    margin-left: calc(var(--ui-lib-control-border-width, 1px)*-1)
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .container-q0mjim9E.grouped-OqOAs_gO:hover {
        z-index: 1
    }
}

.container-q0mjim9E.grouped-OqOAs_gO.focused-3_QrLayY {
    z-index: 2
}

.container-q0mjim9E.stretch-1ZwMxhiW {
    width: 100%
}

.container-q0mjim9E.font-size-medium-2X_Vsy16 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px
}

.container-q0mjim9E.font-size-large-3XsO4Jyv {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}

.container-q0mjim9E.size-small-1yttw7pF {
    height: 24px
}

.container-q0mjim9E.size-medium-JO0bzDKQ {
    height: 34px
}

.container-q0mjim9E.size-large-3NHYwkZf {
    height: 48px
}

.container-q0mjim9E.intent-default-1iFRsAl_ {
    --ui-lib-intent-color: #d1d4dc;
    --ui-lib-intent-highlight-color: #b2b5be
}

html.theme-dark .container-q0mjim9E.intent-default-1iFRsAl_ {
    --ui-lib-intent-highlight-color: #868993;
    --ui-lib-intent-color: #50535e
}

.container-q0mjim9E.intent-success-3d9hoQq6 {
    --ui-lib-intent-color: #06806b;
    --ui-lib-intent-highlight-color: #06806b
}

html.theme-dark .container-q0mjim9E.intent-success-3d9hoQq6 {
    --ui-lib-intent-color: #06806b
}

.container-q0mjim9E.intent-warning-2R7B-fcl {
    --ui-lib-intent-color: #ff9800;
    --ui-lib-intent-highlight-color: #ff9800
}

html.theme-dark .container-q0mjim9E.intent-warning-2R7B-fcl {
    --ui-lib-intent-color: #ff9800
}

.container-q0mjim9E.intent-danger-2aIQ0kCh {
    --ui-lib-intent-color: #f23645;
    --ui-lib-intent-highlight-color: #f23645
}

html.theme-dark .container-q0mjim9E.intent-danger-2aIQ0kCh {
    --ui-lib-intent-color: #b22833
}

.container-q0mjim9E.intent-primary-1uA2IWJE {
    --ui-lib-intent-color: #2962ff;
    --ui-lib-intent-highlight-color: #2962ff
}

html.theme-dark .container-q0mjim9E.intent-primary-1uA2IWJE {
    --ui-lib-intent-color: #2962ff
}

.container-q0mjim9E.border-none-1THKKmlu {
    --ui-lib-control-border-width: 0px
}

.container-q0mjim9E.border-thin-xydp6U9V {
    --ui-lib-control-border-width: 1px
}

.container-q0mjim9E.border-thick-2gyRxvRu {
    --ui-lib-control-border-width: 2px
}

.container-q0mjim9E.no-corner-top-left-1CiWWKym {
    border-top-left-radius: 0
}

.container-q0mjim9E.no-corner-top-right-3FhGiM-K {
    border-top-right-radius: 0
}

.container-q0mjim9E.no-corner-bottom-right-7_q0YPc_ {
    border-bottom-right-radius: 0
}

.container-q0mjim9E.no-corner-bottom-left-3MCGXDki {
    border-bottom-left-radius: 0
}

.highlight-1k6YPfiQ {
    border: 2px solid;
    border-color: var(--ui-lib-intent-highlight-color, #b2b5be);
    border-radius: 4px;
    bottom: 0;
    left: 0;
    margin: calc(var(--ui-lib-control-border-width, 1px)*-1);
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 3
}

html.theme-dark .highlight-1k6YPfiQ {
    border-color: var(--ui-lib-intent-highlight-color, #868993)
}

.highlight-1k6YPfiQ.no-corner-top-left-1CiWWKym {
    border-top-left-radius: 0
}

.highlight-1k6YPfiQ.no-corner-top-right-3FhGiM-K {
    border-top-right-radius: 0
}

.highlight-1k6YPfiQ.no-corner-bottom-right-7_q0YPc_ {
    border-bottom-right-radius: 0
}

.highlight-1k6YPfiQ.no-corner-bottom-left-3MCGXDki {
    border-bottom-left-radius: 0
}

.highlight-1k6YPfiQ.shown-2dwiJlCW {
    visibility: visible
}