@keyframes tv-load-more-pulse {
    0% {
        transform: scale(.8)
    }
    50% {
        opacity: 1
    }
    70%,
    to {
        transform: scale(1)
    }
}

.tv-load-more {
    clear: both;
    margin: 40px auto;
    text-align: center
}

@media screen and (max-width:1019px) {
    .tv-load-more {
        margin-left: -12px;
        margin-right: -12px;
        margin-top: 12px
    }
}

.tv-load-more--sticky {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin: 0
}

.tv-load-more__gap,
.tv-load-more__page {
    background-color: initial;
    border-radius: 50%;
    color: #8797a5;
    display: inline-block;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    margin-left: -1px;
    overflow: hidden;
    position: relative;
    transition: all .35s ease;
    width: 50px
}

html.theme-dark .tv-load-more__gap,
html.theme-dark .tv-load-more__page {
    color: #787b86
}

.tv-load-more__gap+.tv-load-more__gap,
.tv-load-more__gap+.tv-load-more__page,
.tv-load-more__page+.tv-load-more__gap,
.tv-load-more__page+.tv-load-more__page {
    margin-left: 11px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.tv-load-more__gap:hover,
    a.tv-load-more__page:hover {
        background-color: #ebf7fc;
        color: #758696;
        transition-duration: .06s
    }
    html.theme-dark a.tv-load-more__gap:hover,
    html.theme-dark a.tv-load-more__page:hover {
        background-color: #2a2e39;
        color: #b2b5be
    }
}

.tv-load-more__page.tv-load-more__loading {
    background-color: #e1ecf2;
    font-size: 0
}

.tv-load-more__current {
    background-color: #fff;
    color: #2962ff;
    font-weight: 700
}

html.theme-dark .tv-load-more__current {
    background-color: #132042;
    color: #2962ff
}

.tv-load-more__pagination {
    display: inline-block;
    margin-top: 38px
}

.tv-load-more__pagination--sticky {
    margin-top: 41px
}

@media screen and (max-width:767px) {
    .tv-load-more__pagination {
        display: none
    }
}

.tv-load-more__btn,
.tv-load-more__pagination {
    box-sizing: border-box;
    padding: 0 61px;
    position: relative;
    width: 100%
}

.tv-load-more__btn {
    background-color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #e0e3eb;
    color: #2962ff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    line-height: 18px;
    overflow: hidden;
    padding: 17px 0;
    position: relative;
    transition: color .35s ease
}

html.theme-dark .tv-load-more__btn {
    background-color: #1e222d;
    box-shadow: 0 0 0 1px #0000;
    color: #2962ff
}

.tv-load-more__btn:visited {
    fill: #2962ff;
    color: #2962ff
}

html.theme-dark .tv-load-more__btn:visited {
    fill: #2962ff;
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-load-more__btn:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: 60ms
    }
    html.theme-dark .tv-load-more__btn:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

.tv-load-more__btn:focus {
    outline: auto
}

.tv-load-more__btn:focus-visible {
    outline: auto
}

.tv-load-more__btn:focus:not(:focus-visible) {
    outline: none
}

.tv-load-more__btn:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: 60ms
}

html.theme-dark .tv-load-more__btn:active {
    fill: #1848cc;
    color: #1848cc
}

.tv-load-more__btn:active {
    background-color: #f2f3f5
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-load-more__btn:hover {
        background-color: #f2f3f5
    }
}

html.theme-dark .tv-load-more__btn:active {
    background-color: #2a2e39
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .tv-load-more__btn:hover {
        background-color: #2a2e39
    }
}

.tv-load-more__btn:active {
    transform: translateY(1px)
}

.tv-load-more__btn--sticky {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center
}

.tv-load-more__btn .tv-button__loader-item {
    background-color: #2962ff !important
}

.tv-load-more__btn-arrow {
    padding-left: 4px
}

.tv-load-more__btn-arrow svg {
    height: 10px
}

.tv-load-more__arrow {
    display: inline-block;
    height: 15px;
    padding: 17px 0;
    position: absolute;
    top: 0;
    width: 50px
}

.tv-load-more__arrow--left {
    left: 3px;
    text-align: left
}

.tv-load-more__arrow--right {
    right: 3px;
    text-align: right
}

.tv-load-more__arrow svg {
    fill: #b2b5be;
    height: 15px;
    max-width: 100%
}

html.theme-dark .tv-load-more__arrow svg {
    fill: #50535e
}

a.tv-load-more__arrow {
    cursor: pointer;
    transition: all .35s ease
}

a.tv-load-more__arrow svg,
html.theme-dark a.tv-load-more__arrow svg {
    fill: #2962ff
}

a.tv-load-more__arrow:active {
    animation: tv-load-more-pulse .35s
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    a.tv-load-more__arrow--left:hover {
        left: 0;
        transition-duration: .06s
    }
    a.tv-load-more__arrow--right:hover {
        right: 0;
        transition-duration: .06s
    }
}

.tv-load-more__arrow.tv-load-more__loading svg {
    display: none
}

.tv-load-more--screener {
    display: flex;
    margin-bottom: 0
}

.tv-feed:not(.tv-feed--no-hindent) .tv-load-more:not(.tv-load-more--sticky) {
    padding: 0 10px
}

@media screen and (max-width:1019px) {
    .tv-feed:not(.tv-feed--no-hindent) .tv-load-more:not(.tv-load-more--sticky) {
        margin-left: -10px;
        margin-right: -10px
    }
    .tv-feed--no-hindent .tv-load-more:not(.tv-load-more--sticky) {
        margin-left: 0;
        margin-right: 0
    }
}