.ambassadorPicture-9RxETD8e {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
}

.thenLeap-3OovlMH5 {
    background-color: #000;
    box-sizing: border-box
}

.stickyContainer-3OovlMH5,
.thenLeap-3OovlMH5 {
    height: 100vh;
    width: 100%
}

.alex-3OovlMH5 {
    object-position: 50% 60%
}

@media screen and (min-width:480px) {
    .alex-3OovlMH5 {
        object-position: 60% 60%
    }
}

@media screen and (min-width:768px) {
    .alex-3OovlMH5 {
        object-position: 60% 20%
    }
}

.leo-3OovlMH5 {
    object-position: 50% 70%
}

@media screen and (min-width:480px) {
    .leo-3OovlMH5 {
        object-position: 50% 100%
    }
}

@media screen and (min-width:480px) and (orientation:landscape),
screen and (min-width:768px) {
    .leo-3OovlMH5 {
        object-position: 60% 60%
    }
}

.caite-3OovlMH5 {
    object-position: 0 30%
}

@media screen and (min-width:480px) {
    .caite-3OovlMH5 {
        object-position: 40% 50%
    }
}

@media screen and (min-width:480px) and (orientation:landscape) {
    .caite-3OovlMH5 {
        object-position: 40% 30%
    }
}

@media screen and (min-width:768px) {
    .caite-3OovlMH5 {
        object-position: 45% 30%
    }
}

.slogan-3vEWlHRa {
    color: #fff;
    direction: ltr;
    font-family: EuclidCircularLatinBold, sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    white-space: nowrap
}

@media screen and (min-width:330px) {
    .slogan-3vEWlHRa {
        font-size: 48px;
        line-height: 48px
    }
}

@media screen and (min-width:568px) {
    .slogan-3vEWlHRa {
        text-align: left
    }
}

@media screen and (min-width:768px) {
    .slogan-3vEWlHRa {
        font-size: 64px;
        line-height: 64px
    }
}

@media screen and (min-width:1024px) {
    .slogan-3vEWlHRa {
        font-size: 64px;
        line-height: 64px
    }
}

@media screen and (min-width:1280px) {
    .slogan-3vEWlHRa {
        font-size: 80px;
        line-height: 80px
    }
}

@media screen and (min-width:1440px) {
    .slogan-3vEWlHRa {
        font-size: 100px;
        line-height: 100px
    }
}

@media screen and (max-height:479px) {
    .slogan-3vEWlHRa {
        font-size: 48px;
        line-height: 48px
    }
}

.ambassadorBlock-27xMIzCR {
    background: #0c0e1540;
    border-radius: 16px;
    color: #fff;
    display: none;
    max-width: 400px;
    padding: 16px;
    position: absolute;
    right: 24px;
    transition: top .2s
}

@media screen and (min-width:568px) {
    .ambassadorBlock-27xMIzCR {
        display: inline-block
    }
}

@media (max-width:1014px) and (max-height:724px) {
    .ambassadorBlock-27xMIzCR {
        display: none
    }
}

.quoteIcon-27xMIzCR {
    left: -32px;
    position: absolute;
    top: -3px
}

.quoteAlex-27xMIzCR {
    max-width: 235px
}

.quoteLeo-27xMIzCR {
    max-width: 253px
}

.quoteCaite-27xMIzCR {
    max-width: 213px
}

.quote-27xMIzCR {
    font-family: SF Pro Display, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 18px;
    line-height: 20px;
    margin-left: 11px
}

.avatar-27xMIzCR {
    border-radius: 50%;
    height: 64px;
    margin-right: 4px;
    width: 64px
}

.personContainer-27xMIzCR {
    display: inline-block
}

.person-27xMIzCR {
    display: flex;
    flex-direction: column
}

.person-27xMIzCR,
.personInfo-27xMIzCR {
    align-items: center;
    justify-content: start
}

.personInfo-27xMIzCR {
    display: grid;
    grid-template-columns: 66px 1fr
}

.selectContainer-27xMIzCR {
    display: inline-block
}

.selectContainer-27xMIzCR .select-27xMIzCR {
    color: #9598a1;
    font-family: SF Pro Display, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    margin-top: 8px
}

html.theme-dark .selectContainer-27xMIzCR .select-27xMIzCR {
    color: #9598a1
}

.selectContainer-27xMIzCR .select-27xMIzCR {
    outline: none;
    overflow: visible;
    position: relative
}

.selectContainer-27xMIzCR .select-27xMIzCR:focus {
    outline: none
}

.selectContainer-27xMIzCR .select-27xMIzCR:focus-visible {
    outline: none
}

.selectContainer-27xMIzCR .select-27xMIzCR:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 4px);
    left: -2px;
    pointer-events: none;
    position: absolute;
    top: -2px;
    width: calc(100% + 4px);
    z-index: 1
}

.selectContainer-27xMIzCR .select-27xMIzCR:focus:after {
    display: block
}

.selectContainer-27xMIzCR .select-27xMIzCR:focus-visible:after {
    display: block
}

.selectContainer-27xMIzCR .select-27xMIzCR:focus:not(:focus-visible):after {
    display: none
}

.selectContainer-27xMIzCR .select-27xMIzCR:after {
    border-color: #fffc;
    border-radius: 6px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .selectContainer-27xMIzCR .select-27xMIzCR:hover,
    .selectContainer-27xMIzCR .select-27xMIzCR:hover .selectCaret-27xMIzCR,
    html.theme-dark .selectContainer-27xMIzCR .select-27xMIzCR:hover,
    html.theme-dark .selectContainer-27xMIzCR .select-27xMIzCR:hover .selectCaret-27xMIzCR {
        color: #fff
    }
}

.selectCaret-27xMIzCR {
    color: #9598a1
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .selectCaret-27xMIzCR:hover:not(.disabled-27xMIzCR).selectCaret-27xMIzCR:hover:not(.disabled-27xMIzCR) {
        background-color: initial
    }
}

.playButton-27xMIzCR {
    align-items: center;
    background: #ffffff1a;
    border: 0;
    border-radius: 56px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-weight: 600;
    justify-content: center;
    line-height: 24px;
    margin-top: 16px;
    outline: none;
    overflow: visible;
    padding: 8px 16px 8px 12px;
    position: relative;
    width: 100%
}

.playButton-27xMIzCR:focus {
    outline: none
}

.playButton-27xMIzCR:focus-visible {
    outline: none
}

.playButton-27xMIzCR:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 8px);
    left: -4px;
    pointer-events: none;
    position: absolute;
    top: -4px;
    width: calc(100% + 8px);
    z-index: 1
}

.playButton-27xMIzCR:focus:after {
    display: block
}

.playButton-27xMIzCR:focus-visible:after {
    display: block
}

.playButton-27xMIzCR:focus:not(:focus-visible):after {
    display: none
}

.playButton-27xMIzCR:after {
    border-color: #fffc;
    border-radius: 60px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .playButton-27xMIzCR:hover {
        background-color: #fff3
    }
}

.playIcon-27xMIzCR {
    align-content: center;
    display: flex;
    margin-right: 11px
}

.searchBar-3V6BxBaO {
    align-items: center;
    background-color: #fff;
    border: 0;
    border-radius: 56px;
    box-shadow: 0 4px 16px #1317221a;
    box-sizing: border-box;
    cursor: pointer;
    direction: ltr;
    display: flex;
    flex-flow: row nowrap;
    margin: 32px 0 24px;
    max-width: 360px;
    padding: 12px 16px;
    -webkit-user-select: none;
    user-select: none;
    width: 100%
}

@media screen and (min-width:1440px) {
    .searchBar-3V6BxBaO {
        margin: 48px 0 32px;
        max-width: 480px;
        padding: 16px
    }
}

@media screen and (max-height:479px) {
    .searchBar-3V6BxBaO {
        margin: 10px 0
    }
}

@media screen and (min-width:568px) {
    .searchBar-3V6BxBaO {
        margin: 16px 0
    }
}

@media screen and (min-width:768px) {
    .searchBar-3V6BxBaO {
        margin: 32px 0 24px
    }
}

@media screen and (min-width:1440px) {
    .searchBar-3V6BxBaO {
        margin: 48px 0 32px
    }
}

@media screen and (min-width:1920px) {
    .searchBar-3V6BxBaO {
        margin: 64px 0 32px
    }
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .searchBar-3V6BxBaO:hover .searchText-3V6BxBaO {
        color: #131722
    }
}

.searchBar-3V6BxBaO {
    outline: none;
    overflow: visible;
    position: relative
}

.searchBar-3V6BxBaO:focus {
    outline: none
}

.searchBar-3V6BxBaO:focus-visible {
    outline: none
}

.searchBar-3V6BxBaO:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 8px);
    left: -4px;
    pointer-events: none;
    position: absolute;
    top: -4px;
    width: calc(100% + 8px);
    z-index: 1
}

.searchBar-3V6BxBaO:focus:after {
    display: block
}

.searchBar-3V6BxBaO:focus-visible:after {
    display: block
}

.searchBar-3V6BxBaO:focus:not(:focus-visible):after {
    display: none
}

.searchBar-3V6BxBaO:after {
    border-color: #fffc;
    border-radius: 60px
}

.searchButton-3V6BxBaO {
    align-items: center;
    background-color: #2962ff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    flex-shrink: 0;
    height: 40px;
    justify-content: center;
    width: 40px
}

@media screen and (min-width:1480px) {
    .searchButton-3V6BxBaO {
        height: 64px;
        width: 64px
    }
}

.searchIcon-3V6BxBaO {
    display: flex
}

.searchIcon-3V6BxBaO svg {
    height: 18px;
    width: 18px
}

@media screen and (min-width:1480px) {
    .searchIcon-3V6BxBaO svg {
        height: 32px;
        width: 32px
    }
}

.searchText-3V6BxBaO {
    color: #787b86;
    display: block;
    font-family: SF Pro Display, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-left: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media screen and (min-width:1480px) {
    .searchText-3V6BxBaO {
        font-size: 28px;
        line-height: 36px
    }
}

.wrapperPromoSymbolsContainer-2B0aa5eM {
    margin: 0 -20px;
    width: 100%
}

@media screen and (min-width:480px) {
    .wrapperPromoSymbolsContainer-2B0aa5eM {
        margin: 0
    }
}

.promoSymbolsContainer-2B0aa5eM {
    color: #fff;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, minmax(164px, max-content));
    overflow-x: auto;
    padding: 0 20px;
    scrollbar-width: none;
    width: 100%
}

.promoSymbolsContainer-2B0aa5eM::-webkit-scrollbar {
    display: none
}

@media screen and (min-width:480px) {
    .promoSymbolsContainer-2B0aa5eM {
        overflow-x: visible;
        padding: 0
    }
}

@media screen and (min-width:568px) {
    .promoSymbolsContainer-2B0aa5eM {
        grid-template-columns: repeat(3, minmax(164px, max-content))
    }
}

@media screen and (min-width:1440px) {
    .promoSymbolsContainer-2B0aa5eM {
        gap: 16px;
        grid-template-columns: repeat(3, minmax(180px, max-content))
    }
}

.symbol-2B0aa5eM {
    align-items: center;
    background-color: #1e222d80;
    border: none;
    border-radius: 56px;
    box-sizing: border-box;
    column-gap: 8px;
    cursor: pointer;
    direction: ltr;
    display: grid;
    grid-template-columns: 28px 1fr;
    height: 48px;
    min-width: 164px;
    padding: 6px 16px 6px 12px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .symbol-2B0aa5eM:hover {
        background-color: #1e222d
    }
}

.symbol-2B0aa5eM,
.symbol-2B0aa5eM:link,
.symbol-2B0aa5eM:visited {
    color: #fff
}

.symbol-2B0aa5eM {
    outline: none;
    overflow: visible;
    position: relative
}

.symbol-2B0aa5eM:focus {
    outline: none
}

.symbol-2B0aa5eM:focus-visible {
    outline: none
}

.symbol-2B0aa5eM:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 8px);
    left: -4px;
    pointer-events: none;
    position: absolute;
    top: -4px;
    width: calc(100% + 8px);
    z-index: 1
}

.symbol-2B0aa5eM:focus:after {
    display: block
}

.symbol-2B0aa5eM:focus-visible:after {
    display: block
}

.symbol-2B0aa5eM:focus:not(:focus-visible):after {
    display: none
}

.symbol-2B0aa5eM:after {
    border-color: #fffc;
    border-radius: 60px
}

@media screen and (min-width:1440px) {
    .symbol-2B0aa5eM {
        height: 64px;
        min-width: 180px;
        padding: 8px 20px 8px 16px
    }
}

.symbol-2B0aa5eM .icon-2B0aa5eM {
    background: none;
    height: 28px;
    width: 28px
}

.symbol-2B0aa5eM .logo-2B0aa5eM {
    height: 28px;
    width: 28px
}

.symbol-2B0aa5eM .logo-2B0aa5eM:not(img) {
    background-color: #2a2e39
}

.symbolInfo-2B0aa5eM {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 34px
}

@media screen and (min-width:1440px) {
    .symbolInfo-2B0aa5eM {
        min-height: 48px
    }
}

.symbolVisibility-2B0aa5eM {
    display: none
}

@media screen and (min-width:568px) {
    .symbolVisibility-2B0aa5eM {
        display: grid
    }
}

.name-2B0aa5eM {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px
}

@media screen and (min-width:1440px) {
    .name-2B0aa5eM {
        font-feature-settings: "tnum" on, "lnum" on;
        font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px
    }
}

.symbolValueText-2B0aa5eM {
    font-feature-settings: "tnum" on, "lnum" on;
    align-items: flex-end;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px
}

@media screen and (min-width:1440px) {
    .symbolValueText-2B0aa5eM {
        font-feature-settings: "tnum" on, "lnum" on;
        font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        line-height: 18px
    }
}

.symbolValueText-2B0aa5eM .currencySign-2B0aa5eM {
    font-feature-settings: "tnum" on, "lnum" on;
    color: #d1d4dc;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 16px;
    margin-left: 4px;
    text-transform: uppercase
}

@media screen and (min-width:1440px) {
    .symbolValueText-2B0aa5eM .currencySign-2B0aa5eM {
        line-height: 14px
    }
}

.price-2B0aa5eM {
    transform: translateY(16px)
}

.precent-2B0aa5eM,
.startPrice-2B0aa5eM {
    transform: translateY(0)
}

.positiveValue-2B0aa5eM {
    color: #089981
}

.negativeValue-2B0aa5eM {
    color: #f23645
}

.animationBlock-2B0aa5eM {
    height: 20px;
    overflow: hidden
}

.translateUpFirstItem-2B0aa5eM {
    animation-duration: .35s;
    animation-fill-mode: forwards;
    animation-name: translate-up-first-item-2B0aa5eM
}

.translateUpSecondItem-2B0aa5eM {
    animation-duration: .35s;
    animation-fill-mode: forwards;
    animation-name: translate-up-second-item-2B0aa5eM
}

.animationWrapper-2B0aa5eM {
    display: flex;
    flex-direction: column
}

@keyframes translate-up-first-item-2B0aa5eM {
    0% {
        transform: translateY(18px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes translate-up-second-item-2B0aa5eM {
    0% {
        transform: translateY(0)
    }
    to {
        transform: translateY(-18px)
    }
}

.translateDownFirstItem-2B0aa5eM {
    animation-duration: .35s;
    animation-fill-mode: forwards;
    animation-name: translate-down-first-item-2B0aa5eM
}

.translateDownSecondItem-2B0aa5eM {
    animation-duration: .35s;
    animation-fill-mode: forwards;
    animation-name: translate-down-second-item-2B0aa5eM
}

@keyframes translate-down-first-item-2B0aa5eM {
    0% {
        transform: translateY(0)
    }
    99% {
        transform: translateY(-18px)
    }
    to {
        transform: translateY(-18px)
    }
}

@keyframes translate-down-second-item-2B0aa5eM {
    0% {
        transform: translateY(-18px)
    }
    99% {
        transform: translateY(-18px*2)
    }
    to {
        transform: translateY(-18px*2)
    }
}

.lookFirst-1MdQqzwc {
    background-color: #000;
    height: 100vh;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .4s;
    width: 100%;
    z-index: 1
}

.hidden-1MdQqzwc {
    opacity: 0;
    transition: opacity .4s, visibility 0ms .4s;
    visibility: hidden
}

.show-1MdQqzwc {
    opacity: 1;
    transition: opacity .4s
}

.alex-1MdQqzwc {
    object-position: 100% 40%
}

@media screen and (min-width:480px) {
    .alex-1MdQqzwc {
        object-position: 80% 50%
    }
}

@media screen and (min-width:480px) and (orientation:landscape) {
    .alex-1MdQqzwc {
        object-position: 80% 20%
    }
}

@media screen and (min-width:1024px) {
    .alex-1MdQqzwc {
        object-position: 70% 10%
    }
}

.leo-1MdQqzwc {
    object-position: 100% 40%
}

@media screen and (min-width:480px) {
    .leo-1MdQqzwc {
        object-position: center
    }
}

@media screen and (min-width:768px) {
    .leo-1MdQqzwc {
        object-position: 50% 50%
    }
}

.caite-1MdQqzwc {
    object-position: 50% 70%
}

@media screen and (min-width:480px) {
    .caite-1MdQqzwc {
        object-position: 20% 60%
    }
}

@media screen and (min-width:768px) {
    .caite-1MdQqzwc {
        object-position: 60% 50%
    }
}

.copyrightBlock-Ys7D7gzs {
    bottom: 60px;
    left: -47px;
    position: absolute;
    transform: rotate(-90deg);
    z-index: 1
}

@media screen and (min-width:768px) {
    .copyrightBlock-Ys7D7gzs {
        bottom: 40px;
        left: 25px;
        transform: rotate(0)
    }
}

@media screen and (min-width:1024px) {
    .copyrightBlock-Ys7D7gzs {
        left: 32px
    }
}

@media screen and (max-height:479px) {
    .copyrightBlock-Ys7D7gzs {
        bottom: 60px;
        left: -47px;
        transform: rotate(-90deg);
        z-index: 1
    }
}

.copyrightText-Ys7D7gzs {
    color: #f0f3fa4d;
    font-family: SF Pro Display, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 12px;
    line-height: 17px
}

.arrowBlock-2OmnHDH7 {
    animation: fadeInOpacity-2OmnHDH7 .7s ease 1.5s forwards;
    bottom: 20px;
    display: none;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 1
}

@media screen and (min-width:1024px) {
    .arrowBlock-2OmnHDH7 {
        display: flex
    }
}

.isVisible-2OmnHDH7 {
    animation: fadeInOpacity-2OmnHDH7 .7s ease 1.5s forwards
}

@keyframes fadeInOpacity-2OmnHDH7 {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.isHidden-2OmnHDH7 {
    animation: fadeOutOpacity-2OmnHDH7 .7s ease forwards
}

@keyframes fadeOutOpacity-2OmnHDH7 {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.arrowIcon-2OmnHDH7 {
    animation: bubbleAnimation-2OmnHDH7 2s ease-in-out 0s infinite;
    color: #d1d4dc
}

@media screen and (max-width:1019px) {
    .arrowIcon-2OmnHDH7 {
        display: none
    }
}

@keyframes bubbleAnimation-2OmnHDH7 {
    0% {
        transform: rotate(-90deg) translateX(5px)
    }
    50% {
        transform: rotate(-90deg) translateX(-5px)
    }
    to {
        transform: rotate(-90deg) translateX(5px)
    }
}

.scrollableContainer-3KtNDw3f {
    -webkit-overflow-scrolling: auto;
    content-visibility: auto;
    -ms-overflow-style: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%
}

.scrollableContainer-3KtNDw3f.sb-scrollbar-wrap {
    display: none
}

.scrollableContainer-3KtNDw3f::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0
}

.scrollableContainer-3KtNDw3f::-webkit-scrollbar-thumb,
.scrollableContainer-3KtNDw3f::-webkit-scrollbar-track {
    display: none
}

.scrollableContainer-3KtNDw3f::-webkit-scrollbar-corner {
    display: none
}

.hiddenExpand-3KtNDw3f {
    display: block;
    min-height: 10px;
    visibility: hidden;
    width: 100%
}

.hide-3KtNDw3f {
    min-height: 0
}

.preventOverflow-3KtNDw3f {
    overflow: hidden
}

.stickyContainer-3KtNDw3f {
    min-height: 100vh;
    position: sticky;
    top: 0;
    width: 100%
}

.contentWrapper-3KtNDw3f {
    align-items: flex-end;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    padding: 32px 20px;
    top: 0;
    width: 100%
}

@media screen and (min-width:568px) {
    .contentWrapper-3KtNDw3f {
        align-items: center;
        justify-content: flex-start;
        padding: 64px 40px
    }
}

@media screen and (min-width:768px) {
    .contentWrapper-3KtNDw3f {
        padding: 64px 80px
    }
}

@media screen and (min-width:1024px) {
    .contentWrapper-3KtNDw3f {
        padding: 60px 80px
    }
}

@media screen and (min-width:1280px) {
    .contentWrapper-3KtNDw3f {
        padding: 60px 100px
    }
}

@media screen and (min-width:1440px) {
    .contentWrapper-3KtNDw3f {
        padding: 115px 100px
    }
}

@media screen and (min-width:1920px) {
    .contentWrapper-3KtNDw3f {
        padding: 120px 200px
    }
}

@media screen and (min-width:2560px) {
    .contentWrapper-3KtNDw3f {
        padding: 120px 320px
    }
}

@media screen and (max-height:479px) {
    .contentWrapper-3KtNDw3f {
        padding-bottom: 30px
    }
}

.contentContainer-3KtNDw3f {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3
}

.title-3KtNDw3f {
    text-align: center
}

@media screen and (min-width:568px) {
    .title-3KtNDw3f {
        text-align: left
    }
}

.content-3KtNDw3f {
    direction: ltr;
    transition: transform .2s;
    width: 100%
}

.actions-3KtNDw3f {
    margin: 0 auto;
    max-width: 360px;
    width: 100%
}

@media screen and (min-width:568px) {
    .actions-3KtNDw3f {
        margin: 0;
        max-width: 550px
    }
}

@media screen and (min-width:1440px) {
    .actions-3KtNDw3f {
        max-width: 600px
    }
}

.firstAnimation-3KtNDw3f {
    animation-delay: .25s;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-name: first-appear-3KtNDw3f;
    animation-timing-function: ease;
    opacity: 0;
    transform: translateY(96px)
}

@media screen and (min-width:330px) {
    .firstAnimation-3KtNDw3f {
        transform: translateY(96px)
    }
}

@media screen and (min-width:568px) {
    .firstAnimation-3KtNDw3f {
        animation-name: first-appear-phone-3KtNDw3f;
        transform: translateY(96px)
    }
}

@media screen and (min-width:768px) {
    .firstAnimation-3KtNDw3f {
        animation-name: first-appear-tablet-3KtNDw3f;
        transform: translateY(128px)
    }
}

@media screen and (min-width:1024px) {
    .firstAnimation-3KtNDw3f {
        animation-name: first-appear-tablet-3KtNDw3f;
        transform: translateY(128px)
    }
}

@media screen and (min-width:1280px) {
    .firstAnimation-3KtNDw3f {
        animation-name: first-appear-laptop-3KtNDw3f;
        transform: translateY(160px)
    }
}

@media screen and (min-width:1440px) {
    .firstAnimation-3KtNDw3f {
        animation-name: first-appear-desktop-3KtNDw3f;
        transform: translateY(200px)
    }
}

@media screen and (max-height:479px) {
    .firstAnimation-3KtNDw3f {
        transform: translateY(96px)
    }
}

.lookFirstText-3KtNDw3f {
    transform: translateY(48px)
}

@media screen and (min-width:330px) {
    .lookFirstText-3KtNDw3f {
        transform: translateY(48px)
    }
}

@media screen and (min-width:568px) {
    .lookFirstText-3KtNDw3f {
        transform: translateY(48px)
    }
}

@media screen and (min-width:768px) {
    .lookFirstText-3KtNDw3f {
        transform: translateY(64px)
    }
}

@media screen and (min-width:1024px) {
    .lookFirstText-3KtNDw3f {
        transform: translateY(64px)
    }
}

@media screen and (min-width:1280px) {
    .lookFirstText-3KtNDw3f {
        transform: translateY(80px)
    }
}

@media screen and (min-width:1440px) {
    .lookFirstText-3KtNDw3f {
        transform: translateY(100px)
    }
}

@media screen and (max-height:479px) {
    .lookFirstText-3KtNDw3f {
        transform: translateY(48px)
    }
}

.thenLeapText-3KtNDw3f {
    opacity: 0
}

.hiddenText-3KtNDw3f {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.translateUp-3KtNDw3f {
    animation-delay: 0s;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: translate-up-3KtNDw3f;
    opacity: 1
}

@media screen and (min-width:330px) {
    .translateUp-3KtNDw3f {
        animation-name: translate-up-3KtNDw3f
    }
}

@media screen and (min-width:568px) {
    .translateUp-3KtNDw3f {
        animation-name: translate-up-phone-3KtNDw3f
    }
}

@media screen and (min-width:768px) {
    .translateUp-3KtNDw3f {
        animation-name: translate-up-tablet-3KtNDw3f
    }
}

@media screen and (min-width:1024px) {
    .translateUp-3KtNDw3f {
        animation-name: translate-up-tablet-3KtNDw3f
    }
}

@media screen and (min-width:1280px) {
    .translateUp-3KtNDw3f {
        animation-name: translate-up-laptop-3KtNDw3f
    }
}

@media screen and (min-width:1440px) {
    .translateUp-3KtNDw3f {
        animation-name: translate-up-desktop-3KtNDw3f
    }
}

@media screen and (max-height:479px) {
    .translateUp-3KtNDw3f {
        animation-name: translate-up-3KtNDw3f
    }
}

.translateUpOpacity-3KtNDw3f {
    animation-delay: 0s;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: translate-up-3KtNDw3f;
    opacity: 1
}

@media screen and (min-width:330px) {
    .translateUpOpacity-3KtNDw3f {
        animation-name: translate-up-opacity-3KtNDw3f
    }
}

@media screen and (min-width:568px) {
    .translateUpOpacity-3KtNDw3f {
        animation-name: translate-up-opacity-phone-3KtNDw3f
    }
}

@media screen and (min-width:768px) {
    .translateUpOpacity-3KtNDw3f {
        animation-name: translate-up-opacity-tablet-3KtNDw3f
    }
}

@media screen and (min-width:1024px) {
    .translateUpOpacity-3KtNDw3f {
        animation-name: translate-up-opacity-tablet-3KtNDw3f
    }
}

@media screen and (min-width:1280px) {
    .translateUpOpacity-3KtNDw3f {
        animation-name: translate-up-opacity-laptop-3KtNDw3f
    }
}

@media screen and (min-width:1440px) {
    .translateUpOpacity-3KtNDw3f {
        animation-name: translate-up-opacity-desktop-3KtNDw3f
    }
}

@media screen and (max-height:479px) {
    .translateUpOpacity-3KtNDw3f {
        animation-name: translate-up-opacity-3KtNDw3f
    }
}

.translateDown-3KtNDw3f {
    animation-delay: 0s;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: translate-down-3KtNDw3f;
    opacity: 1
}

@media screen and (min-width:330px) {
    .translateDown-3KtNDw3f {
        animation-name: translate-down-3KtNDw3f
    }
}

@media screen and (min-width:568px) {
    .translateDown-3KtNDw3f {
        animation-name: translate-down-phone-3KtNDw3f
    }
}

@media screen and (min-width:768px) {
    .translateDown-3KtNDw3f {
        animation-name: translate-down-tablet-3KtNDw3f
    }
}

@media screen and (min-width:1024px) {
    .translateDown-3KtNDw3f {
        animation-name: translate-down-tablet-3KtNDw3f
    }
}

@media screen and (min-width:1280px) {
    .translateDown-3KtNDw3f {
        animation-name: translate-down-laptop-3KtNDw3f
    }
}

@media screen and (min-width:1440px) {
    .translateDown-3KtNDw3f {
        animation-name: translate-down-desktop-3KtNDw3f
    }
}

@media screen and (max-height:479px) {
    .translateDown-3KtNDw3f {
        animation-name: translate-down-3KtNDw3f
    }
}

.translateDownOpacityDelay-3KtNDw3f {
    animation-delay: 1.5s;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: translate-down-opacity-3KtNDw3f;
    opacity: 0
}

@media screen and (min-width:330px) {
    .translateDownOpacityDelay-3KtNDw3f {
        animation-name: translate-down-opacity-3KtNDw3f
    }
}

@media screen and (min-width:568px) {
    .translateDownOpacityDelay-3KtNDw3f {
        animation-name: translate-down-opacity-phone-3KtNDw3f
    }
}

@media screen and (min-width:768px) {
    .translateDownOpacityDelay-3KtNDw3f {
        animation-name: translate-down-opacity-tablet-3KtNDw3f
    }
}

@media screen and (min-width:1024px) {
    .translateDownOpacityDelay-3KtNDw3f {
        animation-name: translate-down-opacity-tablet-3KtNDw3f
    }
}

@media screen and (min-width:1280px) {
    .translateDownOpacityDelay-3KtNDw3f {
        animation-name: translate-down-opacity-laptop-3KtNDw3f
    }
}

@media screen and (min-width:1440px) {
    .translateDownOpacityDelay-3KtNDw3f {
        animation-name: translate-down-opacity-desktop-3KtNDw3f
    }
}

@media screen and (max-height:479px) {
    .translateDownOpacityDelay-3KtNDw3f {
        animation-name: translate-down-opacity-3KtNDw3f
    }
}

.appear-3KtNDw3f {
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-name: fade-in-3KtNDw3f
}

.appearDelay-3KtNDw3f {
    animation-delay: 1.5s;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-name: fade-in-3KtNDw3f
}

.disappear-3KtNDw3f {
    animation-duration: .2s;
    animation-fill-mode: both;
    animation-name: fade-out-3KtNDw3f
}

@keyframes first-appear-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(96px)
    }
    to {
        opacity: 1;
        transform: translateY(48px)
    }
}

@keyframes first-appear-phone-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(96px)
    }
    to {
        opacity: 1;
        transform: translateY(48px)
    }
}

@keyframes first-appear-tablet-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(128px)
    }
    to {
        opacity: 1;
        transform: translateY(64px)
    }
}

@keyframes first-appear-laptop-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(160px)
    }
    to {
        opacity: 1;
        transform: translateY(80px)
    }
}

@keyframes first-appear-desktop-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(200px)
    }
    to {
        opacity: 1;
        transform: translateY(100px)
    }
}

@keyframes translate-up-3KtNDw3f {
    0% {
        transform: translateY(48px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes translate-up-phone-3KtNDw3f {
    0% {
        transform: translateY(48px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes translate-up-tablet-3KtNDw3f {
    0% {
        transform: translateY(64px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes translate-up-laptop-3KtNDw3f {
    0% {
        transform: translateY(80px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes translate-up-desktop-3KtNDw3f {
    0% {
        transform: translateY(100px)
    }
    to {
        transform: translateY(0)
    }
}

@keyframes translate-up-opacity-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(48px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes translate-up-opacity-phone-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(48px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes translate-up-opacity-tablet-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(64px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes translate-up-opacity-laptop-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(80px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes translate-up-opacity-desktop-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(100px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes translate-down-3KtNDw3f {
    0% {
        transform: translateY(0)
    }
    to {
        transform: translateY(48px)
    }
}

@keyframes translate-down-phone-3KtNDw3f {
    0% {
        transform: translateY(0)
    }
    to {
        transform: translateY(48px)
    }
}

@keyframes translate-down-tablet-3KtNDw3f {
    0% {
        transform: translateY(0)
    }
    to {
        transform: translateY(64px)
    }
}

@keyframes translate-down-laptop-3KtNDw3f {
    0% {
        transform: translateY(0)
    }
    to {
        transform: translateY(80px)
    }
}

@keyframes translate-down-desktop-3KtNDw3f {
    0% {
        transform: translateY(0)
    }
    to {
        transform: translateY(100px)
    }
}

@keyframes translate-down-opacity-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(-24px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes translate-down-opacity-phone-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(-24px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes translate-down-opacity-tablet-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(-32px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes translate-down-opacity-laptop-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(-40px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes translate-down-opacity-desktop-3KtNDw3f {
    0% {
        opacity: 0;
        transform: translateY(-50px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fade-in-3KtNDw3f {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fade-out-3KtNDw3f {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}