.tv-idea-preview-button__container {
    display: inline-block;
    position: relative
}

.tv-idea-preview-button__play-icon {
    background: #2962ff;
    border-radius: 100px;
    box-shadow: 1px 1px 6px #0000004d;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transition: transform .35s;
    width: 50px
}

html.theme-dark .tv-idea-preview-button__play-icon {
    background: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    :hover+.tv-idea-preview-button__play-icon {
        transform: scale(1.2)
    }
}

.tv-idea-preview-button__play-icon svg {
    fill: #fff
}

.tv-idea-preview-button__video-cam {
    bottom: 5px;
    left: 8px;
    position: absolute
}

.userNameHintList-TTHSrMMH {
    max-width: 269px;
    position: absolute;
    z-index: 10
}

.tv-widget-chart-like-button {
    background-color: #00000080;
    border-radius: 3px;
    cursor: default;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
    opacity: .5;
    padding: 6px 8px 5px;
    position: relative;
    transition: opacity .1s ease-in;
    white-space: nowrap;
    z-index: 5
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .tv-widget-chart-like-button:hover {
        background-color: #000000b3;
        cursor: pointer;
        opacity: 1
    }
}

.tv-widget-chart-like-button.active {
    opacity: 1
}

.tv-widget-chart-like-button.active svg,
html.theme-dark .tv-widget-chart-like-button.active svg {
    fill: #2962ff
}

.tv-widget-chart-like-button span {
    color: #fff;
    display: inline-block
}

.tv-widget-chart-like-button svg {
    fill: #fff;
    height: 15px;
    left: 8px;
    position: absolute;
    top: 5px;
    width: 15px
}

.tv-widget-chart-like-button__icon-place {
    transition: width .2s ease;
    width: 15px
}

.tv-widget-chart-like-button.js-has-likes .tv-widget-chart-like-button__icon-place {
    width: 22px
}

@keyframes like-highlight-animation-3V8NN6uM {
    0% {
        background-color: #afafaf80
    }
    to {
        background-color: #00030c80
    }
}

.js-like-highlight {
    animation: like-highlight-animation 1s
}

.show-snapshot-preview .tv-widget-chart-like-button,
.tv-notifications-widget-item .tv-widget-chart-like-button {
    display: block;
    left: 5px;
    margin: 0;
    position: absolute;
    top: 5px
}

._tv-dialog-shadowbox {
    background: #00000080;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transform: translateZ(0);
    width: 100%;
    z-index: 110
}

._tv-dialog-shadowbox.transparent {
    background: none
}

._tv-dialog {
    background: #fff;
    border: 1px solid #b2b5be;
    box-shadow: 0 0 10px 0 #00000026;
    left: 50%;
    min-height: 18px;
    position: absolute;
    top: 50%
}

html.theme-dark ._tv-dialog {
    background: #1e222d;
    border-color: #363a45
}

._tv-dialog__link {
    color: #2962ff;
    transition: color .35s ease
}

html.theme-dark ._tv-dialog__link {
    color: #2962ff
}

._tv-dialog__link:visited {
    fill: #2962ff;
    color: #2962ff
}

html.theme-dark ._tv-dialog__link:visited {
    fill: #2962ff;
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    ._tv-dialog__link:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: .06s
    }
    html.theme-dark ._tv-dialog__link:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

._tv-dialog__link:focus {
    outline: auto
}

._tv-dialog__link:focus:not(:-moz-focusring) {
    outline: none
}

._tv-dialog__link:-moz-focusring {
    outline: auto
}

._tv-dialog__link:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: .06s
}

html.theme-dark ._tv-dialog__link:active {
    fill: #1848cc;
    color: #1848cc
}

._tv-dialog__indented-list {
    padding-left: 20px
}

._tv-dialog__highlightedText {
    background: #fff3e0;
    box-shadow: 0 0 0 .37em #fff3e0
}

html.theme-dark ._tv-dialog__highlightedText {
    background: #142e61;
    box-shadow: 0 0 0 .37em #142e61
}

._tv-dialog__highlightedText:empty {
    background: #0000;
    box-shadow: none
}

._tv-dialog__subTitle {
    display: block;
    font-weight: 700;
    margin-top: 20px
}

._tv-dialog._tv-dialog-min-width {
    min-width: 400px
}

._tv-dialog--alert-email a,
._tv-dialog--open-a-chart a {
    color: #2962ff;
    transition: color .35s ease
}

html.theme-dark ._tv-dialog--alert-email a,
html.theme-dark ._tv-dialog--open-a-chart a {
    color: #2962ff
}

._tv-dialog--alert-email a:visited,
._tv-dialog--open-a-chart a:visited {
    fill: #2962ff;
    color: #2962ff
}

html.theme-dark ._tv-dialog--alert-email a:visited,
html.theme-dark ._tv-dialog--open-a-chart a:visited {
    fill: #2962ff;
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    ._tv-dialog--alert-email a:hover,
    ._tv-dialog--open-a-chart a:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: .06s
    }
    html.theme-dark ._tv-dialog--alert-email a:hover,
    html.theme-dark ._tv-dialog--open-a-chart a:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

._tv-dialog--alert-email a:focus,
._tv-dialog--open-a-chart a:focus {
    outline: auto
}

._tv-dialog--alert-email a:focus:not(:-moz-focusring),
._tv-dialog--open-a-chart a:focus:not(:-moz-focusring) {
    outline: none
}

._tv-dialog--alert-email a:-moz-focusring,
._tv-dialog--open-a-chart a:-moz-focusring {
    outline: auto
}

._tv-dialog--alert-email a:active,
._tv-dialog--open-a-chart a:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: .06s
}

html.theme-dark ._tv-dialog--alert-email a:active,
html.theme-dark ._tv-dialog--open-a-chart a:active {
    fill: #1848cc;
    color: #1848cc
}

._tv-dialog .colorpicker-widget:not(.disabled):not(.selected) {
    position: relative
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    ._tv-dialog .colorpicker-widget:not(.disabled):not(.selected):not(.disabled):hover {
        border: 1px solid #d6d8e0;
        z-index: 1
    }
    html.theme-dark ._tv-dialog .colorpicker-widget:not(.disabled):not(.selected):not(.disabled):hover {
        border-color: #131722
    }
}

._tv-dialog.ui-resizable {
    position: absolute
}

._tv-dialog-title {
    word-wrap: break-word;
    color: #4c525e;
    cursor: default;
    font-size: 15px;
    font-weight: 700;
    padding: 17px 35px 17px 20px
}

html.theme-dark ._tv-dialog-title {
    color: #d6d8e0
}

._tv-dialog-title._tv-dialog-title-no-close {
    padding-right: 20px
}

._tv-dialog-title._tv-dialog-title-hidden {
    color: #0000;
    font-size: 0;
    padding: 0;
    -webkit-user-select: none;
    user-select: none
}

._tv-dialog-title ._tv-dialog-title-close {
    cursor: pointer;
    display: block;
    height: 21px;
    position: absolute;
    right: 15px;
    top: 13px;
    width: 21px;
    z-index: 1
}

._tv-dialog-title ._tv-dialog-title-close:after {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAASCAYAAACJgPRIAAAAUElEQVR42pWQMQoAIAwD++d+x8HJbyoOWXJDSSBgwpVS62vtc8ulXg/ZAZkFMycNoBJgXoUcX1cm9N1NSL0esgMyC2ZOGkAlwLwKObhu/qcHp/zWImEdH8EAAAAASUVORK5CYII=);
    content: " ";
    display: block;
    height: 9px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 9px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    ._tv-dialog-title ._tv-dialog-title-close:hover:after {
        background-position: bottom
    }
}

._tv-dialog-content {
    color: #131722;
    max-width: 100%
}

html.theme-dark ._tv-dialog-content {
    color: #d6d8e0
}

._tv-dialog-content a:not([class*=button]):not([class*=btn]):not([class*=tabs]):not([class*=tab]):not([class*=sbSelector]):not([class*=filter]):not(a[href="#yes"]):not(a[href="#no"]) {
    color: #2962ff;
    transition: color .35s ease
}

html.theme-dark ._tv-dialog-content a:not([class*=button]):not([class*=btn]):not([class*=tabs]):not([class*=tab]):not([class*=sbSelector]):not([class*=filter]):not(a[href="#yes"]):not(a[href="#no"]) {
    color: #2962ff
}

._tv-dialog-content a:not([class*=button]):not([class*=btn]):not([class*=tabs]):not([class*=tab]):not([class*=sbSelector]):not([class*=filter]):not(a[href="#yes"]):not(a[href="#no"]):visited {
    fill: #2962ff;
    color: #2962ff
}

html.theme-dark ._tv-dialog-content a:not([class*=button]):not([class*=btn]):not([class*=tabs]):not([class*=tab]):not([class*=sbSelector]):not([class*=filter]):not(a[href="#yes"]):not(a[href="#no"]):visited {
    fill: #2962ff;
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    ._tv-dialog-content a:not([class*=button]):not([class*=btn]):not([class*=tabs]):not([class*=tab]):not([class*=sbSelector]):not([class*=filter]):not(a[href="#yes"]):not(a[href="#no"]):hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: .06s
    }
    html.theme-dark ._tv-dialog-content a:not([class*=button]):not([class*=btn]):not([class*=tabs]):not([class*=tab]):not([class*=sbSelector]):not([class*=filter]):not(a[href="#yes"]):not(a[href="#no"]):hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

._tv-dialog-content a:not([class*=button]):not([class*=btn]):not([class*=tabs]):not([class*=tab]):not([class*=sbSelector]):not([class*=filter]):not(a[href="#yes"]):not(a[href="#no"]):focus {
    outline: auto
}

._tv-dialog-content a:not([class*=button]):not([class*=btn]):not([class*=tabs]):not([class*=tab]):not([class*=sbSelector]):not([class*=filter]):not(a[href="#yes"]):not(a[href="#no"]):focus:not(:-moz-focusring) {
    outline: none
}

._tv-dialog-content a:not([class*=button]):not([class*=btn]):not([class*=tabs]):not([class*=tab]):not([class*=sbSelector]):not([class*=filter]):not(a[href="#yes"]):not(a[href="#no"]):-moz-focusring {
    outline: auto
}

._tv-dialog-content a:not([class*=button]):not([class*=btn]):not([class*=tabs]):not([class*=tab]):not([class*=sbSelector]):not([class*=filter]):not(a[href="#yes"]):not(a[href="#no"]):active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: .06s
}

html.theme-dark ._tv-dialog-content a:not([class*=button]):not([class*=btn]):not([class*=tabs]):not([class*=tab]):not([class*=sbSelector]):not([class*=filter]):not(a[href="#yes"]):not(a[href="#no"]):active {
    fill: #1848cc;
    color: #1848cc
}

._tv-dialog-content .main {
    padding: 0 20px 20px
}

._tv-dialog-content .main p:first-child {
    margin-top: 0
}

._tv-dialog-content .main p:last-child {
    margin-bottom: 0
}

._tv-dialog-content .main .buttons {
    margin-top: 25px;
    text-align: right
}

._tv-dialog-content .main .buttons.center {
    text-align: center
}

._tv-dialog-content .main .buttons ._tv-button {
    min-width: 60px;
    text-transform: uppercase
}

._tv-dialog-content .main-browser-extension {
    padding: 0
}

._tv-dialog-content .main-browser-extension .extension-poster {
    background: url(fdbb9f3cb0365a7ab5cad76bff0b3e2b.png) 0 0;
    height: 377px;
    width: 328px
}

._tv-dialog-content .main-browser-extension .left,
._tv-dialog-content .main-browser-extension .right {
    box-sizing: border-box;
    width: 50%
}

._tv-dialog-content .main-browser-extension .left {
    float: left;
    padding: 32px 0 0 46px
}

._tv-dialog-content .main-browser-extension .right {
    float: right;
    padding: 51px 70px 0 44px
}

._tv-dialog-content .main-browser-extension .logo {
    background-size: 36px 36px;
    float: left;
    height: 36px;
    margin-right: 10px;
    width: 36px
}

._tv-dialog-content .main-browser-extension .logo.chrome {
    background: url(396b43348362fa7fe5cb2e187f2e6d78.svg) 0 0
}

._tv-dialog-content .main-browser-extension .info,
._tv-dialog-content .main-browser-extension .name {
    clear: right;
    color: #a9a9a9;
    float: left;
    width: 200px
}

._tv-dialog-content .main-browser-extension .name {
    font-size: 20px;
    height: 20px;
    line-height: 20px
}

._tv-dialog-content .main-browser-extension .info {
    font-size: 12px;
    height: 14px;
    line-height: 20px
}

._tv-dialog-content .main-browser-extension h1 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 48px
}

._tv-dialog-content .main-browser-extension p {
    color: #c2c5cb;
    margin: 14px 0 28px
}

._tv-dialog-content .main-browser-extension .install-extension button {
    background: #52c3e7;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 42px;
    line-height: 42px;
    padding: 0 25px;
    text-align: center;
    text-transform: uppercase
}

._tv-dialog-content ._tv-dialog-checkbox-mask {
    background: url(683e7a8e04465dc3fac39ed37f0789b8.png) 0 0;
    height: 16px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 18px
}

._tv-dialog-content ._tv-dialog-checkbox-mask.radio {
    background: #fff url(1df47f578aeef40dd1f2328338a133be.png);
    background-position: -100px -140px;
    width: 16px
}

._tv-dialog-content ._tv-dialog-checkbox-mask.disabled {
    background-position: 0 -32px
}

._tv-dialog-content ._tv-dialog-checkbox-mask-active {
    background: url(683e7a8e04465dc3fac39ed37f0789b8.png) 0 -16px
}

._tv-dialog-content ._tv-dialog-checkbox-mask-active.radio {
    background-position: -120px -140px
}

._tv-dialog-content--with-padding-top {
    padding-top: 40px
}

._tv-dialog-content form input:not(.tv-control-input)[type=text],
._tv-dialog-content form input[type=password],
._tv-dialog-text-input {
    background-color: #fff;
    border: 1px solid #b2b5be;
    box-sizing: border-box;
    color: #434651;
    height: 33px;
    margin: 1px;
    padding: 0 5px;
    width: 100%
}

html.theme-dark ._tv-dialog-content form input:not(.tv-control-input)[type=text],
html.theme-dark ._tv-dialog-content form input[type=password],
html.theme-dark ._tv-dialog-text-input {
    background-color: #1e222d;
    border: 1px solid #363a45;
    color: #d1d4dc
}

._tv-dialog-content form input:not(.tv-control-input)[type=text]:disabled,
._tv-dialog-content form input[type=password]:disabled,
._tv-dialog-text-input:disabled {
    color: #5a5a5a;
    opacity: .5
}

._tv-dialog-content ._tv-dialog-text-input {
    height: 27px
}

._tv-dialog-text-input.disabled {
    color: #909292 !important
}

._tv-dialog-content form input[type=password].error,
._tv-dialog-content form input[type=text].error {
    background: #f7e4e6;
    border: 2px solid #de5764;
    color: #e06571;
    margin: 0
}

._tv-dialog-content textarea {
    box-sizing: border-box;
    color: #434651;
    font-size: 12px;
    line-height: 18px;
    padding: 8px 5px
}

html.theme-dark ._tv-dialog-content textarea {
    background: #1e222d;
    border-color: #363a45;
    color: #d1d4dc
}

._tv-dialog-content textarea:disabled {
    color: #5a5a5a;
    opacity: .5
}

._tv-dialog-content form input:not(.tv-control-input)._tv-dialog-content-textactive,
._tv-dialog-text-input:focus {
    background: #fff;
    border-color: #2962ff !important;
    color: #595959
}

html.theme-dark ._tv-dialog-content form input:not(.tv-control-input)._tv-dialog-content-textactive,
html.theme-dark ._tv-dialog-text-input:focus {
    background: #1e222d;
    border-color: #2962ff !important;
    color: #9db2bd
}

._tv-dialog-content textarea {
    background: #fff;
    border: 1px solid #b2b5be
}

html.theme-dark ._tv-dialog-content textarea {
    border: 1px solid #363a45
}

._tv-dialog-content textarea._tv-dialog-content-textareaactive {
    border-color: #2962ff !important;
    color: #595959
}

html.theme-dark ._tv-dialog-content textarea._tv-dialog-content-textareaactive {
    border-color: #2962ff !important
}

._tv-dialog-content .caption {
    color: #50535e;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 3px;
    margin-top: 7px
}

html.theme-dark ._tv-dialog-content .caption {
    color: #f8f9fd
}

._tv-dialog-content .caption.half {
    float: left;
    width: 50%
}

._tv-dialog-content .caption-big {
    color: #50535e;
    font-size: 12px;
    margin: 15px 0
}

html.theme-dark ._tv-dialog-content .caption-big {
    color: #f8f9fd
}

._tv-dialog-content .caption-big-center {
    color: #50535e;
    font-size: 12px;
    margin: 15px 0;
    text-align: center
}

html.theme-dark ._tv-dialog-content .caption-big-center {
    color: #f8f9fd
}

._tv-dialog-content .caption-big-center.slim {
    margin: 0;
    text-align: left
}

._tv-dialog-content .caption-big-center.slim ul {
    padding-left: 20px
}

._tv-dialog-content .caption-big.slim {
    margin: 0;
    text-align: left
}

._tv-dialog-content .caption.first {
    margin-top: 0
}

._tv-dialog-content .critical,
._tv-dialog-content .disconnect {
    padding-bottom: 15px
}

._tv-dialog-content .disconnect ol,
._tv-dialog-content .disconnect ul {
    margin-bottom: 0;
    padding-left: 1.5em
}

._tv-dialog-content .disconnect ul {
    list-style: square
}

._tv-dialog-content .input input {
    width: 298px !important
}

._tv-dialog-content .input {
    margin-bottom: 7px
}

._tv-dialog-content .big-button ._tv-button {
    background: #fff;
    padding: 10px 50px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    ._tv-dialog-content .big-button ._tv-button:hover {
        background: #fcfcfc
    }
}

._tv-dialog-content label {
    color: #434651
}

html.theme-dark ._tv-dialog-content label {
    color: #d1d4dc
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    ._tv-dialog-content .flat:hover:before {
        border-width: 0 !important
    }
}

._tv-dialog-error,
._tv-dialog-message {
    display: none;
    font-size: 12px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 100
}

._tv-dialog-error .message,
._tv-dialog-message .message {
    display: table-cell;
    height: 32px;
    padding: 10px;
    vertical-align: middle
}

._tv-dialog-error .close,
._tv-dialog-message .close {
    border: 4px solid #0000;
    cursor: pointer;
    display: none;
    height: 9px;
    opacity: .7;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 9px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    ._tv-dialog-error .close:hover,
    ._tv-dialog-message .close:hover {
        opacity: 1
    }
}

._tv-dialog-error.with-close .message,
._tv-dialog-message.with-close .message {
    padding: 10px 30px
}

._tv-dialog-error.with-close .close,
._tv-dialog-message.with-close .close {
    display: block
}

._tv-dialog-error a,
._tv-dialog-message a {
    color: #2962ff;
    transition: color .35s ease
}

html.theme-dark ._tv-dialog-error a,
html.theme-dark ._tv-dialog-message a {
    color: #2962ff
}

._tv-dialog-error a:visited,
._tv-dialog-message a:visited {
    fill: #2962ff;
    color: #2962ff
}

html.theme-dark ._tv-dialog-error a:visited,
html.theme-dark ._tv-dialog-message a:visited {
    fill: #2962ff;
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    ._tv-dialog-error a:hover,
    ._tv-dialog-message a:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: .06s
    }
    html.theme-dark ._tv-dialog-error a:hover,
    html.theme-dark ._tv-dialog-message a:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

._tv-dialog-error a:focus,
._tv-dialog-message a:focus {
    outline: auto
}

._tv-dialog-error a:focus:not(:-moz-focusring),
._tv-dialog-message a:focus:not(:-moz-focusring) {
    outline: none
}

._tv-dialog-error a:-moz-focusring,
._tv-dialog-message a:-moz-focusring {
    outline: auto
}

._tv-dialog-error a:active,
._tv-dialog-message a:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: .06s
}

html.theme-dark ._tv-dialog-error a:active,
html.theme-dark ._tv-dialog-message a:active {
    fill: #1848cc;
    color: #1848cc
}

._tv-dialog-error {
    background: #f9e3e6;
    color: #c34c36
}

html.theme-dark ._tv-dialog-error {
    background: #6f2626;
    color: #ffedf0
}

._tv-dialog-error .close {
    fill: #9b0202
}

html.theme-dark ._tv-dialog-error .close {
    fill: #ffa4b3
}

._tv-dialog-message {
    background: #e2fde1;
    color: #0a8415
}

html.theme-dark ._tv-dialog-message {
    background: #21384d;
    color: #9addcc
}

._tv-dialog-message .close {
    fill: #096201
}

html.theme-dark ._tv-dialog-message .close {
    fill: #3bc2a1
}

._tv-dialog-content .dialog-comment {
    float: left;
    margin-top: 15px
}

._tv-dialog .ui-resizable-handle {
    background: url(c9653f735b42cd4bff0ba442c742ba82.png) 0 0 no-repeat;
    height: 11px;
    width: 11px
}

._tv-dialog.change-interval-dialog ._tv-dialog-title {
    font-size: 13px;
    padding: 28px 0 23px;
    text-align: center
}

._tv-dialog.change-interval-dialog ._tv-dialog-content {
    padding: 0 50px 13px;
    text-align: center
}

._tv-dialog.change-interval-dialog ._tv-dialog-content .change-interval-input {
    background-color: #fff;
    border: 1px solid #2962ff;
    box-sizing: border-box;
    color: #434651;
    display: block;
    font-size: 43px;
    height: 76px;
    text-align: inherit;
    text-transform: uppercase;
    width: 195px
}

html.theme-dark ._tv-dialog.change-interval-dialog ._tv-dialog-content .change-interval-input {
    background-color: #2a2e39;
    border: 1px solid #2962ff;
    color: #d1d4dc
}

._tv-dialog.change-interval-dialog ._tv-dialog-content .change-interval-input.error {
    background-color: #ffefef;
    border-color: #d75442
}

._tv-dialog.change-interval-dialog ._tv-dialog-content i {
    display: block;
    font-style: normal
}

._tv-dialog.change-interval-dialog ._tv-dialog-content i.interval-caption {
    color: #a8a8a8;
    cursor: default;
    font-size: 12px;
    font-weight: 600;
    margin: 8px 0 15px
}

._tv-dialog.change-interval-dialog ._tv-dialog-content i.interval-caption.error {
    color: #d75442
}

._tv-dialog.change-interval-dialog ._tv-dialog-content i.help-tooltip-trigger {
    border: 1px solid #13172280;
    border-radius: 50%;
    cursor: default;
    font-size: 11px;
    font-weight: 700;
    height: 12px;
    line-height: 12px;
    margin: 0 auto;
    width: 12px
}

html.theme-dark ._tv-dialog.change-interval-dialog ._tv-dialog-content i.help-tooltip-trigger {
    border-color: #b2b5be80
}

._tv-dialog-charting-library._tv-dialog {
    background: #f2f5f8;
    font-size: 14px;
    font-weight: 400
}

._tv-dialog-charting-library .main {
    padding: 0 20px 20px
}

._tv-dialog-charting-library .line {
    background: #ced5db;
    height: 1px;
    overflow: hidden
}

._tv-dialog-charting-library .lead-in {
    margin-bottom: 5px
}

._tv-dialog-charting-library h3 {
    color: #26282f;
    font-size: 26px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase
}

._tv-dialog-charting-library li,
._tv-dialog-charting-library p {
    line-height: 28px;
    margin: 0
}

._tv-dialog-charting-library p,
._tv-dialog-charting-library ul {
    margin: 12px 1px
}

._tv-dialog-charting-library form .dropzone {
    background: #fff;
    border: 1px dashed #0000004d;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 110px;
    margin: 1px;
    padding: 20px 0;
    width: 140px
}

._tv-dialog-charting-library form .dropzone * {
    box-sizing: border-box
}

._tv-dialog-charting-library form .dropzone.dz-clickable {
    cursor: pointer
}

._tv-dialog-charting-library form .dropzone.dz-started .dz-message {
    display: none
}

._tv-dialog-charting-library form .dropzone.dz-drag-hover {
    border-style: solid
}

._tv-dialog-charting-library form .dropzone.dz-drag-hover .dz-message {
    opacity: .5
}

._tv-dialog-charting-library form .dropzone .dz-message {
    text-align: center
}

._tv-dialog-charting-library form .dropzone .dz-message .link {
    color: #0099d4
}

._tv-dialog-charting-library form .dropzone .dz-filename {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: lowercase;
    white-space: nowrap
}

._tv-dialog-charting-library form .dropzone .dz-filename span {
    padding: 0 .4em
}

._tv-dialog-charting-library form .dropzone .dz-icon {
    padding: 1px 42px
}

._tv-dialog-charting-library form .dropzone .dz-remove {
    fill: #ff6565;
    left: 110px;
    position: relative;
    top: -80px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    ._tv-dialog-charting-library form .dropzone .dz-remove:hover {
        fill: red
    }
}

._tv-dialog-charting-library form>div {
    margin-bottom: 12px
}

._tv-dialog-charting-library form .description {
    margin: 6px 0
}

._tv-dialog-charting-library form .agreement {
    margin-bottom: 10px
}

._tv-dialog-charting-library form .agreement .description {
    display: inline-block;
    padding: 27px 5px;
    width: 388px
}

._tv-dialog-charting-library form textarea {
    height: 90px;
    margin: 1px;
    width: 100%
}

._tv-dialog-charting-library form .attach {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400
}

._tv-dialog-charting-library form input[type=text].error {
    margin: 1px
}

._tv-dialog-charting-library form .two-columns .column-wrap {
    box-sizing: border-box;
    display: inline-block;
    width: 50%
}

._tv-dialog-charting-library form .two-columns .column-wrap:first-child {
    padding-right: 10px
}

._tv-dialog-charting-library .big-buttons {
    padding: 10px 0;
    text-align: right
}

._tv-dialog-charting-library .big-buttons .cancel-button {
    background: #f2f5f8;
    border: 1px solid #0000;
    color: #686868;
    cursor: pointer;
    font-size: 15px;
    margin: 0 15px
}

._tv-dialog-charting-library .big-buttons .big-button {
    background-color: #06b2ce;
    background-image: url(77a5d6e16116f4dd430d89ed1ef42fa8.gif);
    background-position: -9999px -9999px;
    background-repeat: no-repeat;
    border: 1px solid #0000;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    padding: 10px 45px;
    text-transform: uppercase
}

._tv-dialog-charting-library .big-buttons .big-button.process {
    background-position: 0 0;
    background-repeat: repeat
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    ._tv-dialog-charting-library .big-buttons .big-button:hover {
        background-color: #06bbd8
    }
}

._tv-dialog-charting-library .big-buttons .big-button:active {
    background-color: #07c3e2
}

._tv-dialog-charting-library .big-buttons .big-button.disabled {
    background-color: #c3c8cf;
    cursor: default
}

._tv-dialog.dialog-highlight .main .message textarea {
    height: 130px;
    width: 350px
}

.pc-data-wrap,
.tv-publicchats {
    height: 100%;
    position: relative
}

.pc-data-wrap {
    contain: strict
}

.pc-data {
    contain: content;
    margin: 0 3px;
    position: relative
}

.pc-data.js-only-favorites .pc-item:not(.favorite) {
    display: none
}

.pc-data .pc-item {
    box-sizing: border-box;
    display: block;
    height: 45px;
    margin-bottom: 1px;
    padding: 7px 10px;
    position: relative
}

.pc-data .pc-item .separator {
    background: #e0e3eb;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0
}

html.theme-dark .pc-data .pc-item .separator {
    background: #363a45
}

.pc-data .pc-item:after {
    background: #e0e3eb;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0
}

html.theme-dark .pc-data .pc-item:after {
    background: #363a45
}

.pc-data .pc-item.pinned {
    background: #f8f8f8;
    height: 50px;
    padding: 8px 10px
}

html.theme-dark .pc-data .pc-item.pinned {
    background: #131722
}

.pc-data .pc-item.pinned:after {
    background: #dfe3eb
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .pc-data .pc-item:hover {
        background: #edf0f3
    }
    html.theme-dark .pc-data .pc-item:hover {
        background: #262b3e
    }
    .pc-data .pc-item:hover .chat-info,
    .pc-data .pc-item:hover .chat-settings,
    .pc-data .pc-item:hover .fav,
    .pc-data .pc-item:hover .notifications-toggle,
    .pc-data .pc-item:hover .pinned {
        display: inline-block
    }
}

.pc-data .pc-item.active {
    background: #e3effd
}

html.theme-dark .pc-data .pc-item.active {
    background: #21384d
}

.pc-data .pc-item.active .title:before {
    background: #3e98cd;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px
}

.pc-data .pc-item.active .chat-info,
.pc-data .pc-item.active .chat-settings,
.pc-data .pc-item.active .fav,
.pc-data .pc-item.active .notifications-toggle,
.pc-data .pc-item.active .pinned {
    display: inline-block
}

.pc-data .pc-item .desc {
    color: #8b8c8e;
    font-size: 12px;
    margin-right: 17px;
    margin-top: 3px;
    white-space: nowrap
}

html.theme-dark .pc-data .pc-item .desc {
    color: #758696
}

.pc-data .pc-item .desc span {
    display: inline-block;
    max-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top
}

.pc-data .pc-item .desc time {
    display: inline-block;
    padding-left: 3px;
    vertical-align: top
}

.pc-data .pc-item .desc time:before {
    content: "\2013  "
}

.pc-data .pc-item .desc.just-now span {
    max-width: 80%
}

.pc-data .pc-item .title {
    color: #434651;
    font-size: 13px;
    margin-right: 30px;
    overflow: hidden;
    white-space: nowrap
}

html.theme-dark .pc-data .pc-item .title {
    color: #758696
}

.pc-data .pc-item .title .title-text {
    display: inline-block;
    font-weight: 700;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap
}

.pc-data .pc-item .title .title-total {
    font-size: 10px;
    position: relative;
    top: -1px
}

.pc-data .pc-item .title .title-total:before {
    content: "["
}

.pc-data .pc-item .title .title-total:after {
    content: "]"
}

.pc-data .pc-item .counter {
    background: #e0745f;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 11px;
    padding: 1px 4px;
    position: absolute;
    right: 6px;
    top: 23px
}

.pc-data .pc-item .counter.active {
    display: block
}

.pc-data .pc-item .users {
    font-size: 12px;
    font-weight: 400
}

.pc-data .pc-item .users.hidden {
    display: none
}

.pc-data .pc-item .chat-info {
    background-position: -120px -380px;
    display: none;
    height: 12px;
    margin: -1px 0 0 6px;
    width: 12px
}

.pc-data .pc-item .chat-settings {
    background-position: -180px -380px;
    display: none;
    height: 12px;
    margin: -1px 0 0 6px;
    width: 12px
}

.pc-data .pc-item .notifications-toggle {
    display: none;
    height: 16px;
    margin: -1px 0 0 6px;
    position: absolute;
    right: 6px;
    top: 8px;
    width: 16px
}

.pc-data .pc-item .notifications-toggle svg {
    fill: #adaeb0;
    display: block;
    height: 12px;
    margin: 2px 0 0 2px;
    width: 12px
}

.pc-data .pc-item .notifications-toggle.active {
    display: inline-block
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .pc-data .pc-item .notifications-toggle:hover svg {
        fill: #757575
    }
}

.pc-data .pc-item .notifications-toggle.active svg {
    fill: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .pc-data .pc-item .notifications-toggle.active:hover svg {
        fill: #2962ff
    }
}

.pc-data .pc-item .pinned {
    background-position: -100px -380px;
    display: none;
    height: 12px;
    position: absolute;
    right: 27px;
    top: 10px;
    width: 8px
}

.pc-data .pc-item .fav {
    display: none;
    height: 16px;
    position: absolute;
    right: 23px;
    top: 8px;
    width: 16px
}

.pc-data .pc-item .fav svg {
    fill: #adaeb0;
    display: block;
    height: 13px;
    margin: 0 0 0 1px;
    width: 14px
}

.pc-data .pc-item .fav.active {
    display: inline-block
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .pc-data .pc-item .fav:hover svg {
        fill: #757575
    }
}

.pc-data .pc-item .fav.active svg {
    fill: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .pc-data .pc-item .fav.active:hover svg {
        fill: #2962ff
    }
}

.tv-messages {
    height: 100%;
    position: relative
}

.msg-chat-user {
    border-bottom: 1px solid #e0e3eb;
    display: block;
    height: 24px;
    padding: 5px 0;
    position: relative
}

html.theme-dark .msg-chat-user {
    border-bottom-color: #363a45
}

.msg-chat-user.active {
    background: #f0f3fa
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-chat-user:hover {
        background: #f0f3fa
    }
}

html.theme-dark .msg-chat-user.active {
    background: #2a2e39
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .msg-chat-user:hover {
        background: #2a2e39
    }
}

.msg-chat-user:last-child {
    border: none
}

.msg-chat-user img {
    height: 24px;
    left: 10px;
    position: absolute;
    width: 24px
}

.msg-chat-user span {
    padding: 0 0 0 40px
}

.msg-chat-user.online:before {
    background: #5cb888;
    border: 3px solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    left: 24px;
    position: absolute;
    top: 1px;
    width: 8px;
    z-index: 5
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-chat-user.online:hover:before {
        border: 3px solid #edf0f3
    }
}

.msg-input-wrap {
    padding: 0 3px 3px
}

.msg-input {
    height: 30px;
    position: relative;
    z-index: 7
}

.msg-input input,
.msg-input textarea {
    background-color: #fff;
    border: 1px solid #c1c4cd;
    box-sizing: border-box;
    color: #434651;
    font-size: 13px;
    height: 30px;
    margin: 0;
    padding: 5px 8px;
    width: 100%
}

html.theme-dark .msg-input input,
html.theme-dark .msg-input textarea {
    background-color: #131722;
    border-color: #363a45;
    color: #d1d4dc
}

.msg-input input:focus,
.msg-input textarea:focus {
    border-color: #2962ff
}

.msg-input .msg-username-hint {
    background: #fff;
    border: 1px solid #c1c4cd;
    box-sizing: border-box;
    display: none;
    overflow-y: auto;
    position: absolute;
    width: 100%
}

html.theme-dark .msg-input .msg-username-hint {
    background: #2a2e39;
    border-color: #363a45
}

.msg-input .msg-username-hint .recipient {
    border-bottom: 1px solid #e0e3eb;
    display: block;
    height: 24px;
    padding: 5px 0;
    position: relative
}

html.theme-dark .msg-input .msg-username-hint .recipient {
    border-bottom-color: #363a45
}

.msg-input .msg-username-hint .recipient.active {
    background: #f0f3fa
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-input .msg-username-hint .recipient:hover {
        background: #f0f3fa
    }
}

html.theme-dark .msg-input .msg-username-hint .recipient.active {
    background: #2a2e39
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .msg-input .msg-username-hint .recipient:hover {
        background: #2a2e39
    }
}

.msg-input .msg-username-hint .recipient:last-child {
    border: none
}

.msg-input .msg-username-hint .recipient img {
    height: 24px;
    left: 10px;
    position: absolute;
    width: 24px
}

.msg-input .msg-username-hint .recipient span {
    padding: 0 0 0 40px
}

.msg-input .msg-username-hint .recipient.online:before {
    background: #5cb888;
    border: 3px solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    left: 24px;
    position: absolute;
    top: 1px;
    width: 8px;
    z-index: 5
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-input .msg-username-hint .recipient.online:hover:before {
        border: 3px solid #edf0f3
    }
}

.msg-input .input-reset {
    display: inline-block
}

.msg-data-wrap {
    height: calc(100% - 34px);
    position: relative
}

.separated {
    margin-bottom: 1px
}

.widgetbar-widgetbody .msg-empty {
    margin-top: 8px
}

.msg-data {
    margin: 0 3px;
    position: relative
}

.msg-data .msg-item {
    box-sizing: border-box;
    display: block;
    height: 45px;
    margin-bottom: 1px;
    padding: 7px 10px;
    position: relative
}

.msg-data .msg-item .separator {
    background: #e0e3eb;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0
}

html.theme-dark .msg-data .msg-item .separator {
    background: #363a45
}

.msg-data .msg-item:after {
    background: #e0e3eb;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0
}

html.theme-dark .msg-data .msg-item:after {
    background: #363a45
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-data .msg-item:hover {
        background: #edf0f3
    }
    html.theme-dark .msg-data .msg-item:hover {
        background: #262b3e
    }
}

.msg-data .msg-item.active {
    background: #e3effd
}

html.theme-dark .msg-data .msg-item.active {
    background: #21384d
}

.msg-data .msg-item.active .title:before {
    background: #3e98cd;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px
}

.msg-data .msg-item .userpics {
    left: 11px;
    top: 7px
}

.msg-data .msg-item .userpics,
.msg-data .msg-item .userpics .userpic,
.msg-data .msg-item .userpics img {
    height: 32px;
    position: absolute;
    width: 32px
}

.msg-data .msg-item .userpics .userpic {
    overflow: hidden
}

.msg-data .msg-item .userpics.layout-1 .online:after {
    background: #5cb888;
    border: 3px solid #f2f5f8;
    border-radius: 50%;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    right: -3px;
    top: -3px;
    width: 10px
}

.msg-data .msg-item .userpics.layout-2 .userpic {
    height: 32px;
    width: 16px
}

.msg-data .msg-item .userpics.layout-2 .userpic img {
    left: -8px
}

.msg-data .msg-item .userpics.layout-2 .userpic-2 {
    left: 16px
}

.msg-data .msg-item .userpics.layout-3 .userpic {
    width: 16px
}

.msg-data .msg-item .userpics.layout-3 .userpic-1 img {
    left: -8px
}

.msg-data .msg-item .userpics.layout-3 .userpic-2,
.msg-data .msg-item .userpics.layout-3 .userpic-3 {
    left: 16px
}

.msg-data .msg-item .userpics.layout-3 .userpic-2 img,
.msg-data .msg-item .userpics.layout-3 .userpic-3 img {
    height: 16px;
    width: 16px
}

.msg-data .msg-item .userpics.layout-3 .userpic-3 {
    top: 16px
}

.msg-data .msg-item .userpics.layout-4 .userpic,
.msg-data .msg-item .userpics.layout-4 .userpic img {
    height: 16px;
    width: 16px
}

.msg-data .msg-item .userpics.layout-4 .userpic-2,
.msg-data .msg-item .userpics.layout-4 .userpic-3 {
    left: 16px
}

.msg-data .msg-item .userpics.layout-4 .userpic-3,
.msg-data .msg-item .userpics.layout-4 .userpic-4 {
    top: 16px
}

.msg-data .msg-item .desc,
.msg-data .msg-item .title {
    margin-left: 45px;
    white-space: nowrap
}

.msg-data .msg-item .title {
    color: #434651;
    font-size: 13px;
    font-weight: 700
}

html.theme-dark .msg-data .msg-item .title {
    color: #758696
}

.msg-data .msg-item .desc {
    color: #8b8c8e;
    font-size: 12px;
    margin-top: 3px
}

html.theme-dark .msg-data .msg-item .desc {
    color: #758696
}

.msg-data .msg-item .desc .last-message,
.msg-data .msg-item .desc time {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top
}

.msg-data .msg-item .desc .last-message {
    max-width: 60%
}

.msg-data .msg-item .desc time {
    padding-left: 5px
}

.msg-data .msg-item .desc time:before {
    content: "\2013  "
}

.msg-data .msg-item .counter {
    background: #e0745f;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 11px;
    padding: 1px 4px;
    position: absolute;
    right: 5px;
    top: 12px
}

.msg-data .msg-item .counter.active {
    display: block
}

.msg-data .msg-item.in-call .desc:after {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    background: url(0c2939b923ccf06bdfb1918ebda19817.png);
    content: "";
    height: 25px;
    opacity: .8;
    position: absolute;
    right: 28px;
    top: 10px;
    width: 25px
}

@keyframes bounce {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
    to {
        transform: scale(1)
    }
}

.msg-chat-wrap {
    background-color: #fff;
    height: 50%;
    position: relative
}

html.theme-dark .msg-chat-wrap {
    background-color: #131722
}

.msg-chat-wrap.msg-chat-maximized {
    height: 100% !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6
}

.msg-window-handle {
    background: #0000;
    cursor: ns-resize;
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 100%
}

.tv-messages .msg-window-handle {
    top: 0
}

.msg-window {
    background: #fff;
    height: 100%
}

html.theme-dark .msg-window {
    background: #131722
}

body.chat-page .msg-window {
    margin-top: -1px;
    padding-top: 1px
}

.msg-window .msg-window-body {
    height: 100%;
    position: relative
}

.msg-window .msg-window-body .msg-members {
    background: #fff;
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10
}

html.theme-dark .msg-window .msg-window-body .msg-members {
    background: #131722
}

.msg-window .msg-window-body .msg-members textarea {
    background-color: #fff;
    border: 1px solid #c1c4cd;
    box-sizing: border-box;
    color: #434651;
    font-size: 13px;
    height: 30px;
    margin: 0;
    padding: 5px 8px;
    width: 100%
}

html.theme-dark .msg-window .msg-window-body .msg-members textarea {
    background-color: #131722;
    border-color: #363a45;
    color: #d1d4dc
}

.msg-window .msg-window-body .msg-members textarea:focus {
    border-color: #2962ff
}

.msg-window .msg-window-body .msg-members .msg-username-hint {
    background: #fff;
    border: 1px solid #c1c4cd;
    box-sizing: border-box;
    display: none;
    overflow-y: auto;
    position: absolute;
    width: calc(100% - 10px);
    z-index: 7
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-username-hint {
    border-color: #363a45
}

.msg-window .msg-window-body .msg-members .msg-username-hint .recipient {
    border-bottom: 1px solid #e0e3eb;
    display: block;
    height: 24px;
    padding: 5px 0;
    position: relative
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-username-hint .recipient {
    border-bottom-color: #363a45
}

.msg-window .msg-window-body .msg-members .msg-username-hint .recipient.active {
    background: #f0f3fa
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-window .msg-window-body .msg-members .msg-username-hint .recipient:hover {
        background: #f0f3fa
    }
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-username-hint .recipient.active {
    background: #2a2e39
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .msg-window .msg-window-body .msg-members .msg-username-hint .recipient:hover {
        background: #2a2e39
    }
}

.msg-window .msg-window-body .msg-members .msg-username-hint .recipient:last-child {
    border: none
}

.msg-window .msg-window-body .msg-members .msg-username-hint .recipient img {
    height: 24px;
    left: 10px;
    position: absolute;
    width: 24px
}

.msg-window .msg-window-body .msg-members .msg-username-hint .recipient span {
    padding: 0 0 0 40px
}

.msg-window .msg-window-body .msg-members .msg-username-hint .recipient.online:before {
    background: #5cb888;
    border: 3px solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    left: 24px;
    position: absolute;
    top: 1px;
    width: 8px;
    z-index: 5
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-window .msg-window-body .msg-members .msg-username-hint .recipient.online:hover:before {
        border: 3px solid #edf0f3
    }
}

.msg-window .msg-window-body .msg-members .msg-chat-members {
    border-bottom: 1px solid #c1c4cd;
    height: calc(100% - 35px);
    overflow-y: auto
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members {
    border-bottom-color: #363a45
}

.msg-window .msg-window-body .msg-members .msg-chat-members a {
    color: #2962ff;
    transition: color .35s ease
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members a {
    color: #2962ff
}

.msg-window .msg-window-body .msg-members .msg-chat-members a:visited {
    fill: #2962ff;
    color: #2962ff
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members a:visited {
    fill: #2962ff;
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-window .msg-window-body .msg-members .msg-chat-members a:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: .06s
    }
    html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members a:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

.msg-window .msg-window-body .msg-members .msg-chat-members a:focus {
    outline: auto
}

.msg-window .msg-window-body .msg-members .msg-chat-members a:focus:not(:-moz-focusring) {
    outline: none
}

.msg-window .msg-window-body .msg-members .msg-chat-members a:-moz-focusring {
    outline: auto
}

.msg-window .msg-window-body .msg-members .msg-chat-members a:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: .06s
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members a:active {
    fill: #1848cc;
    color: #1848cc
}

.msg-window .msg-window-body .msg-members .msg-chat-members--height_decreased {
    height: calc(100% - 69px)
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient {
    border-bottom: 1px solid #e0e3eb;
    display: block;
    height: 24px;
    padding: 5px 0;
    position: relative
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members .recipient {
    border-bottom-color: #363a45
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient.active {
    background: #f0f3fa
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-window .msg-window-body .msg-members .msg-chat-members .recipient:hover {
        background: #f0f3fa
    }
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members .recipient.active {
    background: #2a2e39
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members .recipient:hover {
        background: #2a2e39
    }
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient:last-child {
    border: none
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient img {
    height: 24px;
    left: 10px;
    position: absolute;
    width: 24px
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient span {
    padding: 0 0 0 40px
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient.online:before {
    background: #5cb888;
    border: 3px solid #fff;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    left: 24px;
    position: absolute;
    top: 1px;
    width: 8px;
    z-index: 5
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-window .msg-window-body .msg-members .msg-chat-members .recipient.online:hover:before {
        border: 3px solid #edf0f3
    }
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient.new {
    background: #f3ffec
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members .recipient.new {
    background: #1c2030
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient i.remove {
    background: url(1df47f578aeef40dd1f2328338a133be.png) -141px -362px;
    display: inline-block;
    height: 14px;
    margin-left: 3px;
    position: absolute;
    right: 8px;
    top: 10px;
    vertical-align: top;
    width: 14px
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-window .msg-window-body .msg-members .msg-chat-members .recipient i.remove:hover {
        background-color: #fff
    }
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient-username {
    color: #2962ff;
    transition: color .35s ease
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members .recipient-username {
    color: #2962ff
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient-username:visited {
    fill: #2962ff;
    color: #2962ff
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members .recipient-username:visited {
    fill: #2962ff;
    color: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .msg-window .msg-window-body .msg-members .msg-chat-members .recipient-username:hover {
        fill: #1e53e5;
        color: #1e53e5;
        transition-duration: .06s
    }
    html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members .recipient-username:hover {
        fill: #1e53e5;
        color: #1e53e5
    }
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient-username:focus {
    outline: auto
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient-username:focus:not(:-moz-focusring) {
    outline: none
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient-username:-moz-focusring {
    outline: auto
}

.msg-window .msg-window-body .msg-members .msg-chat-members .recipient-username:active {
    fill: #1848cc;
    color: #1848cc;
    transition-duration: .06s
}

html.theme-dark .msg-window .msg-window-body .msg-members .msg-chat-members .recipient-username:active {
    fill: #1848cc;
    color: #1848cc
}

.msg-window .msg-window-body .msg-members .msg-username-hint-actions {
    margin: 5px 0 0
}

.msg-window .msg-window-body .msg-members .msg-username-hint-actions ._tv-button {
    box-sizing: border-box;
    height: 30px;
    text-align: center;
    width: calc(50% - 5px)
}

.msg-window .msg-window-body .msg-members .msg-username-hint-actions ._tv-button:first-child {
    margin-right: 10px
}

.msg-window .msg-window-body .msg-members .msg-username-hint-actions--one-button {
    text-align: center
}

.msg-window .msg-window-body .msg-members .msg-username-hint-actions--one-button ._tv-button {
    max-width: 200px;
    width: 100%
}

.msg-window .msg-window-body .msg-members .msg-username-hint-actions--one-button ._tv-button:first-child {
    margin-right: 0
}

.msg-window .msg-window-body .msg-members .msg-username-hint-actions .close {
    width: 100%
}

.msg-window-members-count {
    font-size: 10px;
    position: absolute;
    right: 8px;
    top: 0;
    transform: translateX(50%)
}

.tv-messages-header {
    padding: 3px
}

.tv-messages-header .widgetbar-widgetheader {
    margin: 0
}