.wrap-379NmUSU {
    direction: ltr;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

.wrap-379NmUSU svg {
    display: block
}

.scrollWrap-379NmUSU {
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%
}

.scrollWrap-379NmUSU::-webkit-scrollbar {
    height: 5px;
    width: 5px
}

.scrollWrap-379NmUSU::-webkit-scrollbar-thumb {
    background-color: #9598a1;
    border: 1px solid #f0f3fa;
    border-radius: 3px
}

html.theme-dark .scrollWrap-379NmUSU::-webkit-scrollbar-thumb {
    background-color: #363a45;
    border-color: #1e222d
}

.scrollWrap-379NmUSU::-webkit-scrollbar-track {
    background-color: initial;
    border-radius: 3px
}

.scrollWrap-379NmUSU::-webkit-scrollbar-corner {
    display: none
}

.scrollWrap-379NmUSU.noScrollBar-379NmUSU {
    -ms-overflow-style: none;
    padding-right: 100px
}

.scrollWrap-379NmUSU.noScrollBar-379NmUSU.sb-scrollbar-wrap {
    display: none
}

.scrollWrap-379NmUSU.noScrollBar-379NmUSU::-webkit-scrollbar {
    display: none;
    height: 0;
    width: 0
}

.scrollWrap-379NmUSU.noScrollBar-379NmUSU::-webkit-scrollbar-thumb,
.scrollWrap-379NmUSU.noScrollBar-379NmUSU::-webkit-scrollbar-track {
    display: none
}

.scrollWrap-379NmUSU.noScrollBar-379NmUSU::-webkit-scrollbar-corner {
    display: none
}

.content-379NmUSU {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    position: relative
}

.icon-379NmUSU {
    display: block;
    transition: transform 60ms ease
}

.scrollBot-379NmUSU,
.scrollTop-379NmUSU {
    align-items: center;
    background-color: #1e222d99;
    color: #fff;
    display: flex;
    height: 24px;
    justify-content: center;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: background-color .35s ease, transform .11666667s cubic-bezier(.55, .055, .675, .19);
    width: 100%
}

html.theme-dark .scrollBot-379NmUSU,
html.theme-dark .scrollTop-379NmUSU {
    background-color: #6a6d7899;
    color: #fff
}

.scrollBot-379NmUSU:active,
.scrollTop-379NmUSU:active {
    transition: background-color 58.33333ms ease, transform .11666667s cubic-bezier(.215, .61, .355, 1)
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .scrollBot-379NmUSU:hover,
    .scrollTop-379NmUSU:hover {
        transition: background-color 58.33333ms ease, transform .11666667s cubic-bezier(.215, .61, .355, 1)
    }
}

.scrollBot-379NmUSU:active .icon-379NmUSU,
.scrollTop-379NmUSU:active .icon-379NmUSU {
    transform: translateY(1px)
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .scrollBot-379NmUSU:hover .icon-379NmUSU,
    .scrollTop-379NmUSU:hover .icon-379NmUSU {
        transform: translateY(1px)
    }
}

.scrollBot-379NmUSU.isVisible-379NmUSU,
.scrollTop-379NmUSU.isVisible-379NmUSU {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}

.scrollTop-379NmUSU {
    top: 0;
    transform: translateY(-100%)
}

.scrollTop-379NmUSU .iconWrap-379NmUSU {
    transform: rotate(180deg)
}

.scrollBot-379NmUSU {
    bottom: 0;
    transform: translateY(100%)
}

.fadeBot-379NmUSU,
.fadeTop-379NmUSU {
    height: 24px;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%
}

.fadeBot-379NmUSU.isVisible-379NmUSU,
.fadeTop-379NmUSU.isVisible-379NmUSU {
    transform: translateY(0);
    transition-timing-function: cubic-bezier(.215, .61, .355, 1)
}

.fadeTop-379NmUSU {
    background-image: linear-gradient(0deg, #fff0, #fff);
    top: 0;
    transform: translateY(-100%)
}

html.theme-dark .fadeTop-379NmUSU {
    background-image: linear-gradient(0deg, #13172200, #131722)
}

.fadeBot-379NmUSU {
    background-image: linear-gradient(180deg, #fff0, #fff);
    bottom: 0;
    transform: translateY(100%)
}

html.theme-dark .fadeBot-379NmUSU {
    background-image: linear-gradient(180deg, #13172200, #131722)
}