.hidden-3HK0hl_S {
    visibility: hidden
}

.buttonIcon-3HK0hl_S {
    align-items: center;
    display: inline-flex;
    margin-right: 7px
}

.buttonIcon-3HK0hl_S svg {
    height: 100%;
    width: 100%
}

.buttonInner-3RPAzX-s {
    text-align: center
}

.hidden-3RPAzX-s {
    visibility: hidden
}