.pill-1GiNrmG7 {
    border-radius: 10px;
    font-size: 8px;
    font-weight: 700;
    height: 12px;
    line-height: 12px;
    padding: 0 4px;
    text-transform: uppercase
}

.color-1GiNrmG7 {
    color: #fff
}

.orange-1GiNrmG7 {
    background-color: #ff9800
}

.gray-1GiNrmG7 {
    background-color: #787b86
}

.green-1GiNrmG7 {
    background-color: #22ab94
}

.blue-1GiNrmG7 {
    background-color: #2962ff
}