.button-qM2OSl9- {
    align-items: center;
    background-color: var(--ui-lib-button-color-bg, var(--ui-lib-button-default-color-bg));
    border: 1px solid var(--ui-lib-button-color-border, var(--ui-lib-button-default-color-border));
    box-sizing: border-box;
    color: var(--ui-lib-button-color-content, var(--ui-lib-button-default-color-content));
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    padding-bottom: 0;
    padding-left: var(--ui-lib-button-padding-left, var(--ui-lib-button-default-padding-left));
    padding-right: var(--ui-lib-button-padding-right, var(--ui-lib-button-default-padding-right));
    padding-top: 0
}

.button-qM2OSl9-:active {
    transform: translateY(1px)
}

.button-qM2OSl9- {
    outline: none;
    overflow: visible;
    position: relative
}

.button-qM2OSl9-:focus {
    outline: none
}

.button-qM2OSl9-:focus-visible {
    outline: none
}

.button-qM2OSl9-:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 10px);
    left: -5px;
    pointer-events: none;
    position: absolute;
    top: -5px;
    width: calc(100% + 10px);
    z-index: 1
}

.button-qM2OSl9-:focus:after {
    display: block
}

.button-qM2OSl9-:focus-visible:after {
    display: block
}

.button-qM2OSl9-:focus:not(:focus-visible):after {
    display: none
}

.button-qM2OSl9-:after {
    border-color: var(--ui-lib-button-color-focus-outline, var(--ui-lib-button-default-color-focus-outline))
}

.content-1UNGmyXO {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.icon-only-3MOZiWvj .content-1UNGmyXO {
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.color-brand-eDTq6RMz.variant-primary-3m2-v4cq {
    --ui-lib-button-default-color-bg: #2962ff;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-brand-eDTq6RMz.variant-primary-3m2-v4cq {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-bg: #2962ff
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-brand-eDTq6RMz.variant-primary-3m2-v4cq:hover {
        --ui-lib-button-default-color-bg: #1e53e5;
        --ui-lib-button-default-color-border: #1e53e5;
        --ui-lib-button-default-color-content: #fff
    }
    html.theme-dark .color-brand-eDTq6RMz.variant-primary-3m2-v4cq:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #1e53e5;
        --ui-lib-button-default-color-bg: #1e53e5
    }
}

.color-brand-eDTq6RMz.variant-primary-3m2-v4cq:active {
    --ui-lib-button-default-color-bg: #1848cc;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-brand-eDTq6RMz.variant-primary-3m2-v4cq:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-bg: #1848cc
}

.color-brand-eDTq6RMz.variant-secondary-1Uk9Idy8 {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-content: #2962ff
}

html.theme-dark .color-brand-eDTq6RMz.variant-secondary-1Uk9Idy8 {
    --ui-lib-button-default-color-content: #2962ff;
    --ui-lib-button-default-color-border: #2962ff;
    --ui-lib-button-default-color-bg: #0000
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-brand-eDTq6RMz.variant-secondary-1Uk9Idy8:hover {
        --ui-lib-button-default-color-bg: #1e53e5;
        --ui-lib-button-default-color-border: #1e53e5;
        --ui-lib-button-default-color-content: #fff
    }
    html.theme-dark .color-brand-eDTq6RMz.variant-secondary-1Uk9Idy8:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #1e53e5;
        --ui-lib-button-default-color-bg: #1e53e5
    }
}

.color-brand-eDTq6RMz.variant-secondary-1Uk9Idy8:active {
    --ui-lib-button-default-color-bg: #1848cc;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-brand-eDTq6RMz.variant-secondary-1Uk9Idy8:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #1848cc;
    --ui-lib-button-default-color-bg: #1848cc
}

.color-gray-3HYlDQXq.variant-primary-3m2-v4cq {
    --ui-lib-button-default-color-bg: #f0f3fa;
    --ui-lib-button-default-color-border: #f0f3fa;
    --ui-lib-button-default-color-content: #131722
}

html.theme-dark .color-gray-3HYlDQXq.variant-primary-3m2-v4cq {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #2a2e39;
    --ui-lib-button-default-color-bg: #2a2e39
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-gray-3HYlDQXq.variant-primary-3m2-v4cq:hover {
        --ui-lib-button-default-color-bg: #e0e3eb;
        --ui-lib-button-default-color-border: #e0e3eb;
        --ui-lib-button-default-color-content: #131722
    }
    html.theme-dark .color-gray-3HYlDQXq.variant-primary-3m2-v4cq:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #363a45;
        --ui-lib-button-default-color-bg: #363a45
    }
}

.color-gray-3HYlDQXq.variant-primary-3m2-v4cq:active {
    --ui-lib-button-default-color-bg: #e3effd;
    --ui-lib-button-default-color-border: #e3effd;
    --ui-lib-button-default-color-content: #2962ff
}

html.theme-dark .color-gray-3HYlDQXq.variant-primary-3m2-v4cq:active {
    --ui-lib-button-default-color-content: #2962ff;
    --ui-lib-button-default-color-border: #132042;
    --ui-lib-button-default-color-bg: #132042
}

.color-gray-3HYlDQXq.variant-secondary-1Uk9Idy8 {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #e0e3eb;
    --ui-lib-button-default-color-content: #131722
}

html.theme-dark .color-gray-3HYlDQXq.variant-secondary-1Uk9Idy8 {
    --ui-lib-button-default-color-content: #d1d4dc;
    --ui-lib-button-default-color-border: #434651;
    --ui-lib-button-default-color-bg: #0000
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-gray-3HYlDQXq.variant-secondary-1Uk9Idy8:hover {
        --ui-lib-button-default-color-bg: #f0f3fa;
        --ui-lib-button-default-color-border: #f0f3fa;
        --ui-lib-button-default-color-content: #131722
    }
    html.theme-dark .color-gray-3HYlDQXq.variant-secondary-1Uk9Idy8:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #2a2e39;
        --ui-lib-button-default-color-bg: #2a2e39
    }
}

.color-gray-3HYlDQXq.variant-secondary-1Uk9Idy8:active {
    --ui-lib-button-default-color-bg: #e0e3eb;
    --ui-lib-button-default-color-border: #e0e3eb;
    --ui-lib-button-default-color-content: #131722
}

html.theme-dark .color-gray-3HYlDQXq.variant-secondary-1Uk9Idy8:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #363a45;
    --ui-lib-button-default-color-bg: #363a45
}

.color-green-2oUhAFCl.variant-primary-3m2-v4cq {
    --ui-lib-button-default-color-bg: #089981;
    --ui-lib-button-default-color-border: #089981;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-green-2oUhAFCl.variant-primary-3m2-v4cq {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #089981;
    --ui-lib-button-default-color-bg: #089981
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-green-2oUhAFCl.variant-primary-3m2-v4cq:hover {
        --ui-lib-button-default-color-bg: #06806b;
        --ui-lib-button-default-color-border: #06806b;
        --ui-lib-button-default-color-content: #fff
    }
    html.theme-dark .color-green-2oUhAFCl.variant-primary-3m2-v4cq:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #06806b;
        --ui-lib-button-default-color-bg: #06806b
    }
}

.color-green-2oUhAFCl.variant-primary-3m2-v4cq:active {
    --ui-lib-button-default-color-bg: #056656;
    --ui-lib-button-default-color-border: #056656;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-green-2oUhAFCl.variant-primary-3m2-v4cq:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #056656;
    --ui-lib-button-default-color-bg: #056656
}

.color-green-2oUhAFCl.variant-secondary-1Uk9Idy8 {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #089981;
    --ui-lib-button-default-color-content: #089981
}

html.theme-dark .color-green-2oUhAFCl.variant-secondary-1Uk9Idy8 {
    --ui-lib-button-default-color-content: #089981;
    --ui-lib-button-default-color-border: #089981;
    --ui-lib-button-default-color-bg: #0000
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-green-2oUhAFCl.variant-secondary-1Uk9Idy8:hover {
        --ui-lib-button-default-color-bg: #06806b;
        --ui-lib-button-default-color-border: #06806b;
        --ui-lib-button-default-color-content: #fff
    }
    html.theme-dark .color-green-2oUhAFCl.variant-secondary-1Uk9Idy8:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #06806b;
        --ui-lib-button-default-color-bg: #06806b
    }
}

.color-green-2oUhAFCl.variant-secondary-1Uk9Idy8:active {
    --ui-lib-button-default-color-bg: #056656;
    --ui-lib-button-default-color-border: #056656;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-green-2oUhAFCl.variant-secondary-1Uk9Idy8:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #056656;
    --ui-lib-button-default-color-bg: #056656
}

.color-red-1RbzZRrI.variant-primary-3m2-v4cq {
    --ui-lib-button-default-color-bg: #f23645;
    --ui-lib-button-default-color-border: #f23645;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-red-1RbzZRrI.variant-primary-3m2-v4cq {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #f23645;
    --ui-lib-button-default-color-bg: #f23645
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-red-1RbzZRrI.variant-primary-3m2-v4cq:hover {
        --ui-lib-button-default-color-bg: #cc2f3c;
        --ui-lib-button-default-color-border: #cc2f3c;
        --ui-lib-button-default-color-content: #fff
    }
    html.theme-dark .color-red-1RbzZRrI.variant-primary-3m2-v4cq:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #cc2f3c;
        --ui-lib-button-default-color-bg: #cc2f3c
    }
}

.color-red-1RbzZRrI.variant-primary-3m2-v4cq:active {
    --ui-lib-button-default-color-bg: #b22833;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-red-1RbzZRrI.variant-primary-3m2-v4cq:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-bg: #b22833
}

.color-red-1RbzZRrI.variant-secondary-1Uk9Idy8 {
    --ui-lib-button-default-color-bg: #0000;
    --ui-lib-button-default-color-border: #f23645;
    --ui-lib-button-default-color-content: #f23645
}

html.theme-dark .color-red-1RbzZRrI.variant-secondary-1Uk9Idy8 {
    --ui-lib-button-default-color-content: #f23645;
    --ui-lib-button-default-color-border: #f23645;
    --ui-lib-button-default-color-bg: #0000
}

@media (any-hover:hover),
(min--moz-device-pixel-ratio:0) {
    .color-red-1RbzZRrI.variant-secondary-1Uk9Idy8:hover {
        --ui-lib-button-default-color-bg: #cc2f3c;
        --ui-lib-button-default-color-border: #cc2f3c;
        --ui-lib-button-default-color-content: #fff
    }
    html.theme-dark .color-red-1RbzZRrI.variant-secondary-1Uk9Idy8:hover {
        --ui-lib-button-default-color-content: #fff;
        --ui-lib-button-default-color-border: #cc2f3c;
        --ui-lib-button-default-color-bg: #cc2f3c
    }
}

.color-red-1RbzZRrI.variant-secondary-1Uk9Idy8:active {
    --ui-lib-button-default-color-bg: #b22833;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-content: #fff
}

html.theme-dark .color-red-1RbzZRrI.variant-secondary-1Uk9Idy8:active {
    --ui-lib-button-default-color-content: #fff;
    --ui-lib-button-default-color-border: #b22833;
    --ui-lib-button-default-color-bg: #b22833
}

.color-brand-eDTq6RMz,
.color-gray-3HYlDQXq,
html.theme-dark .color-brand-eDTq6RMz,
html.theme-dark .color-gray-3HYlDQXq {
    --ui-lib-button-default-color-focus-outline: #2962ffcc
}

.color-green-2oUhAFCl,
html.theme-dark .color-green-2oUhAFCl {
    --ui-lib-button-default-color-focus-outline: #089981cc
}

.color-red-1RbzZRrI,
html.theme-dark .color-red-1RbzZRrI {
    --ui-lib-button-default-color-focus-outline: #f23645cc
}

.variant-primary-3m2-v4cq:disabled,
.variant-primary-3m2-v4cq[aria-disabled=true] {
    transform: none
}

.variant-primary-3m2-v4cq:disabled:after,
.variant-primary-3m2-v4cq[aria-disabled=true]:after {
    display: none
}

.variant-primary-3m2-v4cq:disabled,
.variant-primary-3m2-v4cq:disabled:link,
.variant-primary-3m2-v4cq:disabled:visited,
.variant-primary-3m2-v4cq[aria-disabled=true],
.variant-primary-3m2-v4cq[aria-disabled=true]:link,
.variant-primary-3m2-v4cq[aria-disabled=true]:visited {
    background-color: #e0e3eb;
    border-color: #e0e3eb;
    color: #b2b5be
}

html.theme-dark .variant-primary-3m2-v4cq:disabled,
html.theme-dark .variant-primary-3m2-v4cq:disabled:link,
html.theme-dark .variant-primary-3m2-v4cq:disabled:visited,
html.theme-dark .variant-primary-3m2-v4cq[aria-disabled=true],
html.theme-dark .variant-primary-3m2-v4cq[aria-disabled=true]:link,
html.theme-dark .variant-primary-3m2-v4cq[aria-disabled=true]:visited {
    background-color: #363a45;
    border-color: #363a45;
    color: #5d606b
}

.variant-secondary-1Uk9Idy8:disabled,
.variant-secondary-1Uk9Idy8[aria-disabled=true] {
    transform: none
}

.variant-secondary-1Uk9Idy8:disabled:after,
.variant-secondary-1Uk9Idy8[aria-disabled=true]:after {
    display: none
}

.variant-secondary-1Uk9Idy8:disabled,
.variant-secondary-1Uk9Idy8:disabled:link,
.variant-secondary-1Uk9Idy8:disabled:visited,
.variant-secondary-1Uk9Idy8[aria-disabled=true],
.variant-secondary-1Uk9Idy8[aria-disabled=true]:link,
.variant-secondary-1Uk9Idy8[aria-disabled=true]:visited {
    background-color: initial;
    border-color: #e0e3eb;
    color: #b2b5be
}

html.theme-dark .variant-secondary-1Uk9Idy8:disabled,
html.theme-dark .variant-secondary-1Uk9Idy8:disabled:link,
html.theme-dark .variant-secondary-1Uk9Idy8:disabled:visited,
html.theme-dark .variant-secondary-1Uk9Idy8[aria-disabled=true],
html.theme-dark .variant-secondary-1Uk9Idy8[aria-disabled=true]:link,
html.theme-dark .variant-secondary-1Uk9Idy8[aria-disabled=true]:visited {
    background-color: initial;
    border-color: #363a45;
    color: #5d606b
}

.size-xsmall-1UtgdwJA {
    --ui-lib-button-default-padding-left: 11px;
    --ui-lib-button-default-padding-right: 11px;
    border-radius: 6px;
    height: 28px
}

.size-xsmall-1UtgdwJA:after {
    border-radius: 10px
}

.size-small-2YFjX8Gj {
    --ui-lib-button-default-padding-left: 15px;
    --ui-lib-button-default-padding-right: 15px;
    border-radius: 8px;
    height: 34px
}

.size-small-2YFjX8Gj:after {
    border-radius: 12px
}

.size-medium-2nH4uA9w {
    --ui-lib-button-default-padding-left: 23px;
    --ui-lib-button-default-padding-right: 23px;
    border-radius: 8px;
    height: 40px
}

.size-medium-2nH4uA9w:after {
    border-radius: 12px
}

.size-large-2XXsyjkq {
    --ui-lib-button-default-padding-left: 31px;
    --ui-lib-button-default-padding-right: 31px;
    border-radius: 8px;
    height: 48px
}

.size-large-2XXsyjkq:after {
    border-radius: 12px
}

.size-xlarge-2FzvZzq6 {
    --ui-lib-button-default-padding-left: 31px;
    --ui-lib-button-default-padding-right: 31px;
    border-radius: 12px;
    height: 56px
}

.size-xlarge-2FzvZzq6:after {
    border-radius: 16px
}

.size-small-2YFjX8Gj.icon-only-3MOZiWvj {
    --ui-lib-button-default-padding-left: 7px;
    --ui-lib-button-default-padding-right: 7px
}

.size-small-2YFjX8Gj:not(.icon-only-3MOZiWvj).with-start-icon-9wsLqtS_ {
    --ui-lib-button-default-padding-left: 15px
}

.size-small-2YFjX8Gj:not(.icon-only-3MOZiWvj).with-end-icon-QoUMC8CG {
    --ui-lib-button-default-padding-right: 15px
}

.size-small-2YFjX8Gj:not(.icon-only-3MOZiWvj) .start-icon-wrap-2aT5KsIF {
    margin-right: 6px
}

.size-small-2YFjX8Gj:not(.icon-only-3MOZiWvj) .end-icon-wrap-Pxzjlxw8 {
    margin-left: 6px
}

.size-medium-2nH4uA9w.icon-only-3MOZiWvj {
    --ui-lib-button-default-padding-left: 10px;
    --ui-lib-button-default-padding-right: 10px
}

.size-medium-2nH4uA9w:not(.icon-only-3MOZiWvj).with-start-icon-9wsLqtS_ {
    --ui-lib-button-default-padding-left: 23px
}

.size-medium-2nH4uA9w:not(.icon-only-3MOZiWvj).with-end-icon-QoUMC8CG {
    --ui-lib-button-default-padding-right: 23px
}

.size-medium-2nH4uA9w:not(.icon-only-3MOZiWvj) .start-icon-wrap-2aT5KsIF {
    margin-right: 8px
}

.size-medium-2nH4uA9w:not(.icon-only-3MOZiWvj) .end-icon-wrap-Pxzjlxw8 {
    margin-left: 8px
}

.size-large-2XXsyjkq.icon-only-3MOZiWvj {
    --ui-lib-button-default-padding-left: 9px;
    --ui-lib-button-default-padding-right: 9px
}

.size-large-2XXsyjkq:not(.icon-only-3MOZiWvj).with-start-icon-9wsLqtS_ {
    --ui-lib-button-default-padding-left: 26px
}

.size-large-2XXsyjkq:not(.icon-only-3MOZiWvj).with-end-icon-QoUMC8CG {
    --ui-lib-button-default-padding-right: 26px
}

.size-large-2XXsyjkq:not(.icon-only-3MOZiWvj) .start-icon-wrap-2aT5KsIF {
    margin-right: 5px
}

.size-large-2XXsyjkq:not(.icon-only-3MOZiWvj) .end-icon-wrap-Pxzjlxw8 {
    margin-left: 5px
}

.size-xlarge-2FzvZzq6.icon-only-3MOZiWvj {
    --ui-lib-button-default-padding-left: 13px;
    --ui-lib-button-default-padding-right: 13px
}

.size-xlarge-2FzvZzq6:not(.icon-only-3MOZiWvj).with-start-icon-9wsLqtS_ {
    --ui-lib-button-default-padding-left: 26px
}

.size-xlarge-2FzvZzq6:not(.icon-only-3MOZiWvj).with-end-icon-QoUMC8CG {
    --ui-lib-button-default-padding-right: 26px
}

.size-xlarge-2FzvZzq6:not(.icon-only-3MOZiWvj) .start-icon-wrap-2aT5KsIF {
    margin-right: 7px
}

.size-xlarge-2FzvZzq6:not(.icon-only-3MOZiWvj) .end-icon-wrap-Pxzjlxw8 {
    margin-left: 7px
}

.size-xsmall-1UtgdwJA .content-1UNGmyXO {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px
}

.size-small-2YFjX8Gj .content-1UNGmyXO {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px
}

.size-large-2XXsyjkq .content-1UNGmyXO,
.size-medium-2nH4uA9w .content-1UNGmyXO {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px
}

.size-xlarge-2FzvZzq6 .content-1UNGmyXO {
    font-feature-settings: "tnum" on, "lnum" on;
    font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, SegoeUI, Ubuntu, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px
}

.animated-FJhsKjPT {
    transition-duration: .2s;
    transition-property: border-color, background-color, color;
    transition-timing-function: ease-in-out
}

.animated-FJhsKjPT:after {
    display: block;
    opacity: 0;
    transition: opacity .2s ease-in-out, visibility 0s ease-in-out .2s;
    visibility: hidden
}

.animated-FJhsKjPT:focus:after {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    visibility: visible
}

.animated-FJhsKjPT:focus-visible:after {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    visibility: visible
}

.animated-FJhsKjPT:focus:not(:focus-visible):after {
    opacity: 0;
    transition: opacity .2s ease-in-out, visibility 0s ease-in-out .2s;
    visibility: hidden
}

.stretch-1Wufk-aY {
    width: 100%
}

.button-qM2OSl9-.grouped-1mJ_9XNG.adjust-position-22XnoSny:not(.first-row-okSvkChI) {
    margin-top: -1px
}

.button-qM2OSl9-.grouped-1mJ_9XNG.adjust-position-22XnoSny:not(.first-col-3cdfq6Yc) {
    margin-left: -1px;
    max-width: calc(100% + 1px);
    width: calc(100% + 1px)
}

.button-qM2OSl9-.grouped-1mJ_9XNG.adjust-position-22XnoSny:active:not(:disabled):not([aria-disabled=true]) {
    transform: none
}

.button-qM2OSl9-.grouped-1mJ_9XNG:focus {
    z-index: 1
}

.button-qM2OSl9-.grouped-1mJ_9XNG:focus-visible {
    z-index: 1
}

.button-qM2OSl9-.grouped-1mJ_9XNG:focus:not(:focus-visible) {
    z-index: auto
}

.button-qM2OSl9-.grouped-1mJ_9XNG.no-corner-top-left-1dhEuLwK,
.button-qM2OSl9-.grouped-1mJ_9XNG.no-corner-top-left-1dhEuLwK:after {
    border-top-left-radius: 0
}

.button-qM2OSl9-.grouped-1mJ_9XNG.no-corner-top-right-2B-9Lz7Y,
.button-qM2OSl9-.grouped-1mJ_9XNG.no-corner-top-right-2B-9Lz7Y:after {
    border-top-right-radius: 0
}

.button-qM2OSl9-.grouped-1mJ_9XNG.no-corner-bottom-right-2YOfeKyh,
.button-qM2OSl9-.grouped-1mJ_9XNG.no-corner-bottom-right-2YOfeKyh:after {
    border-bottom-right-radius: 0
}

.button-qM2OSl9-.grouped-1mJ_9XNG.no-corner-bottom-left-3MsE9Q0B,
.button-qM2OSl9-.grouped-1mJ_9XNG.no-corner-bottom-left-3MsE9Q0B:after {
    border-bottom-left-radius: 0
}

.end-icon-wrap-Pxzjlxw8,
.start-icon-wrap-2aT5KsIF {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    max-height: 28px;
    max-width: 28px;
    min-height: 18px;
    min-width: 18px
}