.component{
    border-radius: 6px;
    border: 1px solid #333;
    padding: 1rem 7vw;
  }
  .component:hover{
    border-radius: 6px;
    border: 1px solid rgb(28, 219, 38);
    transition-duration: 250ms;
  }
  .image{
    height:4rem;
    width:4rem;
    margin-right : 1em ;
  }